<div class="campaign-form">
  <div class="page-form-wrapper" id="trigger-scroll">
    <div class="form-title">
      <span *ngIf="editMode">REQUEST FOR CAMPAIGN</span>
      <span *ngIf="!editMode">REQUEST FOR CAMPAIGN VIEW</span>
    </div>
    <div class="container-fluid page-form-body py-2">
      <div class="row" *ngIf="!editMode || reSubmit">
        <div class="form-group col-12 col-md-4">
          <label for="refId">Reference Id</label>
          <input
            type="text"
            disabled
            class="form-control"
            [(ngModel)]="refId"
            id="refId">
        </div>
        <div class="form-group col-12 col-md-4">
          <label for="Date">Date</label>
          <div class="position-relative">
            <input
              type="text"
              disabled
              class="form-control"
              value="{{date | date:'dd/MM/yyyy'}}"/>
            <i class="far fa-calendar date" (click)="dp.toggle()"></i>
          </div>
        </div>
        <div class="form-group col-12 col-md-4">
          <label for="sourceou">Source Office/Department</label>
          <input
            type="text"
            disabled
            class="form-control"
            [(ngModel)]="sourceou"
            id="sourceou">
        </div>
        <div class="form-group col-12 col-md-4">
          <label for="source-name">Source Name</label>
          <input
            type="text"
            disabled
            class="form-control"
            [(ngModel)]="sourceName"
            id="sourceName">
        </div>
      </div>
      <hr *ngIf="!editMode"/>
      <div class="row">
        <div class="form-group col-12 col-md-4">
          <label for="approverDept">Approver Office/Department</label>
          <ng-select
            class="approverDept-ddown"
            [disabled]="!editMode"
            [items]="approverDeptList"
            [closeOnSelect]="true"
            bindLabel="OrganizationUnits"
            (change)="onDepartmentSelect()"
            bindValue="OrganizationID"
            placeholder="Select Approver Department"
            [(ngModel)]="approverDept">
          </ng-select>
        </div>
        <div class="form-group col-12 col-md-4">
          <label for="approvers">Approver Name</label>
          <ng-select
            class="approvers-ddown"
            [disabled]="!editMode"
            [items]="approverList"
            [closeOnSelect]="true"
            bindLabel="EmployeeName"
            bindValue="UserID"
            placeholder="Select Approver"
            [(ngModel)]="approver">
          </ng-select>
        </div>
        <div class="form-group col-12 col-md-4">
          <label for="projectDetail">Initiative / Activity / Project details</label>
          <input
            type="text"
            [disabled]="!editMode"
            class="form-control"
            [(ngModel)]="initiativeProjectActivity"
            placeholder="Enter Initiative / Activity / Project details"
            (change)="validate()"
            id="projectDetail">
        </div>
        <div class="form-group col-12 col-md-4">
          <label for="startDate">Campaign Start Date</label>
          <div class="position-relative">
            <input
              type="text"
              [disabled]="!editMode"
              placeholder="Select Campaign Start Date"
              class="form-control"
              bsDatepicker
              #dpSD="bsDatepicker"
              [(ngModel)]="campaignStartDate"
              [bsConfig]="bsConfig">
              <span (click)="editMode ? dpSD.toggle() : ''">
                <i class="far fa-calendar date"></i>
              </span>
          </div>
        </div>
        <div class="form-group col-12 col-md-4" [ngClass]="{'required':editMode}">
          <label for="campaignPeriod">Campaign Period</label>
          <input
            type="text"
            [disabled]="!editMode"
            class="form-control"
            [(ngModel)]="campaignPeriod"
            placeholder="Enter Campaign Period"
            (blur)="validate()"
            id="campaignPeriod">
        </div>
        <div class="form-group col-12 col-md-4" [ngClass]="{'required':editMode}">
          <label for="diwanRole">Diwan's Role</label>
          <input
            type="text"
            [disabled]="!editMode"
            placeholder="Enter Diwan's Role"
            class="form-control"
            [(ngModel)]="diwanRole"
            (blur)="validate()"
            id="diwanRole">
        </div>
        <div class="form-group col-12 col-md-4" [ngClass]="{'required':editMode}">
          <label for="otherEntities">Other Entities</label>
          <input
            type="text"
            [disabled]="!editMode"
            placeholder="Enter Other Entities"
            class="form-control"
            [(ngModel)]="otherEntities"
            (blur)="validate()"
            id="otherEntities">
        </div>
        <div class="form-group col-12 col-md-4" [ngClass]="{'required':editMode}">
          <label for="targetAudience">Target Audience</label>
          <input
            type="text"
            [disabled]="!editMode"
            placeholder="Enter Target Audience"
            class="form-control"
            [(ngModel)]="targetAudience"
            (blur)="validate()"
            id="targetAudience">
        </div>
        <div class="form-group col-12 col-md-4" [ngClass]="{'required':editMode}">
          <label for="location">Location</label>
          <input
            type="text"
            placeholder="Enter Location"
            [disabled]="!editMode"
            class="form-control"
            [(ngModel)]="location"
            (blur)="validate()"
            id="location">
        </div>
        <div class="form-group col-12 col-md-4" [ngClass]="{'required':editMode}">
          <label for="language">Languages</label>
          <ng-select
            class="approverDept-ddown"
            [disabled]="!editMode"
            [items]="languageList"
            [closeOnSelect]="true"
            (change)="validate()"
            bindLabel="LanguageName"
            bindValue="LanguageID"
            placeholder="Select Languages"
            [(ngModel)]="language">
          </ng-select>
        </div>
        <div class="form-group col-12 col-md-4" [ngClass]="{'required':editMode}">
          <label for="mediaChannel">Media Channel</label>
          <ng-select
            class="approverDept-ddown"
            [disabled]="!editMode"
            [items]="mediaChannelList"
            [closeOnSelect]="true"
            (change)="validate()"
            bindLabel="MediaChannelName"
            bindValue="MediaChannelID"
            placeholder="Select Media Channel"
            [(ngModel)]="mediaChannel">
          </ng-select>
        </div>
        <div class="form-group col-12" [ngClass]="{'required':editMode}">
          <label for="notes">Notes</label>
          <textarea
            [disabled]="!editMode"
            class="form-control"
            placeholder="Enter Notes"
            id="notes"
            (ngModelChange)="validate()"
            [(ngModel)]="notes"></textarea>
        </div>
        <div class="form-group col-12" [ngClass]="{'required':editMode}">
          <label for="requestDetails">Request Details</label>
          <textarea
            [disabled]="!editMode"
            placeholder="Enter Request Details"
            class="form-control"
            id="requestDetails"
            (ngModelChange)="validate()"
            [(ngModel)]="requestDetails"></textarea>
        </div>
        <div class="form-group col-12" [ngClass]="{'required':editMode}">
          <label for="generalInformation">General Information</label>
          <textarea
            [disabled]="!editMode"
            placeholder="Enter General Information"
            class="form-control"
            id="generalInformation"
            (ngModelChange)="validate()"
            [(ngModel)]="generalInformation"></textarea>
        </div>
        <div class="form-group col-12" [ngClass]="{'required':editMode}">
          <label for="mainObjective">Main Objective</label>
          <textarea
            [disabled]="!editMode"
            placeholder="Enter Main Objective"
            class="form-control"
            id="mainObjective"
            (ngModelChange)="validate()"
            [(ngModel)]="mainObjective"></textarea>
        </div>
        <div class="form-group col-12" [ngClass]="{'required':editMode}">
          <label for="mainIdea">Main Idea</label>
          <textarea
            [disabled]="!editMode"
            placeholder="Enter Main Idea"
            class="form-control"
            id="mainIdea"
            (ngModelChange)="validate()"
            [(ngModel)]="mainIdea"></textarea>
        </div>
        <div class="form-group col-12" [ngClass]="{'required':editMode}">
          <label for="planVision">How this activity can fit the strategic goals, plan and vision of RRC?</label>
          <textarea
            [disabled]="!editMode"
            placeholder="Enter How this activity can fit the strategic goals, plan and vision of RRC?"
            class="form-control"
            id="planVision"
            (ngModelChange)="validate()"
            [(ngModel)]="planVision"></textarea>
        </div>
        <div class="form-group col-12 col-md-6">
          <label for="certificate">Attachments</label>
          <input
            #fileInput
            [disabled]="!editMode"
            multiple
            type="file"
            (change) = "handleFileUpload($event)"
            name="Attachments"
            class="form-control attachment"
            name="certificate"
            id="certificate"
            placeholder="Select file" />
          <div class="col-12" *ngIf="uploadProcess">
            <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{'width':uploadPercentage+'%'}"
                aria-valuenow="uploadPercentage" aria-valuemin="0" aria-valuemax="100">{{uploadPercentage}}%</div>
            </div>
          </div>
          <div class="col-12" *ngIf="attachments.length>0">
              <label for="Keywords">Attachment List</label>
              <div class="row border font-weight-bold">
                <div class="col border">File Name</div>
                <div class="col border text-center" *ngIf="editMode">Action</div>
              </div>
              <div *ngFor="let file of attachments; let i = index">
                <div class="row">
                  <div class="col{{editMode ? '-6' : ''}} border">
                    <a class="cursor break-word"
                    href="{{downloadUrl}}?filename={{file.AttachmentsName}}&guid={{file.AttachmentGuid}}" target="_self" download>{{file.AttachmentsName}}</a>
                  </div>
                  <div class="col-6 border text-center" *ngIf="editMode" >
                    <span (click)="deleteAttachment(i)"><i class="fas fa-trash-alt"></i></span>
                  </div>
                </div>
              </div>
          </div>
        </div>

      </div>
      <div class="page-form-wrapper my-3 p-4">
        <div class="row ">
          <div class="col-12 comment">
            <app-comment-section
              [comments]="RequestComments"
              [commentType]="'Campaign'"
              [moduleId]="CampaignID"
              [moduleNameID]="'CampaignID'">
            </app-comment-section>
            <div class="row comment-section">
              <div class="col-2 com-md-2 profile">
                <div class="comment-section-img">
                  <img src="{{userProfileImg}}" class="user-ProfileImg"/>
                </div>
              </div>
              <div class="col-10 col-md-10 comment-text">
                <div class="comment-section-user-info">
                  <p class="comment-section-username">{{currentUser.username}}</p>
                </div>
                <div class="comment-section-content">
                  <textarea
                    class="form-control vertical-resize"
                    [(ngModel)]="comment"
                    id="NewCommentContent"
                    [disabled]="!canComment || status == 87"
                    placeholder=""
                    (ngModelChange)="commentValid()"
                    rows="3">
                  </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center px-3">
        <div class="col-auto p-1" *ngIf="editMode && !reSubmit && !id">
          <button
            [ngClass]="{'disabled-btn': inProgress || !validate() }"
            [disabled]="inProgress || !validate()"
            class="rounded-btn"
            (click)="sendRequest()">
            SUBMIT
          </button>
        </div>
        <div class="col-auto p-1" *ngIf="editMode && reSubmit && screenStatus == 'edit'">
          <button
            [ngClass]="{'disabled-btn': inProgress || !validate() }"
            [disabled]=" inProgress || !validate()"
            class="rounded-btn"
            (click)="ReSubmit()">
            SUBMIT
          </button>
        </div>
        <div class="col-auto p-1" *ngIf="!editMode && status == 86 && isApprover">
          <button
            class="rounded-btn"
            [ngClass]="{'disabled-btn': inProgress }"
            [disabled]="inProgress"
            (click)="updateAction('Approve')">
            APPROVE
          </button>
        </div>
        <div class="col-auto p-1" *ngIf="!editMode && status == 86 && isApprover">
          <button
            class="rounded-btn"
            [ngClass]="{'disabled-btn': inProgress || !isComment }"
            [disabled]="inProgress || !isComment"
            (click)="onEscalate('Escalate')">
            ESCALATE
          </button>
        </div>
        <div class="col-auto p-1" *ngIf="!editMode && status == 86 && isApprover">
          <button
            class="rounded-btn"
            [ngClass]="{'disabled-btn': inProgress || !isComment }"
            [disabled]="inProgress || !isComment"
            (click)="updateAction('Reject')">
            REJECT
          </button>
        </div>
  
        <div class="col-auto p-1" *ngIf="!editMode && status == 86 && isApprover">
          <button
            class="rounded-btn"
            [ngClass]="{'disabled-btn': inProgress || !isComment }"
            [disabled]="inProgress || !isComment"
            (click)="updateAction('ReturnForInfo')">
            RETURN FOR INFO
          </button>
        </div>
        <div class="col-auto p-1" *ngIf="!editMode && status == 82 && (OrgUnitID == 17) && IsOrgHead && !isAssignedToMe">
          <button
            class="rounded-btn"
            [ngClass]="{'disabled-btn': inProgress }"
            [disabled]="inProgress"
            (click)="onAssignTo()">
            ASSIGN
          </button>
        </div>
        <div class="col-auto p-1" *ngIf="!editMode && status == 82 && (OrgUnitID == 17) && !IsOrgHead && !isAssignedToMe">
          <button
            class="rounded-btn"
            [ngClass]="{'disabled-btn': inProgress }"
            [disabled]="inProgress"
            (click)="updateAction('AssignToMe')">
            ASSIGN TO ME
          </button>
        </div>
        <div class="col-auto p-1" *ngIf="!editMode  && status == 82 && (OrgUnitID == 17) &&  isAssignedToMe">
          <button
            class="rounded-btn"
            [ngClass]="{'disabled-btn': inProgress }"
            [disabled]="inProgress"
            (click)="updateAction('Close')">
            CLOSE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
