
.log-fine-btn {
    margin: auto;
}

.plate-number {
    padding-left: 15px;
    padding-top: 8px;
}

.list-btn{
    background: #b59647;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 0px 20px;
  }

  .highlight{ background-color:#726236 }

  