<section class="content-header">
  <h1>
    Abuse Reports
    <small>it all starts here</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="/"><em class="fa fa-dashboard"></em> Home</a></li>
    <li class="active">Abuse Reports</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <app-pagetop></app-pagetop>
  <!-- top toolbar btns :End -->
  <!-- Default box -->
  <p-toast position="center"></p-toast>
  <form action="">

    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Abuse Reports</h3>

      </div>
      <div class="box-body">

        <div class="container-fluid">
          <div class="row">
              <form class="ng-untouched ng-pristine ng-valid">
                <div class="d-flex search-filter-row">
              <div class="row">
                <div class="col-md-4">
              <label for="" class="">Search</label>
              <input class="form-control" name="ressrch" [(ngModel)]="searchKeyword">
            </div>
            <div class="col-md-1">
              <div class="form-group search-btn-col" style="margin-top: 24px;">
                <button class="btn btn-primary text-uppercase txtside-btn txtht-btn" type="submit" (click)="search()">
                  Search
                </button>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group clear-btn-col" style="margin-top: 24px;">
                <button class="btn btn-light text-uppercase txtside-btn txtht-btn" (click)="clearSearch()" type="button">
                  Clear
                </button>
              </div>
            </div>
              </div>
            <!-- <div class="col-xs-6"> 
            <div class="form-group search-btn-col">
              <button class="btn btn-primary text-uppercase txtside-btn txtht-btn" type="submit" (click)="search()">
                Search
              </button>
            </div>
            <div class="form-group clear-btn-col ml-3">
              <button class="btn btn-light text-uppercase txtside-btn txtht-btn" (click)="clearSearch()" type="button">
               Clear
              </button>
            </div>
            </div> -->
                </div>
          </form>
          </div>
        </div>

        <div class="form">
          <div class="table-responsive">
            <table class="table table-bordered table-hover datatable" aria-describedby="abuse reports">
              <thead>
              <tr>
                <th id="title" data-toggle="tooltip" title="Sort By Title" (click)="Clickingevent($event, 1)">Title
                  <span *ngIf="spanColNo=='asc-1' && Clickfield=='title'" id="title" disabled="true" class="glyphicon glyphicon-chevron-up" style="float:right;"></span>
                  <span *ngIf="spanColNo=='desc-1' && Clickfield=='title'" id="title" class="glyphicon glyphicon-chevron-down" style="float:right;"></span>
                </th>
                <th id="reasoncategory" data-toggle="tooltip" title="Sort By Reason Category" style="width: 150px;" (click)="Clickingevent($event, 2)">Reason Category
                  <span *ngIf="spanColNo=='asc-2' && Clickfield=='desc'" id="desc" disabled="true" class="glyphicon glyphicon-chevron-up" style="float:right;"></span>
                  <span *ngIf="spanColNo=='desc-2' && Clickfield=='desc'" id="desc" class="glyphicon glyphicon-chevron-down" style="float:right;"></span>
               </th>
                <th id="desc" data-toggle="tooltip" title="Sort By Description" (click)="Clickingevent($event, 3)">Description
                  <span *ngIf="spanColNo=='asc-3' && Clickfield=='desc'" id="desc" disabled="true" class="glyphicon glyphicon-chevron-up" style="float:right;"></span>
                  <span *ngIf="spanColNo=='desc-3' && Clickfield=='desc'" id="desc" class="glyphicon glyphicon-chevron-down" style="float:right;"></span>
               </th>
                <th id="type" data-toggle="tooltip" title="Sort By Type" (click)="Clickingevent($event, 4)">Type
                  <span *ngIf="spanColNo=='asc-4' && Clickfield=='type'" id="type" disabled="true" class="glyphicon glyphicon-chevron-up" style="float:right;"></span>
                  <span *ngIf="spanColNo=='desc-4' && Clickfield=='type'" id="type" class="glyphicon glyphicon-chevron-down" style="float:right;"></span>
                </th>
                <th id="abusecount" data-toggle="tooltip" title="Sort By AbuseCount" style="width: 25px;" (click)="Clickingevent($event, 5)">Abuse Count
                  <span *ngIf="spanColNo=='asc-5' && Clickfield=='abusecount'" id="abusecount" disabled="true" class="glyphicon glyphicon-chevron-up" style="float:right;"></span>
                  <span *ngIf="spanColNo=='desc-5' && Clickfield=='abusecount'" id="abusecount" class="glyphicon glyphicon-chevron-down" style="float:right;"></span>
               </th>
                <th id="date" data-toggle="tooltip" title="Sort By LastReportedDate" (click)="Clickingevent($event, 6)">
                  Last Reported Date
                  <span *ngIf="spanColNo=='asc-6' && Clickfield=='date'" id="date" disabled="true" class="glyphicon glyphicon-chevron-up" style="float:right;"></span>
                  <span *ngIf="spanColNo=='desc-6' && Clickfield=='date'" id="date" class="glyphicon glyphicon-chevron-down" style="float:right;"></span>
                  </th>
                <!-- (click)="sort()"><em class="fa fa-sort"></em> -->
                <th id="action">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of abuseList">
                <td>{{item.title}}</td>
                <td>{{item.reportReasons}}</td>
                <td>{{item.description}}</td>
                <td>
                  <ng-container *ngIf="item.contentType === 1">Course</ng-container>
                  <ng-container *ngIf="item.contentType === 2">Resource</ng-container>
                  <ng-container *ngIf="item.contentType === 3">Resource Comment</ng-container>
                  <ng-container *ngIf="item.contentType === 4">Course Comment</ng-container>
                </td>
                <td>{{ item.reportAbuseCount}}</td>
                <td>{{ item.updatedDate | date:'medium'}}</td>
                <td>
                  <a *ngIf="!item.reason && item.contentType === 1" target="_blank"
                     href="{{userportalUrl + 'course/' + encService.set(item.contentId) }}" type="button"
                     class="btn btn-primary">View Course
                  </a>
                  <a *ngIf="!item.reason && item.contentType === 2" target="_blank"
                     href="{{userportalUrl + 'resource/' + encService.set(item.contentId) }}" type="button"
                     class="btn btn-primary">View Resource
                  </a>
                  <a *ngIf="!item.reason && item.contentType === 3" target="_blank"
                     href="{{userportalUrl + 'resource/' + encService.set(item.contentId) }}" type="button"
                     class="btn btn-primary">View Resource
                  </a>
                  <a *ngIf="!item.reason && item.contentType === 4" target="_blank"
                     href="{{userportalUrl + 'course/' + encService.set(item.contentId) }}" type="button"
                     class="btn btn-primary">View Course
                  </a>
                  <p *ngIf="item.reason">Comment : {{item.reason}}</p>
                  <button *ngIf="!item.reason" type="button" class="btn btn-danger" (click)="getReason(item)">
                    Admin Updates
                  </button>
                </td>

              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <!-- /.box-body -->
      <div class="box-footer text-right">

        <p-paginator #pp [rows]="10" [totalRecords]="length"
                     (onPageChange)="paginateCat($event)"></p-paginator>
      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->
  </form>
</section>
<p-dialog header="Comment" [(visible)]="reasonModal"
          (onHide)="reason=null;deleteRequestItem=null;abuseSubmit=null" [style]="{width: '600px'}"
          [contentStyle]="{'max-height':'500px'}">
  <div class="form-group">
    <textarea [(ngModel)]="reason" class="form-control" rows="10"></textarea>
    <p *ngIf="!reason && abuseSubmit" class="help-block">Please enter a valid comment</p>
  </div>
  <p-footer>
    <button type="button" class="btn btn-danger" (click)="deleteItem()">Submit</button>
  </p-footer>
</p-dialog>
