@import '../../../../../styles.scss';

.page-body {
  max-width: 1325px;
  .page-body-wrapper {
    padding: 10px;
    max-width: 1320px;

    .input-search {
      position: absolute;
      right: 10px;
      /* left: 0; */
      top: auto;
      bottom: 2px;
    }
  }
}

.title-sy {
  font-weight: 600;
  font-size: 20px;
}
.searchIcon{
  position: absolute;
  right: 28px;
  top: 7px;
  font-size: 15px;
  background: transparent;
  border: 0;
}
.shadow {
  box-shadow: 0px 0px 4px -2px !important;
  //border-radius: 4px;
}

.smart-search {
  font-size: 13px;
  padding: 10px 6px 0 15px;
}
