<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="basicinfo card-body">
                <h5 class="font-weight-bold mb-4">Payment Details</h5>
                <div class="row">
                    <div class="col-sm-12 col-md-6 info-id">
                        <p class="mb-1 item">
                            <span class="font-weight-bold">ID:</span>
                            <span class="detail"></span>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 info-paidOn">
                        <p class="mb-1 item">
                            <span class="font-weight-bold">Paid On:</span>
                            <span class="detail"></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 info-transcationNo">
                        <p class="mb-1 item">
                            <span class="font-weight-bold">Transaction #:</span>
                            <span class="detail"></span>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 info-mode">
                        <p class="mb-1 item">
                            <span class="font-weight-bold">Mode:</span>
                            <span class="detail"></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 info-name">
                        <p class="mb-1 item">
                            <span class="font-weight-bold">Name:</span>
                            <span class="detail"></span>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 info-method">
                        <p class="mb-1 item">
                            <span class="font-weight-bold">Method:</span>
                            <span class="detail"></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 info-status">
                        <p class="mb-1 item">
                            <span class="font-weight-bold">Status:</span>
                            <span class="detail"></span>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 info-processedBy">
                        <p class="mb-1 item">
                            <span class="font-weight-bold">Processed By:</span>
                            <span class="detail"></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                    </div>
                    <div class="col-sm-12 col-md-6 info-processedOn">
                        <p class="mb-1 item">
                            <span class="font-weight-bold">Processed On:</span>
                            <span class="detail"></span>
                        </>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>