<div class="row bank-card">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="bankinfo card-body">
                <h5 class="font-weight-bold mb-4">Bank Details</h5>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="info-accountNo">
                            <p class="mb-1 item">
                                <span class="font-weight-bold">Account No.:</span>
                                <span class="detail"></span>
                                <span class="badge badge-outline-success ml-2 info-status" style="">DDA Approved</span>
                            </p>
                        </div>
                        <div class="info-accountName">
                            <p class="mb-1 item">
                                <span class="font-weight-bold">Account Name:</span>
                                <span class="detail"></span>
                            </p>
                        </div>
                        <div class="info-bankName">
                            <p class="mb-1 item">
                                <span class="font-weight-bold">Bank Name:</span>
                                <span class="detail"></span>
                            </p>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>