.page-header {
  padding: 0;
  margin: 0;
  border: none;
}

.dropdown {
  margin-top: 10px;
  margin-right: 14px;
}

.compliance-body {
  flex: 1;
}

.tickets-card {
  padding: 8px 0px;
  margin: 0px;
  border: none;
  border-radius: 0px;
}

  .tickets-card .tickets-details {
    padding: 0px;
  }

    .tickets-card .tickets-details .badge {
      margin-left: 0px;
    }

    .tickets-card .tickets-details h6 {
      margin-left: 4px;
      margin-bottom: 0px;
    }

    .tickets-card .tickets-details .info {
      display: inline-block;
      margin-right: 8px;
    }


.card .card-body .wrapper .tickets-card.first {
  border-top: none;
  margin-top: 15px;
}

.activities-container {
  max-height: 320px;
  overflow-y: auto;
  padding-left: 8px;
}

.timeline-content code {
  font-size: .875rem;
  color: #2196f3 !important;
  font-family: "roboto",sans-serif;
}

.list-item {
  padding: 12px 0;
}

  .list-item:first-child {
    padding-top: 0px;
  }

.premise {
  padding-top: 0px;
  border-bottom: none;
}

  .premise p {
    padding: 0px;
    margin: 0px;
  }

#menu-listing tbody td {
  padding: 8px 15px;
}

span[aria-labelledby="select2-riskCategorySelect-container"] {
  text-align: center;
}


input[aria-controls="ingredients-listing"] {
  margin-right: 12px;
}

.modal .right .info-container {
  margin-top: 16px;
}

  .modal .right .info-container:first-child {
    margin-top: 0px;
  }

.modal .info-container h4 {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 12px;
}

.modal .info-container .info-body {
  background-color: #f4f4f4;
  margin-top: 4px;
  padding: 12px 18px 12px 28px;
}

  .modal .info-container .info-body.timeline {
    padding: 20px;
  }

  .modal .info-container .info-body .wrapper span {
    font-size: .875rem;
  }

    .modal .info-container .info-body .wrapper span i {
      display: inline-block;
      margin-right: 8px;
    }

.modal .lineitem-list {
  padding-left: 0px;
}

  .modal .lineitem-list .header {
    margin-top: 16px;
    border-bottom: 1px solid #dee2e6;
  }

    .modal .lineitem-list .header:first-child {
      margin-top: 0px;
    }

    .modal .lineitem-list .header h5 {
      margin-bottom: 8px;
    }

  .modal .lineitem-list .item {
    margin-top: 8px;
  }

.modal .lineitem-list {
  list-style: none;
}

  .modal .lineitem-list .item .compliance {
    display: flex;
  }

    .modal .lineitem-list .item .compliance > p {
      width: 36px;
    }

  .modal .lineitem-list .item .error-msg {
    margin-left: 36px;
    display: none;
  }

  .modal .lineitem-list .item .remarks {
    padding: 16px;
    background-color: #f4f4f4;
    margin-left: 36px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
  }

    .modal .lineitem-list .item .remarks input {
      background: none;
      border: none;
      padding: 0px;
      font-weight: 400;
      font-size: .80rem;
    }

  .modal .lineitem-list .item .upload {
    margin-left: 36px;
    margin-top: 8px;
  }

  .modal .lineitem-list .reply {
    padding: 16px;
    background-color: #f0f5fa;
    margin-left: 36px;
    margin-top: 8px;
  }

    .modal .lineitem-list .reply .remarks {
      padding: 0px;
      margin: 0px;
      background-color: #f0f5fa;
      border-radius: 4px;
    }

  .modal .lineitem-list .item.error .error-msg {
    display: block;
  }

  .modal .lineitem-list .item.error .remarks {
    border: 1px solid #ff6258;
  }



.attachments ul {
  list-style: none;
  padding: 0px 8px;
}

  .attachments ul li {
    padding: 10px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    display: inline-flex !important;
    background-color: #ffffff;
  }

    .attachments ul li .thumb {
      display: inline-block;
      margin-right: 10px;
    }

      .attachments ul li .thumb i {
        font-size: 30px;
        margin: 0;
        color: #212529;
      }

    .attachments ul li .details {
      margin-right: 6px;
    }

      .attachments ul li .details p.file-name {
        display: block;
        margin-bottom: 0;
        color: #212529;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        white-space: nowrap;
      }

      .attachments ul li .details .buttons {
        display: flex !important;
        align-items: center !important;
      }

        .attachments ul li .details .buttons .file-size {
          margin-right: 10px;
          margin-bottom: 0px;
          font-size: 0.875rem;
        }

        .attachments ul li .details .buttons a:last-child {
          margin-right: 0;
        }

.modal.attachmentsModal .lineitem-list .reply {
  padding: 8px 0px;
  margin-left: 8px;
}

  .modal.attachmentsModal .lineitem-list .reply .attachments li {
    margin-top: 0px;
  }

#fileuploader,
.fileuploader,
.ajax-file-upload-container {
  display: none;
}


.actions {
  flex-direction: column;
}

  .actions .dropdown {
    margin-top: 0px;
    margin-bottom: 18px;
    flex-direction: row-reverse;
    display: flex;
  }

.RFA_tab > li > a {
  color: #000;
  padding: 11px 20px;
}

  .RFA_tab > li > a.active {
    background: #008355;
    color: #fff;
    border-radius: 5px;
  }

.bg_reply {
  background-color: #f0f5fa;
}

.checklist-tooltip {
  position: relative;
  display: inline-block;
}

  .checklist-tooltip .tooltip-text {
    visibility: hidden;
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    padding: 16px;
    position: absolute;
    left: -405px;
    top: 5px;
    z-index: 999;
    box-shadow: 0 0 0 0 rgba(90,113,208,.11),0 4px 16px 0 rgba(167,175,183,.44);
  }

  .checklist-tooltip:hover .tooltip-text {
    visibility: visible;
  }

.item-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
}

  .item-row .info {
    display: flex;
    flex-direction: row;
  }

    .item-row .info > div {
      flex: 1;
    }

  .item-row .sub-info {
    color: #6c757d;
    margin-top: 4px;
  }

.ingredient.item-row .sub-info {
  margin-left: 20px;
}

.item-row .add-remarks {
  color: #2196f3;
  cursor: pointer;
  margin-top: 4px;
  margin-left: auto;
}

.item-row .remarks {
  margin-top: 8px;
  background-color: #f4f4f4;
  padding: 16px;
}

  .item-row .remarks input {
    background: none;
    border: none;
    width: 100%;
  }

  .item-row .remarks p {
    width: 100%;
    white-space: pre-wrap;
    margin-bottom: 0px;
  }

.review-modal .form-group.row label.error {
  margin-left: 12px;
}

.workflow .section {
  display: flex;
  flex-wrap: wrap;
}

  .workflow .section .actions {
    margin-left: auto;
  }

    .workflow .section .actions a:hover {
      text-decoration: none;
    }

.workflow .bg-inverse-info {
  border-radius: 4px;
}

.rfa .lineitem-list .header.others,
.rfa .lineitem-list .item.others.placeholder {
  display: flex;
}

  .rfa .lineitem-list .header.others h5 {
    padding-top: 6px;
  }

  .rfa .lineitem-list .header.others span {
    margin-left: auto;
    cursor: pointer;
  }

.rfa .lineitem-list .item.others .error-msg,
.rfa .lineitem-list .item.others .remarks,
.rfa .lineitem-list .item.others .reply,
.rfa .lineitem-list .item.others .upload {
  margin-left: 0px;
}

.rfa .lineitem-list .item.others.placeholder div {
  padding: 16px;
  margin-top: 8px;
  background-color: none;
  border: solid 1px #f4f4f4;
  display: flex;
  flex: 1;
}

  .rfa .lineitem-list .item.others.placeholder div span {
    margin-left: auto;
    margin-right: auto;
    color: #6c757d;
  }

.reaudit textarea,
.reaudit textarea:focus {
  padding: 16px;
  background-color: #f4f4f4;
}

.modal.reassign .form-group.horizontal .col-form-label {
  width: auto;
}

.modal.reassign .form-group.horizontal .search {
  cursor: pointer;
}

.certificate-preview-modal .modal-dialog {
  width: 816px;
  padding: 8px;
}

.certificate-preview-modal .modal-content {
  background: transparent !important;
  border: none;
}

  .certificate-preview-modal .modal-content .modal-body {
    padding: 0px !important;
  }

.payments .timeline p {
  margin-bottom: 12px;
  line-height: 0.875rem;
}

.select-transation-code .dataTables_scrollBody {
  height: 50vh;
}

.select-transation-code .code-text p {
  width: 300px;
  white-space: pre-wrap;
  line-height: 1.2rem;
  margin-bottom: 0;
}

.invoice-add-lineitem .qty {
  margin-right: 16px;
  margin-bottom: 0;
}

.invoice-add-lineitem .unit-price .price {
  flex: 1;
  margin-left: 84px;
  margin-top: 2px;
  font-size: .75rem;
}

.invoice-add-lineitem .unit-price .icheck-flat {
  margin-bottom: 0;
  margin-right: 28px;
}

  .invoice-add-lineitem .unit-price .icheck-flat label {
    margin-top: 5px;
  }

.invoice-add-lineitem .total {
  text-align: center;
  font-size: 1.25rem;
}

.customer-other div {
  display: flex;
}

.customer-other strong {
  white-space: nowrap;
  margin-right: 4px;
}

.customer-other span {
  margin-left: 4px;
}

.customer-other button {
  font-size: 0.65rem;
  align-self: start;
  margin-top: 2px;
}

.checklist-modal .version {
  display: flex;
  justify-content: center;
}

  .checklist-modal .version span {
    font-size: 0.8rem;
    font-weight: 700 !important;
  }

.notes .event .event-alert {
  background-color: #f4f4f4 !important;
  width: 95% !important;
}

.notes .attachments,
.create-notes .attachments {
  overflow: auto;
}

  .notes .attachments .item,
  .create-notes .attachments .item {
    padding: 10px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    display: inline-flex !important;
    background-color: #ffffff;
  }

    .notes .attachments .item .thumb,
    .create-notes .attachments .item .thumb {
      display: inline-block;
      margin-right: 10px;
    }

      .notes .attachments .item .thumb i,
      .create-notes .attachments .item .thumb i {
        font-size: 30px;
        margin: 0;
        color: #212529;
      }

    .notes .attachments .item .details,
    .create-notes .attachments .item .details {
      margin-right: 6px;
    }

      .notes .attachments .item .details p.file-name,
      .create-notes .attachments .item .details p.file-name {
        display: block;
        margin-bottom: 0;
        margin-top: 2px;
        color: #212529;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        white-space: nowrap;
      }

      .notes .attachments .item .details .buttons,
      .create-notes .attachments .item .details .buttons {
        display: flex !important;
        align-items: center !important;
      }

        .notes .attachments .item .details .buttons .file-size,
        .create-notes .attachments .item .details .buttons .file-size {
          margin-right: 10px;
          margin-bottom: 0px;
          font-size: 0.875rem;
        }

        .notes .attachments .item .details .buttons a:last-child,
        .create-notes .attachments .item .details .buttons a:last-child {
          margin-right: 0;
        }

.create-notes .upload-btn {
  margin-top: 12px;
}

.notes .placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px 16px;
}

  .notes .placeholder span {
    text-align: center;
  }

  .notes .placeholder button {
    align-self: center;
    margin-top: 32px;
  }


@media (min-width: 576px) {
  .rfaModal .modal-dialog {
    max-width: 90%;
  }

  .modal.attachmentsModal .modal-dialog {
    max-width: 70%;
  }

  .reaudit.modal .modal-dialog {
    max-width: 80%;
  }

  .select-transation-code .modal-dialog {
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }

    .actions .dropdown {
      margin-top: 10px;
      margin-bottom: 14px;
      flex-direction: row;
      display: block;
    }

  .checklist-modal .modal-dialog,
  .review-modal .modal-dialog,
  .review-approval-modal .modal-dialog,
  .approval-modal .modal-dialog,
  .create-notes .modal-dialog {
    max-width: 60%;
  }

  .reaudit.modal .modal-dialog {
    max-width: 50%;
  }
}

.halal-item {
  padding-bottom: 4px;
  padding-top: 8px;
}

.halal-content {
  white-space: pre-wrap;
}

.Undeclared-label {
  padding-left: 10px;
}

.badge-danger {
  background-color: red;
}

.ingredient.item-row .sub-info-certifyingBody {
  margin-left: 20px;
  margin-top: 4px;
  padding-right: 4px;
}

.ingredient.item-row .sub-info-supplierName {
  margin-left: 20px;
  margin-top: 4px;
}

.ingredient-sub-info {
  margin-top: 5px;
}

.history-loader-box-outerline {
  border: 0px solid #dee2e6 !important;
}

.history .tickets-card {
  font-size: .875rem !important;
}
