<div class="modal fade checklist checklist-modal" id="checklistModal" role="dialog" aria-labelledby="checklistModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav RFA_tab" id="RFA_tab" role="tablist">
                </ul>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content" id="pills-tabContent">
                </div>
            </div>
        </div>
    </div>
</div>