<div class="card widget activities">
    <div class="card-body">
        <div class="wrapper">
            <h5 class="font-weight-bold mb-3">Activities</h5>
            <ul class="activities-container timeline">
            </ul>
        </div>
        <div class="widget-placeholder d-none">
            <span class="text-muted">No activities yet.</span>
        </div>
    </div>
</div>