<div class="modal fade reaudit" id="reauditModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label">Re-audit</h5>
            </div>
            <div class="modal-body">
                <p>Remarks:</p>
                <div class="form-group mb-2">
                    <textarea rows="5" class="form-control border-0 notes" maxlength="2000" placeholder="Enter some remarks here. (e.g. reasons to re-audit application)"></textarea>
                    <label class="error mt-2 text-danger" for="firstname">Please enter your remarks</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline-primary reaudit-button">Submit for Re-audit</button>
            </div>
        </div>
    </div>
</div>