<div class="modal fade kiv" id="KIVModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="KIVModalLabel">KIV Request</h5>
            </div>
            <div class="modal-body">
                <p>Notes (Optional):</p>
                <div class="mb-2 bg-inverse-info">
                    <textarea rows="3" class="form-control bg-transparent border-0 notes" placeholder="Enter some notes here. (e.g. some key points to consider when looking back into this request)"></textarea>
                </div>
                <div class="col-12">
                    <div id="calendar"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline-primary kiv-button">KIV</button>
            </div>
        </div>
    </div>
</div>