<div class="card widget related">
  <div class="card-body">
    <div class="wrapper">
      <h5 class="font-weight-bold mb-0">Related Requests</h5>
      <div class="col-md-12 col-sm-6 grid-margin stretch-card">
        <div class="loader-demo-box request-loader-box-outerline">
          <div class="jumping-dots-loader">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="related-container">
      </div>
      <div class="widget-placeholder d-none">
          <span class="text-muted">No data available.</span>
      </div>
    </div>
  </div>
</div>

<div class="related-request-template" hidden>
    <a class="tickets-card row {first}" href="/request/details/{id}">
        <div class="tickets-details col-md-12">
            <div class="wrapper info">
                <div class="badge badge-secondary">{status}</div>
            </div>
            <div class="wrapper text-muted info">
                <span>#{id}</span>
            </div>
            <div class="wrapper text-muted info">
                <span class="text-primary">{refid}</span>
            </div>
            <div class="wrapper text-muted info">
                <span><i class="mdi mdi-alpha-s-circle-outline"></i>{type}</span>
            </div>
            {schemes}
            <div class="wrapper text-muted info">
                <span><i class="mdi mdi-map-marker"></i>{premisetext}</span>
            </div>
            <div class="wrapper text-muted info {assigndone}">
                <span><i class="mdi mdi-account-outline"></i>{assignto}</span>
            </div>
            <div class="wrapper text-muted time">
                <span><i class="mdi mdi-clock-outline"></i>{submittedon}</span>
            </div>
            <div class="wrapper text-muted time {express}">
                <span class="badge badge-outline-danger">Express</span>
            </div>
        </div>
    </a>

    <div class="wrapper text-muted info">
        <span><i class="mdi {icon}"></i>{text}</span>
    </div>
</div>