<div class="modal fade" id="exportPDFModal" role="dialog" aria-labelledby="exportPDFModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exportPDFModalLabel">Export to PDF</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form-group">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" checked> Request Details <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" checked> Customer Details <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" checked> Halal Team <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" checked> Premises <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" checked> Attachments <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" checked> Menu <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" checked> Ingredients <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" checked> RFA <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" checked> Review Remarks <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" checked> Site Inspection Remarks <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="exportPDFButton" type="button" class="btn btn-outline-primary">Export</button>
            </div>
        </div>
    </div>
</div>