<div class="modal-header modalclass" dir="{{lang == 'ar' ? 'rtl' : 'ltr'}}">
  <h4 class="modal-title pull-left">
    {{lang == 'en' ? 'News' : arabicfn('news')}}   
  </h4>
  <button type="button" class="close pull-right" [ngClass]="{'p-0 m-0':lang=='ar'}" aria-label="Close"
    (click)="closemodal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" dir="{{lang == 'ar' ? 'rtl' : 'ltr'}}">
  <div class="row">
    <div class="col-12">
      <div class="row row-separator" *ngIf="!isShowNewsAdd">
        <div class="col-auto col-btn add-btn">
          <button class="rounded-btn" (click)="showNewsAdd()">
            <ng-container *ngIf="lang == 'en'">
              Add
            </ng-container>
            <ng-container *ngIf="lang == 'ar'">
              {{arabicService.words[removeWordSpaces(('Add').trim().toLowerCase())]}}
            </ng-container>
          </button>
        </div>
      </div>

      <div [ngClass]="{'ar-rtl': lang == 'ar'}" class="row row-separator">
        <div class="col-12" [ngClass]="{'ar-rtl': lang == 'ar'}">
          <div *ngIf="isShowNewsAdd" class="page-form-wrapper mb-3">
            <tinymce [config]="tinyConfig" [(ngModel)]="NewsModel.News"></tinymce>
            <div class="modal-footer">
              <button 
                type="button" 
                [disabled]="validationForm()"
                [ngClass]="{'disabled-btn': validationForm()}"
                class="rounded-btn" 
                (click)="saveNews()"
              >
                {{lang == 'en' ? 'Save' : 'حفظ'}}
              </button>      
              <button type="button" class="rounded-btn" (click)="showFilter()">
                {{lang == 'en' ? 'Cancel' : 'إلغاء'}}   
              </button>              
            </div>
          </div>
          <div class="page-form-wrapper mb-3" *ngIf="!isShowNewsAdd">
            <div class="form-title">
              <ng-container *ngIf="lang == 'en'">
                  FILTER BY
              </ng-container>
              <ng-container *ngIf="lang == 'ar'">
                  {{arabicService.words[removeWordSpaces(('Filter By').trim().toLowerCase())]}}
              </ng-container>
            </div>
            <div class="container-fluid page-form-body py-2">
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="power">
                    <ng-container *ngIf="lang == 'en'">
                      Description
                    </ng-container>
                    <ng-container *ngIf="lang == 'ar'">
                      {{arabicService.words[removeWordSpaces(('description').trim().toLowerCase())]}}
                    </ng-container>
                  </label>
                  <input type="text" name="Value" class="form-control inputwidth" id="Value" placeholder="" [(ngModel)]="filterBy.Value">
                </div>
                <div class="form-group col-auto col-btn filter">
                  <button class="rounded-btn" [disabled]="isApiLoading" [ngClass]="{'disabled-btn': isApiLoading}" (click)="getNews()">
                    <ng-container *ngIf="lang == 'en'">
                      Search
                    </ng-container>
                    <ng-container *ngIf="lang == 'ar'">
                      {{arabicService.words[removeWordSpaces(('Search').trim().toLowerCase())]}}
                    </ng-container>
                  </button>
                </div>
              </div>
            </div>
          </div>                      
          <div class="page-form-wrapper mb-3 d-md-block d-none">
            <div class="table-responsive">
              <ngx-datatable style="width: 100%" class="bootstrap" [ngClass]="{'ar-rtl': lang =='ar'}" [rows]="rows" [columns]="newsColumns" [headerHeight]="50"
                [columnMode]="'force'" [rowHeight]="'auto'">
              </ngx-datatable>
              <ng-template #actionTemplate let-row="row" let-value="value" let-i="index">
                <div class="table-action-btn">                  
                  <button class="table-edit" name="edit" (click)="viewData('edit',row)">
                    <i class="fas fa-edit" style="cursor: pointer;"></i></button>
                    <button (click)="openDeleteDialog(row)" class="attachment-delete-icon" name="Delete" ><i
                      class="fas fa-trash-alt" ></i></button>
                </div>
              </ng-template>
            </div>
            <ng-container footer *ngIf="config && config.totalItems>0">
              <ngb-pagination *ngIf="config.paging" class="d-flex justify-content-center page-top" [(page)]="config.page"
                [maxSize]="maxSize" [boundaryLinks]="true" [collectionSize]="config.totalItems" [rotate]="false"
                (pageChange)="onChangePage(config, $event)" (numPages)="numPages = $event"></ngb-pagination>
            </ng-container>
          </div>
          <div class="d-block d-md-none">
            <div class="card shadow page-form-wrapper my-3 d-block d-md-none" [ngClass]="{'ar-rtl': lang =='ar'}" *ngFor="let dropDownrow of rows">
              <div class="card-header">
                <div class="row">
                  <div class="col-12"><span><b>
                    <ng-container *ngIf="lang == 'en'">Description : </ng-container>
                    <ng-container *ngIf="lang == 'ar'">التفاصيل : </ng-container>
                  </b></span><span><div [innerHTML]='dropDownrow.News'></div></span></div>
                </div>
              </div>
              <div class="card-body">
                <div class="row mar-top">
                  <div class = "table-action-btn col-auto">                        
                    <button class="table-view edit-btn"  class="table-edit" (click)="viewData('edit',dropDownrow)" name="edit" ><i
                        class="fas fa-edit" style="cursor: pointer;" ></i></button>
                    <button (click)="openDeleteDialog(dropDownrow)" class="attachment-delete-icon" name="Delete" ><i
                      class="fas fa-trash-alt"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <ng-container footer *ngIf="config.totalItems > 0">
              <ngb-pagination *ngIf="config.totalItems > 0" (pageChange)="onChangePage(config, $event)" class="d-flex justify-content-center page-top" [pageSize]="config.itemsPerPage" [boundaryLinks]="true" [collectionSize]="config.totalItems" [maxSize]="config.maxSize" (numPages)="numPages = $event"></ngb-pagination>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="rounded-btn" (click)="closemodal()">
    {{lang == 'en' ? 'Close' : 'إغلاق'}}   
  </button>
</div>
<ng-template #deletetemplate>
  <div class="create-request-modal modal-header modalclass" dir="{{lang == 'ar' ? 'rtl' : 'ltr'}}">
    <h4 class="modal-title pull-left">{{(lang=='en')?'Delete':arabicfn('delete')}}</h4>
    <button type="button" class="close pull-right" [ngClass]="{'p-0 m-0':lang=='ar'}" (click)="closeDialog()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [ngClass]="{'ar-rtl':lang=='ar'}">
    <p class="messagebody">{{(lang=='en')?'Do you really want to delete this News?':arabicfn('deletemessage')}}</p>
  </div>
  <div dir="{{lang == 'ar' ? 'rtl' : 'ltr'}}" class="modal-footer">
    <button type="button" class="rounded-btn"
      (click)="delateNews()">{{(lang=='en')?'Yes':arabicfn('yes')}}</button>
    <button type="button" class="rounded-btn" (click)="closeDialog()">{{(lang=='en')?'No':arabicfn('no')}}</button>
  </div>
</ng-template>