<div class="modal fade create-premise" id="createPremiseModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label">Create Premise</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label">Building Name</label>
                    <input id="buildingName" type="text" class="form-control form-control-lg" maxlength="100">
                </div>
                <div style="display:flex">
                    <div class="form-group" style="width:52%">
                        <label class="col-form-label">#Floor No</label>
                        <div class="input-group">
                            <input id="floorNo" type="text" class="form-control form-control-lg integerInput custome_input" maxlength="5">
                            <div class="input-group-append ml-2 mr-2">
                                <span class="" id="">-</span>
                            </div>
                        </div>
                        <label class="error mt-2 text-danger" id="floorUnitError1">Floor No is required</label>
                    </div>
                    <div class="form-group" style="width:48%">
                        <label class="col-form-label">Unit No</label>
                        <input id="unitNo" type="text" class="form-control form-control-lg integerInput custome_input" maxlength="5">
                        <label class="error mt-2 text-danger" id="floorUnitError2">Unit No is required</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Block No</label>
                    <input id="blockNo" type="text" class="form-control form-control-lg" maxlength="15">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Street</label>
                    <input id="street" type="text" class="form-control form-control-lg" maxlength="150">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Postal</label>
                    <input id="postal" type="text" class="form-control form-control-lg" maxlength="6">
                    <label class="error mt-2 text-danger">Postal is required</label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeBtn" type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button id="createBtn" type="button" class="btn btn-outline-primary">Create</button>
            </div>
        </div>
    </div>
</div>