<ul class="nav">
  <li class="nav-item nav-profile">
    <a href="" class="nav-link">
      <div class="profile-image">
        <span class="img-xs rounded-circle bg-warning text-white text-avatar">KA</span>
      </div>
      <div class="text-wrapper">
        <p class="profile-name"></p>
        <p class="designation"></p>
      </div>
    </a>
  </li>
  <li class="nav-item nav-category">Main Menu</li>
  <li class="nav-item request d-none">
    <a class="nav-link" href="/request">
      <i class="menu-icon typcn typcn-document-text"></i>
      <span class="menu-title">Request</span>
    </a>
  </li>
  <li class="nav-item rfa d-none">
    <a class="nav-link" href="/rfa">
      <i class="menu-icon typcn typcn-messages"></i>
      <span class="menu-title">RFA</span>
    </a>
  </li>
  <li class="nav-item job-order d-none">
    <a class="nav-link" href="/jobOrder">
      <i class="menu-icon typcn typcn-location"></i>
      <span class="menu-title">Job Order</span>
    </a>
  </li>
  <li class="nav-item certificate d-none">
    <a class="nav-link" data-toggle="collapse" href="#page-batch" aria-expanded="false" aria-controls="page-batch">
      <i class="menu-icon typcn typcn-printer"></i>
      <span class="menu-title">Certificate</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="page-batch">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item">
          <a class="nav-link" href="/delivery">Delivery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/batch/certificate">Batch Printout</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item mufti d-none">
    <a class="nav-link" href="/halallibrary">
      <i class="menu-icon typcn typcn-starburst"></i>
      <span class="menu-title">Halal Library</span>
    </a>
  </li>
  <li class="nav-item mufti d-none">
    <a class="nav-link" href="/mufti">
      <i class="menu-icon typcn typcn-starburst"></i>
      <span class="menu-title">Mufti</span>
    </a>
  </li>
  <li class="nav-item finance d-none">
    <a class="nav-link" data-toggle="collapse" href="#page-Finance" aria-expanded="false" aria-controls="page-Finance">
      <i class="menu-icon typcn typcn-credit-card"></i>
      <span class="menu-title">Finance</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="page-Finance">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item payments d-none">
          <a class="nav-link" href="/payments">Payments</a>
        </li>
        <li class="nav-item invoice d-none">
          <a class="nav-link" href="/bill">Invoice</a>
        </li>
        <li class="nav-item code d-none">
          <a class="nav-link" href="/transactionCode">Transaction Code</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item user d-none">
    <a class="nav-link" href="/case">
      <i class="menu-icon typcn typcn-group"></i>
      <span class="menu-title">Case</span>
    </a>
  </li>
  <li class="nav-item user d-none">
    <a class="nav-link" href="/user">
      <i class="menu-icon typcn typcn-group"></i>
      <span class="menu-title">User Management</span>
    </a>
  </li>
  <li class="nav-item admin d-none">
    <a class="nav-link" data-toggle="collapse" href="#page-administration" aria-expanded="false" aria-controls="page-administration">
      <i class="menu-icon typcn typcn-cog-outline"></i>
      <span class="menu-title">Administration</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="page-administration">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item">
          <a class="nav-link" href="/settings">System Config</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/master/email/100">Email Template</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/master/letter/400">Letter Template</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/checklist/scheme">Checklist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cluster">Cluster</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/master/200">Master Data</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/home/signout">
      <i class="menu-icon typcn typcn-power"></i>
      <span class="menu-title">Signout</span>
    </a>
  </li>
</ul>