<div class="sidebar sidebar-offcanvas" id="sidebar-icon-only">
    <div class="sidebar-inner ps-enabled">
        <nav class="nav">
            <div class="nav-item brand-logo">
                <a class="nav-link" href="/"><img src="~/images/Login-MUIS-logo.png" alt="logo"></a>
            </div>
            <div class="nav-item resources d-none">
                <a href="#" class="nav-link">
                    <i class="menu-icon mdi mdi-semantic-web"></i>
                    <span class="menu-title">Resources</span>
                </a>
                <div class="submenu bg-inverse-white">
                    <div class="submenu-inner ps-enabled">
                        <h5 class="submenu-category-heading">Resources</h5>
                        <ul class="nav">
                            <div class="nav-item request">
                                <a href="/request" class="nav-link request">
                                    <div class="icon-holder"><i class="mdi mdi-content-copy"></i></div>Requests
                                </a>
                            </div>
                            <div class="nav-item rfa">
                                <a href="/rfa" class="nav-link rfa">
                                    <div class="icon-holder"><i class="mdi mdi-message-text-outline"></i></div>RFA
                                </a>
                            </div>
                        </ul>
                        <ul class="nav">
                            <div class="nav-item nav-category job-order-category d-none">Job Orders</div>
                            <div class="nav-item job-order">
                                <a href="/jobOrder" class="nav-link job-order">
                                    <div class="icon-holder"><i class="mdi mdi-map-marker-radius-outline"></i></div>View All
                                </a>
                            </div>
                            <div class="nav-item pi-poll d-none">
                                <a href="/periodicInspection" class="nav-link pi-poll">
                                    <div class="icon-holder"><i class="mdi mdi-map-marker-distance"></i></div>Periodic Poll
                                </a>
                            </div>
                        </ul>
                        <ul class="nav">
                            <div class="nav-item nav-category certificate-category d-none">Certificates</div>
                            <div class="nav-item certificate-delivery d-none">
                                <a href="/delivery" class="nav-link certificate-delivery">
                                    <div class="icon-holder"><i class="mdi mdi-truck-fast"></i></div>Delivery
                                </a>
                            </div>
                            <div class="nav-item certificate-printout d-none">
                                <a href="/batch/certificate" class="nav-link certificate-printout">
                                    <div class="icon-holder"><i class="mdi mdi-printer"></i></div>Batch Printout
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="nav-item customers d-none">
                <a href="/customer" class="nav-link">
                    <i class="menu-icon mdi mdi-database"></i>
                    <span class="menu-title">Customers</span>
                </a>
            </div>
            <div class="nav-item halal-library d-none">
                <a href="/halallibrary" class="nav-link">
                    <i class="menu-icon mdi mdi-file-cabinet"></i>
                    <span class="menu-title">Halal Library</span>
                </a>
            </div>
            <div class="nav-item mufti d-none">
                <a href="/mufti" class="nav-link">
                    <i class="menu-icon mdi mdi-file-check-outline"></i>
                    <span class="menu-title">Mufti</span>
                </a>
            </div>
            <div class="nav-item case d-none">
                <a href="/case" class="nav-link">
                    <i class="menu-icon mdi mdi-alert-octagon-outline"></i>
                    <span class="menu-title">Case</span>
                </a>
            </div>
            <div class="nav-item finance d-none">
                <a href="#" class="nav-link">
                    <i class="menu-icon mdi mdi-wallet-travel"></i>
                    <span class="menu-title">Finance</span>
                </a>
                <div class="submenu bg-inverse-white">
                    <div class="submenu-inner ps-enabled">
                        <h5 class="submenu-category-heading">Finance</h5>
                        <ul class="nav">
                            <div class="nav-item">
                                <a href="/bill" class="nav-link invoice">
                                    <div class="icon-holder"><i class="mdi mdi-format-page-break"></i></div>Invoice
                                </a>
                            </div>
                            <div class="nav-item">
                                <a href="/payments" class="nav-link payments">
                                    <div class="icon-holder"><i class="mdi mdi-shield-outline"></i></div>Payments
                                </a>
                            </div>
                        </ul>
                        <ul class="nav">
                            <div class="nav-item nav-category">Others</div>
                            <div class="nav-item">
                                <a href="/bank" class="nav-link cluster">
                                    <div class="icon-holder"><i class="mdi mdi-bank"></i></div>Bank Accounts
                                </a>
                            </div>
                        </ul>
                        <ul class="nav settings-nav">
                            <div class="nav-item nav-category finance-settings-category d-none">Settings</div>
                            <div class="nav-item transaction-code">
                                <a class="nav-link transcation-code" href="/transactionCode">Transaction Codes</a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="nav-item security d-none">
                <a href="#" class="nav-link">
                    <i class="menu-icon mdi mdi-shield-outline"></i>
                    <span class="menu-title">Security</span>
                </a>
                <div class="submenu bg-inverse-white">
                    <div class="submenu-inner ps-enabled">
                        <h5 class="submenu-category-heading">Security</h5>
                        <ul class="nav">
                            <div class="nav-item users d-none">
                                <a href="/user" class="nav-link users">
                                    <div class="icon-holder"><i class="mdi mdi-account-group-outline"></i></div>User Management
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="nav-item settings d-none">
                <a href="#" class="nav-link">
                    <i class="menu-icon mdi mdi-tune"></i>
                    <span class="menu-title">Administration</span>
                </a>
                <div class="submenu bg-inverse-white">
                    <div class="submenu-inner ps-enabled">
                        <h5 class="submenu-category-heading">Administration</h5>
                        <ul class="nav">
                            <div class="nav-item">
                                <a href="/settings" class="nav-link system-config">
                                    <div class="icon-holder"><i class="mdi mdi-cog-transfer-outline"></i></div>System Config
                                </a>
                            </div>
                            <div class="nav-item">
                                <a href="/checklist/scheme" class="nav-link checklist">
                                    <div class="icon-holder"><i class="mdi mdi-table-settings"></i></div>Checklist
                                </a>
                            </div>
                        </ul>
                        <ul class="nav">
                            <div class="nav-item nav-category">Templates</div>
                            <div class="nav-item">
                                <a href="/master/email/100" class="nav-link email-template">
                                    <div class="icon-holder"><i class="mdi mdi-card-bulleted-settings-outline"></i></div>Email
                                </a>
                            </div>
                            <div class="nav-item">
                                <a href="/master/letter/400" class="nav-link letter-template">
                                    <div class="icon-holder"><i class="mdi mdi-file-settings-outline"></i></div>Letter
                                </a>
                            </div>
                        </ul>
                        <ul class="nav">
                            <div class="nav-item nav-category">Others</div>
                            <div class="nav-item">
                                <a href="/cluster" class="nav-link cluster">
                                    <div class="icon-holder"><i class="mdi mdi-map-legend"></i></div>Cluster
                                </a>
                            </div>
                            <div class="nav-item">
                                <a href="/master/200" class="nav-link master">
                                    <div class="icon-holder"><i class="mdi mdi-database-settings"></i></div>Master Data
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="nav-item">
                <a href="/home/signout" class="nav-link">
                    <i class="menu-icon mdi mdi-power-settings"></i>
                    <span class="menu-title">Sign out</span>
                </a>
            </div>
        </nav>
    </div>
</div>