<div id="notification-sidebar" class="settings-panel notification">
    <i id="notification-close" class="settings-close mdi mdi-close"></i>
    <div class="d-flex align-items-center justify-content-between border-bottom">
        <p class="settings-heading font-weight-bold border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Notifications</p>
    </div>
    <ul class="notification-list">
    </ul>
</div>