<div class="modal fade select-customer" id="selectCustomerModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label">Select Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table hover">
                        <tbody />
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="createBtn" type="button" class="btn btn-outline-primary d-none" data-toggle="modal" data-target="#createCustomerModal">Create</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
