<div class="modal fade view-email" id="viewEmail" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label">View Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group horizontal to">
                    <label class="col-form-label">To</label>
                    <div class="col-form-field">
                        <input type="text" class="form-control" id="to" maxlength="255" disabled>
                    </div>
                </div>
                <div class="form-group horizontal cc">
                    <label class="col-form-label">Cc</label>
                    <div class="col-form-field">
                        <input type="text" class="form-control" id="cc" maxlength="255" disabled>
                    </div>
                </div>
                <div class="form-group horizontal bcc">
                    <label class="col-form-label">Bcc</label>
                    <div class="col-form-field">
                        <input type="text" class="form-control" id="bcc" maxlength="255" disabled>
                    </div>
                </div>
                <div class="form-group horizontal subject">
                    <label class="col-form-label">Subject</label>
                    <div class="col-form-field">
                        <input type="text" class="form-control" id="subject" maxlength="65" disabled>
                    </div>
                </div>
                <hr class="hr" />
                <div class="body" id="email-body">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>