<div class="modal-header modalclass" dir="{{lang == 'ar' ? 'rtl' : 'ltr'}}">
  <h4 class="modal-title pull-left">{{lang === 'ar' ? arWords.salaryassignto : 'Assign To'}}</h4>
  <button type="button" class="close pull-right" [ngClass]="{'p-0 m-0':lang=='ar'}" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" dir="{{lang === 'ar' ? 'rtl' : 'ltr'}}">
  <div class="row">
    <ng-container >
      <div class="form-group col-12" [ngClass]="{'ar-rtl':lang=='ar'}">
        <label for="dropdown">{{lang === 'ar' ? arWords.user : 'User'}}</label>
        <ng-select [items]="list" (change)="selectionChanged($event)" [closeOnSelect]="true" [multiple]="false"
          bindLabel="EmployeeName" bindValue="EmployeeName" >
        </ng-select>
        <!-- <select class="form-control" (change)="selectionChanged($event.target.value)">
          <option selected="true" value="">{{lang === 'ar' ? arWords.selectauser : 'Select a user'}}</option>
          <option *ngFor="let dept of list" value={{dept.EmployeeName}}>{{dept.EmployeeName}}</option>
        </select> -->
      </div>
    </ng-container>
  </div>
</div>
<div class="modal-footer" dir="{{lang === 'ar' ? 'rtl' : 'ltr'}}">
  <button type="button" class="btn btn-default" (click)="close()">{{ lang === 'ar' ? arWords.close: 'Close'}}</button>
  <button class="rounded-btn" [disabled]="submitted" [ngClass]="{'disabled-btn': submitted}" (click)="saveStatus()"><app-btn-loader *ngIf="submittedload" class="btn-loader"></app-btn-loader>{{ lang === 'ar' ? arWords.assign: 'Assign'}}</button>
</div>
<ng-template #template>
  <div class="modal-header modalclass" dir="{{lang === 'ar' ? 'rtl' : 'ltr'}}">
    <h4 class="modal-title pull-left">{{ lang === 'ar' ? arWords.success: 'Success'}}</h4>
    <button type="button" class="close pull-right" [ngClass]="{'p-0 m-0':lang=='ar'}" aria-label="Close" (click)="closemodal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" dir="{{lang === 'ar' ? 'rtl' : 'ltr'}}" [ngClass]="{'ar-rtl':lang=='ar'}">
    <p class="messagebody">{{message}}</p>
  </div>
  <div class="modal-footer" dir="{{lang === 'ar' ? 'rtl' : 'ltr'}}">
    <button type="button" class="rounded-btn" (click)="closemodal()">{{ lang === 'ar' ? arWords.ok: 'Ok'}}</button>
  </div>
</ng-template>