<div class="col-md-8 grid-margin stretch-card statistics-overview busy">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 d-flex flex-column header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title mb-0">Application Statistics</h4>
                        <div class="badge badge-pill badge-sm badge-danger my-auto ml-3 d-lg-block">&nbsp;</div>
                    </div>
                    <h2>&nbsp;</h2>
                    <div class="my-4 my-md-0 mt-md-auto">
                        <div class="loader jumping-dots-loader">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <canvas id="realtime-statistics" height="200"></canvas>
                    </div>
                </div>
                <div class="col-md-4">
                    <small class="text-muted ml-auto d-none d-lg-block mb-3">&nbsp;</small>
                    <div class="d-flex justify-content-between py-2 border-bottom info">
                        <div class="wrapper">
                            <p class="mb-0">New</p>
                            <h5 class="font-weight-medium">&nbsp;</h5>
                        </div>
                        <div class="wrapper d-flex flex-column align-items-center">
                            <small class="text-muted mb-2"></small>
                            <div class="badge badge-pill badge-primary"></div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between py-2 border-bottom info">
                        <div class="wrapper">
                            <p class="mb-0">Renewal</p>
                            <h5 class="font-weight-medium">&nbsp;</h5>
                        </div>
                        <div class="wrapper d-flex flex-column align-items-center">
                            <small class="text-muted mb-2"></small>
                            <div class="badge badge-pill badge-warning"></div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between pt-2 info">
                        <div class="wrapper">
                            <p class="mb-0">Amend</p>
                            <h5 class="font-weight-medium">&nbsp;</h5>
                        </div>
                        <div class="wrapper d-flex flex-column align-items-center">
                            <small class="text-muted mb-2"></small>
                            <div class="badge badge-pill badge-danger"></div>
                        </div>
                    </div>
                    <div class="wrapper mt-4 d-none d-lg-block">
                        <p class="text-muted">Note: These statistics are aggregates over all of your application's users. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
