<div class="col-md-4 grid-margin stretch-card statistics-status busy">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Overall Statistics</h4>
            <div class="aligner-wrapper header">
                <div class="loader jumping-dots-loader">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <canvas height="140"></canvas>
                <div class="wrapper d-flex flex-column justify-content-center absolute absolute-center">
                    <h4 class="text-center mb-0">&nbsp;</h4>
                    <small class="d-block text-center text-muted mb-0">&nbsp;</small>
                </div>
            </div>
            <div class="wrapper mt-4">
                <div class="d-flex align-items-center py-3 border-bottom info">
                    <span class="dot-indicator bg-primary"></span>
                    <p class="mb-0 ml-3">New</p>
                    <p class="ml-auto mb-0 text-muted">&nbsp;</p>
                </div>
                <div class="d-flex align-items-center py-3 border-bottom info">
                    <span class="dot-indicator bg-success"></span>
                    <p class="mb-0 ml-3">Closed</p>
                    <p class="ml-auto mb-0 text-muted">&nbsp;</p>
                </div>
                <div class="d-flex align-items-center pt-3 info">
                    <span class="dot-indicator bg-danger"></span>
                    <p class="mb-0 ml-3">Rejected</p>
                    <p class="ml-auto mb-0 text-muted">&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>