<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card statistics-performance busy">
    <div class="card card-statistics assigned">
        <div class="card-body pb-0">
            <p class="text-muted">Assigned</p>
            <div class="d-flex align-items-center info">
                <h4 class="font-weight-semibold"></h4>
                <h6 class="font-weight-semibold ml-2"></h6>
            </div>
            <small class="text-muted">view statement</small>
            <div class="loader jumping-dots-loader">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <canvas class="mt-2" height="40" id="performance-assigned"></canvas>
    </div>
</div>
<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card statistics-performance busy">
    <div class="card card-statistics processed">
        <div class="card-body pb-0">
            <p class="text-muted">Processed</p>
            <div class="d-flex align-items-center info">
                <h4 class="font-weight-semibold"></h4>
                <h6 class="font-weight-semibold ml-2"></h6>
            </div>
            <small class="text-muted">view history</small>
            <div class="loader jumping-dots-loader">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <canvas class="mt-2" height="40"></canvas>
    </div>
</div>
<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card statistics-performance busy">
    <div class="card card-statistics new">
        <div class="card-body pb-0">
            <p class="text-muted">Total New</p>
            <div class="d-flex align-items-center info">
                <h4 class="font-weight-semibold"></h4>
                <h6 class="font-weight-semibold ml-2"></h6>
            </div>
            <small class="text-muted">This has been a great update.</small>
            <div class="loader jumping-dots-loader">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <canvas class="mt-2" height="40" id="performance-new"></canvas>
    </div>
</div>
<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card statistics-performance busy">
    <div class="card card-statistics closed">
        <div class="card-body pb-0">
            <p class="text-muted">Total Closed</p>
            <div class="d-flex align-items-center info">
                <h4 class="font-weight-semibold"></h4>
                <h6 class="font-weight-semibold ml-2"></h6>
            </div>
            <small class="text-muted">65% lower growth</small>
            <div class="loader jumping-dots-loader">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <canvas class="mt-2" height="40" id="performance-closed"></canvas>
    </div>
</div>