@model eHS.Portal.DTO.AuthParam;

@{ Layout = "_Empty";
                ViewData["Title"] = "Login"; }

@section CSS {
    <link rel="stylesheet" href="~/css/home/index.css" />
}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper auth p-0 theme-two">
            <div class="row d-flex align-items-stretch">
                <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center">
                    <div class="slide-content bg-1"> </div>
                </div>
                <div class="col-12 col-md-8 h-100 bg-white">
                    <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column">
                        <div class="nav-get-started">
                            <a class="forget-password-link" href="Home/ForgotPassword">Forgot Password</a>
                        </div>
                        <form id="form" asp-controller="home" asp-action="auth" method="post" autocomplete="off">
                            <img src="~/images/Login-MUIS-logo.png" alt="logo">
                            <h2 class="mr-auto">eHS Portal</h2>
                            <p class="mb-5 mr-auto">Welcome back! Please login to your account.</p>
                            <div class="form-group key">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="mdi mdi-account-outline"></i>
                                        </span>
                                    </div>
                                    <input id="key" name="key" asp-for="Key" type="text" class="form-control form-control-lg" value="@Html.Raw(ViewData["key"])" placeholder="Username" maxlength="88" autocomplete="off">
                                    <div class="input-group-append bg-success">
                                        <span class="input-group-text text-white">@Html.Raw("@muis.gov.sg")</span>
                                    </div>
                                </div>
                                <label class="error mt-2 text-danger">Username is required.</label>
                            </div>
                            <div class="form-group secret">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="mdi mdi-lock-outline"></i>
                                        </span>
                                    </div>
                                    <input id="secret" name="secret" asp-for="Secret" type="password" class="form-control form-control-lg" placeholder="Password" maxlength="60" autocomplete="off">

                                </div>
                                <label class="error mt-2 text-danger">Password is required.</label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-fw btn-lg btn-sign-in">Sign In</button>
                            </div>
                            <div class="wrapper mt-5 text-gray">
                                <p class="footer-text">Copyright © 2021 MUIS eHS. All rights reserved.</p>
                            </div>
                            <input name="__RequestVerificationToken" type="hidden" value="<removed for brevity>" />
                            <input name="provider" asp-for="Provider" type="hidden" value="0" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var error = '@ViewData["error"]';
    </script>
    <script src="~/js/home/index.js"></script>
}