################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RulersCourt/obj
/RulersCourt/bin
/.vs
/Workflow/bin
/Workflow/obj
/RulersCourt/Downloads
/RulersCourt/Uploads
/SchedulerProjects/ManageEngine/SyncManageEngine/bin
/SchedulerProjects/ManageEngine/SyncManageEngine/obj
/SchedulerProjects/ManageEngine/.vs
/SchedulerProjects/MailReminder/MailReminder/bin
/SchedulerProjects/MailReminder/MailReminder/obj
/SchedulerProjects/MailReminder/.vs
/SchedulerProjects/ADSync/AdSync/bin/
/SchedulerProjects/ADSync/AdSync/obj
/SchedulerProjects/ADSync/.vs
/Encryption/Encryption/bin/
/Encryption/Encryption/obj
/Encryption/.vs
/DataMigration/.vs
/DataMigration/EasyMigrator/.vs
/DataMigration/EasyMigrator/bin
/DataMigration/EasyMigrator/obj
/SchedulerProjects/TimeAttendance/TimeAttendanceService/bin/
/SchedulerProjects/TimeAttendance/TimeAttendanceService/obj
/SchedulerProjects/TimeAttendance/.vs