table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
  background-color: #00835520;
}

table.dataTable.hover tbody > tr.selected:hover,
table.dataTable.hover tbody > tr > .selected:hover,
table.dataTable.display tbody > tr.selected:hover,
table.dataTable.display tbody > tr > .selected:hover {
  background-color: #00835520;
}

@media (min-width: 576px) {
  .filter .modal-dialog {
    max-width: 500px;
    margin: 30px auto;
  }
}

@media (min-width: 992px) {
  .filter .modal-lg,
  .filter .modal-xl {
    max-width: 50%;
  }
}
