.main .notes p {
  background: #f4f4f4;
  margin-top: 4px;
}

.main .premise {
  padding: 20px;
  text-align: center;
}

  .main .premise span {
    font-size: 0.875rem;
  }

.activities .timeline {
  max-height: 320px;
  overflow-y: auto;
  padding-left: 8px;
}

.attendees .list {
  overflow-y: auto;
  max-height: 400px;
}

.attendees .item,
.invites .item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #dee2e6;
  padding: 8px 0;
}

  .attendees .item:last-child,
  .invites .item:last-child {
    border-bottom: none;
  }

  .attendees .item .wrapper,
  .invites .item .wrapper {
    flex: 1;
  }

    .attendees .item .wrapper p,
    .invites .item .wrapper p {
      white-space: nowrap;
    }

  .attendees .item .text-avatar,
  .invites .item .text-avatar {
    font-size: 0.875rem;
    line-height: 1;
  }

  .attendees .item .opening,
  .attendees .item .closing {
    font-size: 0.6rem;
    font-family: "roboto",sans-serif;
    line-height: 1;
    padding: 4px 8px;
    border-radius: 50px;
    background-image: none;
    border-color: rgba(33,150,243,0);
  }

  .attendees .item .opening {
    color: #008355;
    background-color: rgba(0, 131, 85, .2);
    border-color: rgba(33,150,243,0);
  }

  .attendees .item .closing {
    color: #ff6258;
    background-color: rgba(255,98,88,.2);
  }

.invites button {
  width: 20px !important;
  height: 20px;
  font-size: 12px;
  padding-top: 3px;
  padding-left: 2px;
}

  .invites button i {
    margin-right: 0;
    margin-left: 1.2px;
  }

.invites .action {
  margin-top: 16px;
  justify-content: flex-end;
}

  .invites .action a {
    font-size: 0.875rem;
    color: #2196f3 !important;
  }

    .invites .action a:hover {
      text-decoration: none !important;
    }

.findings .conclusion {
  margin-top: 32px;
}

  .findings .conclusion p {
    font-size: 0.875rem;
    margin-bottom: 0;
  }

    .findings .conclusion p:first-child {
      font-weight: 700 !important;
    }

  .findings .conclusion .remarks {
    padding: 8px 16px;
    margin-top: 8px;
    background-color: #f4f4f4;
  }

.actions {
  flex-direction: column;
}

  .actions .dropdown {
    margin-top: 0px;
    margin-bottom: 18px;
    flex-direction: row-reverse;
    display: flex;
  }

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }

    .actions .dropdown {
      margin-top: 10px;
      margin-bottom: 14px;
      flex-direction: row;
      display: block;
    }
}

#fileuploader,
.fileuploader,
.ajax-file-upload-container {
  display: none;
}

.notes .event .event-alert {
  background-color: #f4f4f4 !important;
  width: 95% !important;
}

.notes .attachments,
.create-notes .attachments {
  overflow: auto;
}

  .notes .attachments .item,
  .create-notes .attachments .item {
    padding: 10px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    display: inline-flex !important;
    background-color: #ffffff;
  }

    .notes .attachments .item .thumb,
    .create-notes .attachments .item .thumb {
      display: inline-block;
      margin-right: 10px;
    }

      .notes .attachments .item .thumb i,
      .create-notes .attachments .item .thumb i {
        font-size: 30px;
        margin: 0;
        color: #212529;
      }

    .notes .attachments .item .details,
    .create-notes .attachments .item .details {
      margin-right: 6px;
    }

      .notes .attachments .item .details p.file-name,
      .create-notes .attachments .item .details p.file-name {
        display: block;
        margin-bottom: 0;
        margin-top: 2px;
        color: #212529;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        white-space: nowrap;
      }

      .notes .attachments .item .details .buttons,
      .create-notes .attachments .item .details .buttons {
        display: flex !important;
        align-items: center !important;
      }

        .notes .attachments .item .details .buttons .file-size,
        .create-notes .attachments .item .details .buttons .file-size {
          margin-right: 10px;
          margin-bottom: 0px;
          font-size: 0.875rem;
        }

        .notes .attachments .item .details .buttons a:last-child,
        .create-notes .attachments .item .details .buttons a:last-child {
          margin-right: 0;
        }

.create-notes .upload-btn {
  margin-top: 12px;
}

.create-notes .modal-dialog {
  max-width: 60%;
}

.notes .placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px 16px;
}

  .notes .placeholder span {
    text-align: center;
  }

  .notes .placeholder button {
    align-self: center;
    margin-top: 32px;
  }
