<div class="card">
    <div class="card-body">
        <div class="wrapper">
            <h5 class="font-weight-bold mb-0">Periodic Inspections</h5>
        </div>
        <div class="widget-placeholder periodic-inspection">
            <span class="text-muted">Coming soon<br />To be implemented.</span>
        </div>
    </div>
</div>