<div class="col-md-12 grid-margin stretch-card recent-payment busy">
    <div class="card payment">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="font-weight-bold mb-0">Recent Payment</h5>
                <a class="payment-index" href="#"><small>Show All</small></a>
            </div>
            <div class="table-responsive fixed-height">
                <div class="loader jumping-dots-loader">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <table id="paymentlisting" class="table hover">
                    <thead>
                        <tr>
                            <th>Pain On</th>
                            <th>Amount</th>
                            <th>Mode</th>
                            <th>Method</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot />
                    <tbody />
                </table>
            </div>
        </div>
    </div>
</div>