<div class="col-md-12 grid-margin stretch-card recent-request busy">
    <div class="card request">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="font-weight-bold mb-0">Recent Request</h5>
                <a class="request-index" href="#"><small>Show All</small></a>
            </div>
            <div class="table-responsive fixed-height">
                <div class="loader jumping-dots-loader">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <table id="requestlisting" class="table hover">
                    <thead>
                        <tr>
                            <th>Reference #</th>
                            <th>Type</th>
                            <th>Scheme</th>
                            <th>Submitted On</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot />
                    <tbody />
                </table>
            </div>
        </div>
    </div>
</div>