<div class="col-md-6">
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="font-weight-bold mb-1">Periodic inspection Algorithm</h4>
      <p>The variables that determine the frequency of unannounced inspection that will be conducted to certified customers annually</p>
      <h6 class="font-weight-bold mb-3">Schemes</h6>
      <h6 class="font-weight-bold border-bottom pb-2">Eating Establishment</h6>
      <div class="col-12">
        <div class="form-group row">
          <label class="inner-label col-form-label">Hawker</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_200" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Canteen</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_201" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Restaurant</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_202" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Halal Section</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_203" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Food Kiosk</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_204" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Food Station</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_205" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Snack Bar/Bakery</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_206" />
            <span class="err_message"> </span>
          </div>
        </div>
      </div>
      <h6 class="font-weight-bold border-bottom pb-2">Food Preperation Area</h6>
      <div class="col-12">
        <div class="form-group row">
          <label class="inner-label col-form-label">Central Kitchen</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_208" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Catering</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_209" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Pre-School Kitchen</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_210" />
            <span class="err_message"> </span>
          </div>
        </div>
      </div>
      <div class="col-12 " style="padding-left: 0px;">
        <div class="form-group row">
          <h6 class="main-label col-form-label font-weight-bold pb-2">Product</h6>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_211" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <h6 class="main-label col-form-label font-weight-bold pb-2">Wholeplant</h6>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_212" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <h6 class="main-label col-form-label font-weight-bold pb-2">Polutry</h6>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_213" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <h6 class="main-label col-form-label font-weight-bold pb-2">Storage Facility</h6>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_215" />
            <span class="err_message"> </span>
          </div>
        </div>
      </div>
      <h6 class="main-label font-weight-bold border-bottom pb-2">High Priority</h6>
      <div class="text-nrl pl-0">
        <div class="col-12">
          <div class="form-group row">
            <label style="white-space: pre-wrap" class="inner-label col-form-label">The indicator provided by CA/AO officers to customers as to be prioritized by PI.</label>
            <div>
              <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_216" />
              <span class="err_message"> </span>
            </div>
          </div>
        </div>
      </div>
      <h6 class="main-label font-weight-bold border-bottom pb-2">Grading</h6>
      <div class="text-nrl last-tbl">
        <div class="col-12">
          <div class="form-group row">
            <label class="inner-label col-form-label">A</label>
            <div>
              <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_217" />
              <span class="err_message"> </span>
            </div>
          </div>
          <div class="form-group row">
            <label class="inner-label col-form-label">B</label>
            <div>
              <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_218" />
              <span class="err_message"> </span>
            </div>
          </div>
          <div class="form-group row">
            <label class="inner-label col-form-label">C</label>
            <div>
              <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="job_219" />
              <span class="err_message"> </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>