<div class="col-md-6">
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="font-weight-bold mb-1">Certificate Renewal Trigger</h4>
      <p class="mb-4">The window period(in months) before expiry that allows existing certified customers to apply for renewal</p>
      <h6 class="font-weight-bold mb-3">Schemes</h6>
      <h6 class="font-weight-bold border-bottom pb-2">Eating Establishment</h6>
      <div class="col-12">
        <div class="form-group row">
          <label class="inner-label col-form-label">Hawker</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_104" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Canteen</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_105" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Restaurant</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_106" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Halal Section</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_107" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Food Kiosk</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_108" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Food Station</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_109" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Snack Bar/Bakery</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_110" />
            <span class="err_message"> </span>
          </div>
        </div>
      </div>
      <h6 class="font-weight-bold border-bottom pb-2">Food Preperation Area</h6>
      <div class="col-12">
        <div class="form-group row">
          <label class="inner-label col-form-label">Central Kitchen</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_112" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Catering</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_113" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Pre-School Kitchen</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_114" />
            <span class="err_message"> </span>
          </div>
        </div>
      </div>
      <div class="custome_setting">
        <div class="col-12 " style="padding-left: 0px;">
          <div class="form-group row">
            <h6 class="main-label col-form-label font-weight-bold pb-2">Product</h6>
            <div>
              <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_115" />
              <span class="err_message"> </span>
            </div>
          </div>
          <div class="form-group row">
            <h6 class="main-label col-form-label font-weight-bold pb-2">Wholeplant</h6>
            <div>
              <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_116" />
              <span class="err_message"> </span>
            </div>
          </div>
          <div class="form-group row">
            <h6 class="main-label col-form-label font-weight-bold pb-2">Polutry</h6>
            <div>
              <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_117" />
              <span class="err_message"> </span>
            </div>
          </div>
          <div class="form-group row">
            <h6 class="main-label col-form-label font-weight-bold pb-2">Endorsement</h6>
            <div>
              <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_118" />
              <span class="err_message"> </span>
            </div>
          </div>
          <div class="form-group row">
            <h6 class="main-label col-form-label font-weight-bold pb-2">Storage Facility</h6>
            <div>
              <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_119" />
              <span class="err_message"> </span>
            </div>
          </div>
        </div>
      </div>
      <h6 class="main-label font-weight-bold border-bottom pb-2">GSO</h6>
      <div class="col-12">
        <div class="form-group row">
          <label class="inner-label col-form-label" tyle="white-space: pre-wrap">Applicable for GSO certified customers.</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_120" />
            <span class="err_message"> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>