<div class="col-md-6">
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="font-weight-bold mb-1">Working Days</h4>
      <p>The target no. of man days each officer to complete a certain action. (e.g Desktop Audit, Approval, Finance & etc)</p>
      <div class="col-12">
        <div class="form-group row">
          <label class="inner-label col-form-label">Normal</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_100" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Express</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_101" />
            <span class="err_message"> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="font-weight-bold mb-1">RFA</h4>
      <p>Defines the window period where customers have to respond to officers clarifications</p>
      <div class="col-12">
        <div class="form-group row">
          <label class="inner-label col-form-label">Normal</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_102" />
            <span class="err_message"> </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="inner-label col-form-label">Express</label>
          <div>
            <input type="text" class="p-2 w-25 text-center rounded form-control font-weight-bold integerInput custome_input" id="req_103" />
            <span class="err_message"> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>