<div class="col-sm-12 col-md-8">
  <div class="card mb-3">
    <div class="card-body">
      <a href="javascript:void(0)" class="amount-add float-right btn-add">+</a>
      <h4 class="font-weight-bold mb-4">Amount History</h4>
      <div class="table-responsive">
        <table class="table table-borderless text-center financial-header dtable">
          <thead>
            <tr>
              <th>AMOUNT</th>
              <th>EFFECTIVE FROM</th>
            </tr>
          </thead>
          <tbody id="amountHistoryID">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>