<div class="card mb-3">
  <div class="card-body">
    <h4 class="font-weight-bold mb-4">Code Details  </h4>

    <div class="row">
      <div class="col-md-6 info customer tcDataAppend">
        <p class="mb-1 code"><strong>Code : </strong><span id="code"></span></p>
      </div>
      <div class="col-md-6 info customer-other"></div>
    </div>

    <div class="row">
      <div class="col-md-6 info customer tcDataAppend">
        <p class="mb-1 glEntry"><strong>GL Entry : </strong><span id="glEntry"></span></p>
      </div>
      <div class="col-md-6 info customer-other tcDataAppend">
        <p class="mb-1 currency"><strong>Currency : </strong><span id="currency"></span></p>
      </div>
    </div>

    <p class="mb-1 con-text tcDataAppend condition"><strong>Condition : </strong><span id="condition"></span></p>
    <div class="mt-3 bd-highlight tcNote"></div>
  </div>
</div>