<div class="card widget activities" id="activitieTable">
  <div class="card-body">
    <div class="widget-placeholder">
      <span class="text-muted">No activities yet.</span>
    </div>
  </div>
</div>