@model eHS.Portal.Models.Master.IndexModel;

@{
  ViewData["Title"] = "Master";
}

@section CSS {
  <link rel="stylesheet" href="~/plugins/datatables.net-bs4/dataTables.bootstrap4.css" />
  <link rel="stylesheet" href="~/plugins/datatables.net-select-bs4/select.bootstrap4.min.css" />
  <link rel="stylesheet" href="~/plugins/select2/select2.min.css" />
  <link rel="stylesheet" href="~/plugins/select2-bootstrap-theme/select2-bootstrap.min.css" />
  <link href="~/plugins/sweetalert2/sweetalert2.all.min.js.css" rel="stylesheet" />
  <link rel="stylesheet" href="~/plugins/select2/select2.min.css" />
  <link rel="stylesheet" href="~/css/master/index.css" />
}

@section NavbarTitle {
  <div class="page-header">
    <h4 class="page-title" id="page-title">Master Data</h4>
    <div class="quick-link-wrapper">
      <ul class="quick-links">
      </ul>
    </div>
  </div>
}

@section Toolbar {
  <div class="quick-link-wrapper">
    <ul class="quick-links ml-auto">
      <ul class="quick-links ml-auto">
        <li><a id="newButton" onclick="app.page.initItem()" href="javascript:void(0)">New</a></li>
      </ul>
    </ul>
  </div>
}

<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">    
      <div class="card-body">
        <div class="form-group horizontal  master-type">
        <strong class="col-form-label">Type: </strong>
        <div class="col-form-field col-md-6 col-sm-8 col-xs-12">
          <select id="masterTypeSelect" onchange="app.page.change($('#masterTypeSelect').val())" class="select-single select2-hidden-accessible" style="width:100%" aria-hidden="true">
            <option value="200">Inspection Reschedule Reason</option>
            <option value="201">Inspection Cancel Reason</option>
            <option value="100">Escalation Category</option>
            <option value="101">Reinstate Reason</option>
          </select>
        </div>
      </div>
        <hr />
        <div class="table-responsive">
          <table id="listing" class="table hover">
            <thead>
              <tr>
                <th>Reason</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tfoot />
            <tbody />
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<partial name="_detailsItem.cshtml" />

@section Scripts
{
  <script type="text/javascript">
    app.page.model = @Html.Raw(Json.Serialize(Model));
  </script>
  <link href="~/css/shared/jquery-ui.css" rel="stylesheet" />
  <script src="~/js/plugins/jquery-1.12.4.js"></script>
  <script src="~/js/plugins/jquery-ui.js"></script>
  <script src="~/plugins/datatables.net/jquery.dataTables.js"></script>
  <script src="~/plugins/datatables.net-select/dataTables.select.min.js"></script>
  <script src="~/plugins/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="~/plugins/datatables.net-scroller/dataTables.scroller.min.js"></script>
  <script src="~/plugins/select2/select2.min.js"></script>
  <script src="~/js/master/Index.js"></script>
  <script src="~/js/master/_detailsItem.js"></script>
}