<div class="foot-body">
  <div class="container">
    <!-- <div class="row py-4">
      <div class="col-md-8">
        <div>RRC Public website | Strategic Planning Program website | Manageengine Service Desk website</div>
        <div class="row my-3 text-center text-md-left">
          <div class="col-12 col-md-auto py-2 py-md-0">
            <button type="button" class="btn-color"><img class="foot-icon"
                src="../../assets/home/footer-phonebook.png">Phone Book search</button>
          </div>
          <div class="col-12 col-md-auto py-2 py-md-0">
            <button type="button" class="btn-color"><img class="foot-icon"
                src="../../assets/home/footer-smart-search.png"> Smart search</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center text-md-left ">
          Social Media
        </div>
        <div class="row my-3 mx-5  mx-md-0">
          <div class="col col-md-1 text-center text-md-left social-media"><i class="fab fa-facebook-f"></i></div>
          <div class="col col-md-1 text-center text-md-left  social-media"><i class="fab fa-twitter"></i></div>
          <div class="col col-md-1 text-center text-md-left  social-media"><i class="fab fa-instagram"></i></div>
          <div class="col col-md-1 text-center text-md-left  social-media">in</div>
          <div class="col col-md-1 text-center text-md-left "><img class="youtube" src="../../assets/home/youtube-logo.svg"></div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row py-4">
      <div class="col-md-8 text-md-left text-center">
        <!-- <div class=""> |  | Manageengine Service Desk website</div> -->
        <div class="">
          <ul class="footer-content">
            <li>RRC Public website</li>
            <li>Strategic Planning Program website</li>
            <li>Manageengine Service Desk website</li>
          </ul>
        </div>
        <div class="row my-3 footer-sec">
          <div class="col-12 col-md-4 py-2 py-md-0">
            <button (click)="showContact()" type="button" class="btn btn-color"><img class="foot-icon"
                src="assets/home/footer-phonebook.png">Phone book search</button>
          </div>
          <div class="col-12 col-md-4 py-2 py-md-0">
            <button (click)="toggleSmartSearch()" type="button" class="btn btn-color smart-search"><img class="foot-icon"
                src="assets/home/footer-smart-search.png"> Smart search</button>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div>
          Social Media
        </div>
        <div class="row my-3">
          <div class="col-1 social-media"><i class="fab fa-facebook-f"></i></div>
          <div class="col-1 social-media"><i class="fab fa-twitter"></i></div>
          <div class="col-1 social-media"><i class="fab fa-instagram"></i></div>
          <div class="col-1 social-media">in</div>
          <div class="col-1"><img class="youtube" src="../../assets/home/youtube-logo.svg"></div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<div class="foot">
  <div class="container">
    @ Copyright 2019. Ruler's Representative Court All Rights are Reserved
  </div>
</div>