.cv-bank-list-container {
  .form-control {
    border: 1px solid #ddd;
    border-radius: 0px;
  }
  .btn-close {
    margin: 30px;
  }
  .btn-search {
    margin: 30px 5px;
  }
}

.list-btn {
  background: #b59647;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 0px 20px;
}

.title-sy {
  font-weight: 600;
  font-size: 18px;
}

.modalclass{
  background: #726236;
  color : white;
}
