.each-image {
  // max-width: 300px;
  box-shadow: 0px 0px 3px -1px;
  width: 260px;
  box-shadow: 0px 0px 3px -1px;
  height: 250px;
}

.padding-top-container {
  margin: 30px 0px 17px 0px;
  text-align: center;
}

.image-caption {
  padding-top: 10px;
  text-align: center;
}
.paging {
  float: right !important;
}
.separator {
  display: none;
}