<div class="page-form-wrapper training_request" id="trigger-scroll">
  <div class="form-title ar-rtl" *ngIf="editMode">
    {{arabic('trainingrequest')}}
  </div>
  <div class="form-title ar-rtl" *ngIf="!editMode">
    {{arabic('trainingrequestview')}}
  </div>
  <div class="container-fluid py-2">
    <div class="row" *ngIf="!editMode">
      <div class="form-group right col-12 col-md-3">
        <label for="Ref ID"> {{arabic('refid')}}</label>
        <input type="text" class="form-control" [disabled]="true" id="Ref_ID" [(ngModel)]="trainingRequest.RefNo">
      </div>
      <div class="form-group right col-12 col-md-3">
        <label for="Date"> {{arabic('date')}}</label>
        <div class="position-relative" [ngClass]="{'ar-rtl': lang !='en'}">
          <input type="text" class="form-control pr-4" [disabled]="true" [(ngModel)]="trainingRequest.Date" bsDatepicker
            #dp="bsDatepicker" [bsConfig]="bsConfig">
          <i class="far fa-calendar date" (click)="dp.toggle()"></i>
        </div>
      </div>
      <div class="form-group right col-12 col-md-3">
        <label for="Source OU"> {{arabic('sourceofficeSlashDepartment')}}</label>
        <input type="text" class="form-control" [disabled]="true" id="Source OU" placeholder="Enter Source OU"
          [(ngModel)]="trainingRequest.SourceOU">
      </div>
      <div class="form-group right col-12 col-md-3">
        <label for="Source Name"> {{arabic('sourcename')}}</label>
        <input type="text" class="form-control" [disabled]="true" id="Source Name" placeholder="Enter Source Name"
          [(ngModel)]="trainingRequest.SourceName">
      </div>
      <div class="col-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="form-group right col-12 col-md-4" [ngClass]="{'required':submitBtn}">
        <label for="Training For"> {{arabic('trainingfor')}}</label>
        <div>
          <input type="radio" name="training_for" [disabled]="!submitBtn" value="myself"
            [(ngModel)]="trainingRequest.TrainingFor" (change)="resetTraineeName()"> {{arabic('myself')}}
          <input class="ml-2" type="radio" [disabled]="!submitBtn" name="training_for" value="other employee"
            [(ngModel)]="trainingRequest.TrainingFor" (change)="resetTraineeName()"> {{arabic('otheremployee')}}
        </div>
      </div>
    </div>
    <div class="row" *ngIf="trainingRequest.TrainingFor=='other employee'">
      <div class="form-group right col-12 col-md-4" [ngClass]="{'required':submitBtn}">
        <label for="Trainee Name"> {{arabic('traineename')}}</label>
        <ng-select id="trainee_name" [closeOnSelect]="true" [items]="userList" bindLabel="EmployeeName"
          bindValue="UserID" placeholder="{{arabic('traineename')}}" [(ngModel)]="trainingRequest.TraineeName"
          [disabled]="!submitBtn" (change)="validate()">
        </ng-select>
      </div>
    </div>
    <div class="row">
      <div class="form-group right col-12 col-md-4" [ngClass]="{'required':submitBtn}">
        <label for="Workshop Name"> {{arabic('traineeorworkshopname')}}</label>
        <input type="text" class="form-control" id="workshop_name" [disabled]="!submitBtn" (blur)="validate()"
          placeholder="{{arabic('traineeorworkshopname')}}" [(ngModel)]="trainingRequest.TrainingName">
      </div>
      <div class="form-group right col-sm-4" [ngClass]="{'required':submitBtn}">
        <label for="Start Date"> {{arabic('startdate')}}</label>
        <div class="position-relative" [ngClass]="{'ar-rtl': lang !='en'}">
          <input type="text" class="form-control pr-4" placeholder="{{arabic('startdate')}}"   [disabled]="!submitBtn" [maxDate]="trainingRequest.EndDate" bsDatepicker  #dp1="bsDatepicker" (bsValueChange)="dateChange($event,'start')"
            [bsConfig]="bsConfig" [(ngModel)]="trainingRequest.StartDate">
          <span *ngIf="!submitBtn"><i class="far fa-calendar date"></i></span>
          <span *ngIf="submitBtn" (click)="dp1.toggle()"><i class="far fa-calendar date ar-rtl-icon"></i></span>
        </div>
      </div>
      <div class="form-group right col-sm-4" [ngClass]="{'required':submitBtn}">
        <label for="End Date"> {{arabic('enddate')}}</label>
        <div class="position-relative" [ngClass]="{'ar-rtl': lang !='en'}">
          <input type="text" class="form-control pr-4" placeholder="{{arabic('enddate')}}" [disabled]="!submitBtn" [minDate]="trainingRequest.StartDate" bsDatepicker  #dp2="bsDatepicker" (bsValueChange)="dateChange($event,'end')"
            [bsConfig]="bsConfig" [(ngModel)]="trainingRequest.EndDate">
          <span *ngIf="!submitBtn"><i class="far fa-calendar date"></i></span>
          <span *ngIf="submitBtn" (click)="dp2.toggle()"><i class="far fa-calendar date ar-rtl-icon"></i></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group right col-12 col-md-4" [ngClass]="{'required':submitBtn}">
        <label for="country-of-birth"> {{arabic('approverofficeSlashDepartment')}}</label>
        <ng-select class="approver-department" [closeOnSelect]="true" (change)="onChangeApproverDepartment()"
          [items]="department" bindLabel="OrganizationUnits" bindValue="OrganizationID"
          placeholder="{{arabic('approverdepartment')}}" [(ngModel)]="trainingRequest.ApproverDepartmentID"
          [disabled]="!submitBtn">
        </ng-select>
      </div>
      <div class="form-group right col-12 col-md-4" [ngClass]="{'required':submitBtn}">
        <label for="city-of-birth"> {{arabic('approvername')}}</label>
        <ng-select class="city-of-birth" [closeOnSelect]="true" [items]="userApproverList" bindLabel="EmployeeName"
          bindValue="UserID" placeholder="{{arabic('approvername')}}" [(ngModel)]="trainingRequest.ApproverID"
          [disabled]="!submitBtn" (change)="validate()">
        </ng-select>
      </div>
    </div>
    <div class="row" *ngIf="trainingRequest.Status == 45 && trainingRequest.TraineeName==userId && trainingRequest.IsNotificationReceived">
      <div class="form-group right col-12 col-md-4">
        <label for="attachment">{{arabic('attachments')}}</label>
        <input type="file" class="form-control attachment"
          name="attachment" #variable [(ngModel)]="attachment" id="attachment"
          (change) = "handleFileUpload($event)"
          placeholder="Select file"/>
      </div>
    </div>
    <div class="form-group right col-12 col-md-4" *ngIf="attachments.length>0 && trainingRequest.Status == 45 && (trainingRequest.TraineeName==userId || isHrHead == true) && trainingRequest.IsNotificationReceived">
      <label for="Keywords">{{arabic('attachmentlist')}}</label>
      <div class="row border font-weight-bold">
        <div class="border" [ngClass]="isHrHead==false? 'col-6': 'col-12'">{{arabic('filename')}}</div>
        <div class="col-6 border text-center" *ngIf="isHrHead==false">{{arabic('action')}}</div>
      </div>
      <div *ngFor="let file of attachments; let i = index">
        <div class="row">
          <div class="attachment-width border" [ngClass]="isHrHead==false? 'col-6': 'col-12'">
            <a class="cursor"
              href="{{attachmentDownloadUrl}}?filename={{file.AttachmentsName}}&guid={{file.AttachmentGuid}}">{{file.AttachmentsName}}</a>
          </div>
          <div class="col-6 border text-center" *ngIf="isHrHead==false">
            <span (click)="deleteAttachment(i)"><i class="fas fa-trash-alt"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!editMode" class="page-form-wrapper my-3 p-4">
      <div class="row ">
        <div class="col-12 comment">
          <app-comment-section [comments]="trainingRequestComments" [commentType]="'Training'" [moduleId]="id"
            [moduleNameID]="'TrainingID'"></app-comment-section>
          <div class="row leave-comment-section">
            <div class="col-2 com-md-2 profile">
              <div class="comment-section-img">
                <img src="{{currentUser.userProfileImg}}" class="user-ProfileImg" />
              </div>
            </div>
            <div class="col-10 col-md-10 comment-text">
              <div class="comment-section-user-info">
                <p class="comment-section-username">{{currentUser.userName}}</p>
              </div>
              <div class="comment-section-content">
                <textarea class="form-control vertical-resize" [(ngModel)]="trainingRequest.Comments"
                  id="NewCommentContent" placeholder="" rows="3"></textarea>
              </div>
              <div class="comment-reply-section" [ngClass]="{'ar-rtl': lang != 'en'}">
                <button class="rounded-btn" (click)="sendMessage()"><i class="fa fa-paper-plane"></i> {{arabic('addcomment')}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row action-btn px-3 justify-content-center btn-row">
      <div class="col-auto p-1" *ngIf="editMode || submitBtn">
        <button class="rounded-btn" *ngIf="submitBtn" [disabled]="isApiLoading" (click)="userAction('submit')"
          [ngClass]="{'disabled-btn': isApiLoading}"> {{arabic('submit')}}</button>
      </div>
      <ng-container *ngIf="!submitBtn">
        <div class="col-auto p-1" *ngIf="approveBtn">
          <button class="rounded-btn"  [disabled]="isApiLoading" (click)="userAction('approve')">
            {{arabic('approve')}}</button>
        </div>
        <div class="col-auto p-1" *ngIf="escalateBtn">
          <button class="rounded-btn"  [disabled]="isApiLoading || !trainingRequest.Comments"
            [ngClass]="{'disabled-btn':((!trainingRequest.Comments) || (trainingRequest.Comments.trim() == '')) || isApiLoading}"
            (click)="userAction('escalate')"> {{arabic('escalate')}}</button>
        </div>
        <div class="col-auto p-1" *ngIf="rejectBtn">
          <button class="rounded-btn"  [disabled]="isApiLoading || !trainingRequest.Comments"
            [ngClass]="{'disabled-btn':((!trainingRequest.Comments) || (trainingRequest.Comments.trim() == '')) || isApiLoading}"
            (click)="userAction('reject')"> {{arabic('reject')}}</button>
        </div>
        <div class="col-auto p-1" *ngIf="returnForInfoBtn">
          <button class="rounded-btn"  [disabled]="isApiLoading || !trainingRequest.Comments"
            [ngClass]="{'disabled-btn':((!trainingRequest.Comments) || (trainingRequest.Comments.trim() == '')) || isApiLoading}"
            (click)="userAction('returnforinfo')"> {{arabic('returnforinfo')}}</button>
        </div>
        <div class="col-auto p-1" *ngIf="assingBtn">
          <button class="rounded-btn"  [disabled]="isApiLoading" (click)="userAction('assign')"
            [ngClass]="{'disabled-btn': isApiLoading}"> {{arabic('assign')}}</button>
        </div>
        <div class="col-auto p-1" *ngIf="assignToMeBtn">
          <button class="rounded-btn"  [disabled]="isApiLoading" (click)="userAction('assigntome')"
            [ngClass]="{'disabled-btn': isApiLoading}"> {{arabic('assigntome')}}</button>
        </div>
        <div class="col-auto p-1" *ngIf="closeBtnShow">
          <button class="rounded-btn"  [disabled]="isApiLoading" (click)="userAction('close')"
            [ngClass]="{'disabled-btn': isApiLoading}"> {{arabic('close')}}</button>
	  </div>
        <div class="col-auto p-1" *ngIf="trainingRequest.Status == 45 && trainingRequest.TraineeName==userId && trainingRequest.IsNotificationReceived">
          <button class="rounded-btn" [disabled]="isApiLoading || attachments.length<=0" (click)="userAction('SAVE')" [ngClass]="{'disabled-btn': isApiLoading|| attachments.length<=0}">{{arabic('save')}}</button>
        
        </div>
      </ng-container>
    </div>
  </div>
</div>
