@import '../../../../../styles.scss';


.p-md-4 {
    padding: 1.5rem 0.4rem !important;
}

.mt-10{
    margin-top: 10px;
}

.ar-rtl{
    text-align: right;
}

.list-btn{
  background: #b59647;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 0px 20px;
}
