.dataTables_scrollBody {
  min-height: 80vh;
}

.tickets-card:hover {
  background-color: #00835520;
}

span.item-value {
  color: black;
  font-weight: 400;
}

strong.item-value {
  font-weight: 500;
  color: black
}


@media (min-width: 576px) {
  .filter .modal-dialog {
    max-width: 500px;
    margin: 30px auto;
  }

  .modal.review .modal-dialog {
    max-width: 85%;
  }
}

@media (min-width: 992px) {
  .filter .modal-lg,
  .filter .modal-xl {
    max-width: 50%;
  }
}

#JCase_wrapper td {
  border-top: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

.table td {
  line-height: 1.71;
}

.tickets-date-group {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.text-avatar {
  font-size: 0.65rem;
}

.d-none {
  display: none !important;
}

.tickets-card .tickets-details .badge {
  margin-left: 0px !important;
}
