<div class="modal-header modalclass modal-lg" dir="{{lang === 'ar' ? 'rtl' : 'ltr'}}">
  <h4 class="modal-title pull-left">{{lang === 'ar' ? arWords.report : 'Report'}}</h4>
  <button type="button" class="close pull-right" [ngClass]="{'p-0 m-0':lang=='ar'}" aria-label="Close"
    (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" dir="{{lang === 'ar' ? 'rtl' : 'ltr'}}">
  <div class="row" [ngClass]="{'ar-rtl': lang == 'ar'}">
    <div class="form-group col-12 col-md-4">
      <label for="candidateList">{{ lang == 'en' ? 'Candidate Name' : arWords.candidatename }}</label>
      <ng-select class="candidate-ddown" [items]="candidateList" [closeOnSelect]="true" bindLabel="CandidateName"
        bindValue="CandidateName" [(ngModel)]="candidateName">
      </ng-select>
    </div>
    <div class="form-group col-12 col-md-4">
      <label for="experience">{{ lang == 'en' ? 'Years of Experience' : arWords.yeasofexperience }}</label>
      <input type="text" class="form-control" [(ngModel)]="experience" id="experience">
    </div>
    <div class="form-group col-12 col-md-4">
      <label for="specialization">{{ lang == 'en' ? 'Specialization' : arWords.specialization }}</label>
      <input type="text" class="form-control" [(ngModel)]="specialization" id="specialization">
    </div>
    <div class="form-group col-12 col-md-4">
      <label for="country">{{ lang == 'en' ? 'Country' : arWords.country }}</label>
      <input type="text" class="form-control" [(ngModel)]="country" id="country">
    </div>
    <div class="form-group col-12 col-md-4">
      <label for="Date">{{ lang == 'en' ? 'Date From' : arWords.datefrom }}</label>
      <div class="position-relative">
        <input type="text" class="form-control" (change)="validateDates()" [(ngModel)]="dateFrom" bsDatepicker
          #dp="bsDatepicker" [maxDate]="dateTo" [bsConfig]="bsConfig">
        <span (click)="dp.toggle()">
          <i class="far fa-calendar date" [ngClass]="{'ar-rtl-icon': lang == 'ar'}"></i>
        </span>
      </div>
      <small id="dateHelp" class="form-text text-danger">{{dateFromErr}}</small>
    </div>
    <div class="form-group col-12 col-md-4">
      <label for="Date">{{ lang == 'en' ? 'Date To' : arWords.cvdateto }}</label>
      <div class="position-relative">
        <input type="text" class="form-control" (change)="validateDates()" [(ngModel)]="dateTo" bsDatepicker
          #dp1="bsDatepicker" [minDate]="dateFrom" [bsConfig]="bsConfig">
        <span (click)="dp1.toggle()">
          <i class="far fa-calendar date" [ngClass]="{'ar-rtl-icon': lang == 'ar'}"></i>
        </span>
      </div>
      <small id="dateHelp" class="form-text text-danger">{{dateToErr}}</small>
    </div>
    <div class="form-group col-12 col-md-4">
      <label for="SmartSearch">{{ lang == 'en' ? 'Smart Search' : arWords.smartsearch }}</label>
      <input type="text" class="form-control" [(ngModel)]="SmartSearch" id="SmartSearch">
    </div>
  </div>
</div>
<div class="modal-footer" dir="{{lang === 'ar' ? 'rtl' : 'ltr'}}">
  <button type="button" class="rounded-btn" (click)="downloadReport()">
    {{lang === 'ar' ? arWords.downloadexcel : 'Download Excel'}}
  </button>
</div>