<div class="page-form-wrapper" id="trigger-scroll">
  <div class="form-title">
    REQUEST FOR PHOTO
  </div>
  <div class="container-fluid py-2">
    <div class="row">
      <div class="form-group col-12 col-md-4" *ngIf="screenStatus!='Create'">
        <label for="Creation Date">Date</label>
        <div class="position-relative">
          <input [disabled]="screenStatus!='Create'" type="text" class="form-control" [(ngModel)]="mediarequestPhoto.Date"
            bsDatepicker #dpReceive="bsDatepicker" [bsConfig]="bsConfigs">
          <!-- <div (click)="(screenStatus=='Create') ? dpReceive.toggle():''" *ngIf="screenStatus=='Create'"> -->
          <i class="far fa-calendar date"></i>
          <!-- </div> -->
        </div>
      </div>
      <div class="form-group col-12 col-md-4" *ngIf="screenStatus!='Create'">
        <label for="Source OU">Source Office/Department</label>
        <input name="sourceou" type="text" class="form-control" [disabled]="screenStatus!='Create'"
          [(ngModel)]="mediarequestPhoto.SourceOU" id="Source OU" placeholder="Enter Source OU">
      </div>
      <div class="form-group col-12 col-md-4" *ngIf="screenStatus!='Create'">
        <label for="Source Name">Source Name</label>
        <input name="sourcename" type="text" class="form-control" [disabled]="screenStatus!='Create'"
          [(ngModel)]="mediarequestPhoto.SourceName" id="Source Name" placeholder="Enter Source Name">
      </div>
    </div>
    <hr *ngIf="screenStatus!='Create'">
    <div class="row">
      <div class="form-group col-12 col-md-4">
        <label for="Approver Department">Approver Office/Department</label>
        <ng-select [items]="department" [closeOnSelect]="true" placeholder="Select Approver Department" [disabled]="screenStatus=='View'"
          (change)="onChangeDepartment()" [multiple]="false" bindLabel="OrganizationUnits" bindValue="OrganizationID"
          [(ngModel)]="mediarequestPhoto.ApproverDepartmentID">
        </ng-select>
      </div>
      <div class="form-group col-12 col-md-4">
        <label for="Approver Name">Approver Name</label>
        <ng-select 
        [items]="userDestination" 
        [closeOnSelect]="true"  
        [disabled]="screenStatus=='View'" 
        [multiple]="false"
        bindLabel="EmployeeName" 
        bindValue="UserID" 
        placeholder="Select Approver-Name"
        [(ngModel)]="mediarequestPhoto.ApproverID">
        </ng-select>
      </div>
      <div class="form-group col-12 col-md-4" [ngClass]="{'required':screenStatus != 'View'}">
        <label for="Creation Date">Date</label>
        <div class="position-relative">
          <input [disabled]="screenStatus=='View'" type="text" class="form-control"
            [(ngModel)]="mediarequestPhoto.EventDate" placeholder="Select Date" bsDatepicker #dpReceive="bsDatepicker" [bsConfig]="bsConfigs">
          <div (click)="(screenStatus=='Create' || screenStatus=='Edit') ? dpReceive.toggle():''">
            <i class="far fa-calendar date"></i>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="form-group col-12 col-md-4" [ngClass]="{'required':screenStatus != 'View'}">
        <label for="location">Location</label>
        <input [disabled]="screenStatus=='View'" name="location" type="text" class="form-control"
          [(ngModel)]="mediarequestPhoto.Location" id="location" placeholder="Enter Location">
      </div>
      <div class="form-group col-12 col-md-4" [ngClass]="{'required':screenStatus != 'View'}">
        <label for="Eventname">Event Name</label>
        <input [disabled]="screenStatus=='View'" name="eventname" type="text" class="form-control" id="eventname"
          [(ngModel)]="mediarequestPhoto.EventName" placeholder="Enter Event Name">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 col-md-12" [ngClass]="{'required':screenStatus != 'View'}">
        <label for="notes">Photo Description</label>
        <textarea [disabled]="screenStatus=='View'" name="description" placeholder="Enter Photo Description" class="form-control" id="description"
           rows="3" [(ngModel)]="mediarequestPhoto.PhotoDescription"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="form-group col-12" *ngIf="screenStatus!='View'">
            <label for="Attachments">Attachments</label>
            <!-- <input multiple type="file" class="form-control attachment" id="Attachments"> -->
            <input #variable type="file" multiple class="form-control attachment" [disabled]="screenStatus=='View'"
              name="Attachments" (change)="uploadFiles($event)" [(ngModel)]="mediarequestPhoto.Attachments"
              id="Attachments" placeholder="Select file" />
          </div>
          <div class="col-11 col-md-6" *ngIf="uploadProcess">
            <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{'width':uploadPercentage+'%'}"
                aria-valuenow="uploadPercentage" aria-valuemin="0" aria-valuemax="100">{{uploadPercentage}}%</div>
            </div>
          </div>
          <div class="col-11 mx-3 mb-2" *ngIf="attachments.length>0">
            <label for="Keywords">Attachment List</label>
            <div class="row border font-weight-bold">
              <div class="col border">File Name</div>
              <div class="col border text-center" *ngIf="screenStatus!='View'">Action</div>
            </div>
            <div *ngFor="let file of attachments; let i = index">
              <div class="row">
                <div class="col-{{(screenStatus!='View')?'6':12}} attachment-width border">
                  <a class="cursor"
                    href="{{attachmentDownloadUrl}}?filename={{file.AttachmentsName}}&guid={{file.AttachmentGuid}}">{{file.AttachmentsName}}</a>
                </div>
                <div class="col-6 border text-center" *ngIf="screenStatus!='View'">
                  <span (click)="deleteAttachment(i)"><i class="fas fa-trash-alt"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-form-wrapper my-3 p-4">
    <div class="row justify-content-center px-3">
      <div class="col-12 comment">
        <!-- <div *ngIf="this.screenStatus == 'View'" class="page-form-wrapper my-3 p-4">
                <div class="row" *ngFor="let his of mediarequestPhoto.HistoryLog">
                  <div class="col-auto">
                    <div class="rounded-btn">
                      <img class="clock" src="assets/home/Meeting-clock.png">
                    </div>
                  </div>
                  <div class="col p-2">
                    <div class="row">
                      <div class="col-12">{{hisLog(his.Action)}} By : {{his.CreatedBy}}</div>
                    </div>
                  </div>
                </div>
              </div> -->
        <app-comment-section [comments]="RequestComments" [commentType]="'Photo'" [moduleId]="PhotoID"
          [moduleNameID]="'PhotoID'">
        </app-comment-section>
        <div class="row comment-section">
          <div class="col-2 com-md-2 profile">
            <div class="comment-section-img">
              <img src="{{empProfileImg}}" class="user-ProfileImg" />
            </div>
          </div>
          <div class="col-10 col-md-10 comment-text">
            <div class="comment-section-user-info">
              <p class="comment-section-username">{{currentUser.username}}</p>
            </div>
            <div class="comment-section-content">
              <textarea class="form-control vertical-resize" [(ngModel)]="mediarequestPhoto.Comments"
                id="NewCommentContent" [disabled]="!canComment" placeholder="" rows="3">
                </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
        <div class="row justify-content-center px-3">
          <div *ngIf="createBtnShow" class="col-auto p-1">
            <button class="rounded-btn" [disabled]="validateForm()" [ngClass]="{'disabled-btn': validateForm()}"
              (click)="btnLoad = true;saveRequestPhoto();sendBtnLoad='true'">
              <app-btn-loader *ngIf="sendBtnLoad" class="btn-loader"></app-btn-loader>
              SUBMIT
            </button>
          </div>
          <div *ngIf="approverBtn" class="col-auto p-1">
            <button class="rounded-btn" [disabled]="btnLoad"
              (click)="btnLoad = 'true';statusChange('Approve',template);approveBtnLoad='true'">
              <app-btn-loader *ngIf="approveBtnLoad" class="btn-loader"></app-btn-loader>APPROVE
            </button>
          </div>


          <div *ngIf="approverBtn" class="col-auto p-1">
            <button class="rounded-btn" [disabled]="mediarequestPhoto.Comments == '' || btnLoad"
              [ngClass]="{'disabled-btn': mediarequestPhoto.Comments =='' || btnLoad}"
              (click)="btnLoad = 'true';popup('Letter Escalate',template)">ESCALATE</button>
          </div>
          <div *ngIf="approverBtn" class="col-auto p-1">
            <button class="rounded-btn" [disabled]="mediarequestPhoto.Comments == '' || btnLoad"
              [ngClass]="{'disabled-btn': mediarequestPhoto.Comments =='' || btnLoad}"
              (click)="btnLoad = true;statusChange('ReturnForInfo');returnInfoBtnLoad = true">
              <app-btn-loader *ngIf="returnInfoBtnLoad" class="btn-loader"></app-btn-loader>
              RETURN FOR INFO
            </button>
          </div>
          <div *ngIf="approverBtn" class="col-auto p-1">
            <button class="rounded-btn" [disabled]="mediarequestPhoto.Comments == '' || btnLoad"
              [ngClass]="{'disabled-btn': mediarequestPhoto.Comments =='' || btnLoad}"
              (click)="btnLoad = 'true';statusChange('Reject',template);rejectBtnLoad='true'">
              <app-btn-loader *ngIf="rejectBtnLoad" class="btn-loader"></app-btn-loader>REJECT
            </button>
          </div>
          <div class="col-auto p-1" *ngIf="assignBtn">
            <button class="rounded-btn" (click)="btnLoad=true;assignpopup('AssignTo')" [disabled]="btnLoad"
              [ngClass]="{'disabled-btn': btnLoad}">
              <app-btn-loader *ngIf="assignBtnLd" class="btn-loader"></app-btn-loader>ASSIGN
            </button>
          </div>
          <div class="col-auto p-1" *ngIf="assigntomeBtn">
            <button class="rounded-btn" (click)="btnLoad=true;statusChange('AssignToMe')" [disabled]="btnLoad"
              [ngClass]="{'disabled-btn': btnLoad}">
              <app-btn-loader *ngIf="assigntomeBtnLd" class="btn-loader"></app-btn-loader>ASSIGN TO ME
            </button>
          </div>
          <div *ngIf="closeBtn" class="col-auto p-1">
            <button class="rounded-btn" [disabled]="btnLoad"
              (click)="btnLoad = 'true';statusChange('Close',template);closeBtnLoad='true'">
              <app-btn-loader *ngIf="closeBtnLoad" class="btn-loader"></app-btn-loader>CLOSE
            </button>
          </div>
        </div>
     
  </div>