.holiday-color-block{
    background-color: #a39160;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.holiday-color-block-content{
    background-color: #a39160;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top:10%;
}

.row-separator{
    margin-top:20px;
    margin-bottom: 20px;
}
.legends-block{
    display: inline-block;
}

.legends-color{
    padding-left: 8px;
    padding-right: 10px;
}

.legends-title{
    padding-left: 10px;
    padding-right: 10px;
}

.wap-color{
    background-color: #DA8237;
}

.ap-color{
    background-color: #03ADE0;
}

.cp-color{
    background-color: #00BA58;
}

.cd-color{
    background-color: #FF5D5A;
}

.oth-color{
    background-color: #A39161;
}