<div class="container-fluid py-2">
    <div class="row" *ngIf="!editMode">
        <div class="col p-2">
          <div class="row">
            <div class="col-12 refresh-div">
                Last status update at {{ currDate ? (currDate | date: 'hh:mm a') : '' }} / {{ currDate ? (currDate | date: 'dd/MM/yyyy') : ''}}
                <div class="refresh-btn"><img class="refresh" (click)="syncDate()" src="assets/home/refresh.png"></div>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="page-form-wrapper"  id="trigger-scroll">
  <div class="form-title" *ngIf="mode === 'create'">
    REQUEST CREATION
  </div>
  <div class="form-title" *ngIf="mode === 'view'">
    REQUEST VIEW
  </div>
  <div class="container-fluid py-2">
    <div class="row" *ngIf="!editMode">
      <div class="form-group col-12 col-md-4" >
          <label for="Ref ID">Ref ID</label>
          <input type="text" class="form-control" [disabled]="true" [(ngModel)]="refId" id="Ref_ID">
      </div>
      <div class="form-group col-12 col-md-4" >
          <label for="Ref ID">Status</label>
          <input type="text" class="form-control" [disabled]="true" [(ngModel)]="status">
      </div>
      <div class="form-group col-12 col-md-3">
        <label for="Date">Date</label>
        <div class="position-relative">
          <input type="text" class="form-control" [disabled]="true" bsDatepicker #dp="bsDatepicker" [(ngModel)]="date" [bsConfig]="bsConfig">
          <i class="far fa-calendar date" *ngIf="mode == 'create'" (click)="dp.toggle()"></i>
          <i class="far fa-calendar date" *ngIf="mode == 'view'"></i>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!editMode">
      <div class="form-group col-12 col-md-4">
        <label for="Ref ID">Source Office/Department</label>
        <input type="text" class="form-control" [disabled]="true" [(ngModel)]="sourceOU">
      </div>
      <div class="form-group col-12 col-md-4">
        <label for="Ref ID">Source Name</label>
        <input type="text" class="form-control" [disabled]="true" [(ngModel)]="sourceName">
      </div>
    </div>
    <hr *ngIf="!editMode"/>
    <div class="row">
      <div class="form-group col-12 col-md-4" [ngClass]="{required:editMode}">
        <label for="Ref ID">Subject</label>
        <input type="text" class="form-control" placeholder="Enter Subject" [(ngModel)]="subject" [disabled]="!editMode" id="Ref_ID">
      </div>
      <div class="form-group col-12 col-md-4">
        <label for="country-of-birth">Requestor Office/Department</label>
        <ng-select
          class="status-ddown"
          [closeOnSelect]="true"
          (change)="onChangeRequstorDepartment()"
          [items]="departmentList"
          bindLabel="OrganizationUnits"
          bindValue="OrganizationID"
          placeholder="Select Requestor Department"
          [(ngModel)]="RequestorDepartment"
          [disabled]="!editMode || !(isItDepartmentHeadUserID || isItDepartmentTeamUserID)">
        </ng-select>
      </div>
      <div class="form-group col-12 col-md-4">
        <label for="country-of-birth">Requestor Name</label>
        <ng-select
          [disabled]="!editMode || !(isItDepartmentHeadUserID || isItDepartmentTeamUserID)"
          class="status-ddown"
          [items]="requestorList"
          [closeOnSelect]="true"
          bindLabel="EmployeeName"
          bindValue="UserID"
          placeholder="Select Requestor Name"
          [(ngModel)]="RequestorName">
        </ng-select>
      </div>
    </div>
    <div class=row>
      <div class="form-group col-12 col-md-8" [ngClass]="{required:editMode}">
          <label for="Gender">Request Type</label>
          <div>
            <p><input type="radio" (change)="validate()" [disabled]="!editMode" name="request_type" value="1" [(ngModel)]="RequestType"> IT Support <span class="it-support-desription">(Print not working, Email issue etc)</span></p>
            <p><input type="radio" (change)="validate()" [disabled]="!editMode" name="request_type" value="2" [(ngModel)]="RequestType"> IT Service <span class="it-support-desription">(Support any presentation, Desk shifting)</span></p>
            <p><input type="radio" (change)="validate()" [disabled]="!editMode" name="request_type" value="3" [(ngModel)]="RequestType"> IT Components</p>
          </div>
      </div>
    </div>
    <div class=row>
      <div class="form-group col-12 col-md-12" [ngClass]="{required:editMode}">
        <label for="Gender">Request Details</label>
          <textarea
          [disabled]="!editMode"
          class="form-control"
          id="notes"
          placeholder="Enter Request Details"
          (ngModelChange)="validate()"
          [(ngModel)]="RequestDetails"></textarea>
      </div>
    </div>
    <div class=row>
      <div class="form-group col-12 col-md-4" [ngClass]="{required:editMode}">
        <label for="Gender">Priority</label>
        <div>
          <input type="radio" (change)="validate()" [disabled]="!editMode" name="priority" id="priority-high" [(ngModel)]="Priority" value="high"> High
          <input type="radio" (change)="validate()" [disabled]="!editMode" name="priority" id="priority-low" [(ngModel)]="Priority" value='low'> Low
        </div>
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="certificate">Attachments</label>
        <input #fileInput type="file" [disabled]="!editMode" class="form-control attachment" name="attachment" id="certificate"
          placeholder="Select file" (change) = "handleFileUpload($event)" multiple/>
      </div>
    </div>
    <div class="form-group col-12 col-md-6" *ngIf="attachments.length>0">
      <label for="Keywords">Attachment List</label>
      <div class="row border font-weight-bold">
        <div class="border" [ngClass]="mode=='create' ? 'col-6': 'col-12'">File Name</div>
        <div class="col-6 border text-center" *ngIf="mode == 'create'">Action</div>
      </div>
      <div *ngFor="let file of attachments; let i = index">
        <div class="row">
          <div class="attachment-width border" [ngClass]="mode=='create' ? 'col-6': 'col-12'">
            <a class="cursor" href="{{downloadUrl}}?filename={{file.AttachmentsName}}&guid={{file.AttachmentGuid}}">{{file.AttachmentsName}}</a>
          </div>
          <div class="col-6 border text-center" *ngIf="mode == 'create'">
            <span (click)="deleteAttachment(i)"><i class="fas fa-trash-alt"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="editMode">
      <div class="col-12 text-center it-request-submit">
        <button class="rounded-btn" (click)="onSubmit()" [ngClass]="{'disabled-btn': validate() || inProgress}" [disabled]="validate() || inProgress">SUBMIT</button>
      </div>
    </div>
  </div>
</div>

<div class="page-form-wrapper my-3 p-4" *ngIf="mode == 'view' && historyLogs && (historyLogs.length > 0)">
  <div class="row" *ngFor="let his of historyLogs">
    <div class="col-auto" *ngIf="his.ActionDateTime">
      <div class="rounded-btn">
        <img class="clock" src="assets/home/Meeting-clock.png">
        {{his.ActionDateTime | date: 'hh:mm a'}} / {{his.ActionDateTime | date: 'dd/MM/yyyy'}}
      </div>
    </div>
    <div class="col p-2"*ngIf="his.Action">
      <div class="row">
        <div class="col-12">{{hisLog(his.Action)}} : {{his.ActionBy}}</div>
      </div>
    </div>
  </div>
</div>

