@import '../../../../styles.scss';

.dashboard {
  .card {
    background: #f8f9fa;
    border-radius: inherit;
    cursor: pointer;
    min-height: 190px;
    max-height: 190px;
    .card-body {
      box-shadow: none !important;
      .card-body-top{
        min-height:100px;
        max-height: 100px;
      }

      .count {
        color: $medium-color;
        font-size: 40px;
        font-weight: 900;
      }

      .name {
        font-size: 16px;
        //font-weight: 600;
        line-height: 5px;
        display: contents;
        word-break: break-all;
      }
      .displayname {
        font-size: 16px;
        font-weight: bold;
        line-height: 16px;
        display: contents;
        word-break: break-all;
      }
      .txt-ct{
        text-align: center;
      }

      @media screen and (max-width:1200px) and(min-width:945px) {
        .count {
          color: $medium-color;
          font-size: 30px;
          font-weight: 900;
        }

        .name {
          font-size: 12px;
          font-weight: 600;
          line-height: 5px;
          word-break: break-all;
        }

      }

      @media screen and (max-width:945px) and(min-width:768px) {
        .count {
          color: $medium-color;
          font-size: 18px;
          font-weight: 900;
        }

        .name {
          font-size: 10px;
          font-weight: 600;
          line-height: 5px;
          word-break: break-all;
        }

        .md-image{
          height: 50px;
        }

      }

      .progress {
        height: 8px !important;
        border-radius: 0 !important;

        .progress-bar{
            background: $medium-color !important;
        }
      }
    }
  }

  .shadow {
    box-shadow: 0px 0px 2px -1px;
  }

  .dashboard-user-cards{
    margin-bottom: 15px;
      .user-card{
          background: #f8f9fa;
          border-radius: inherit;
          margin-top: 10px;
          cursor: pointer;
          .user-card-content{
              box-shadow: none !important;
              margin: 0 auto;
              .user-card-icon{
                  display: block;
                  width: 60%;
                  margin-left: auto;
                  margin-right: auto;
                  padding: 0;
              }
              .user-card-icon.profile{
                  width: 40%;
              }
              .user-card-icon.docs{
                min-height: 82px;                  
              }
              .user-card-title{
                  font-size: 16px;
                  font-weight: bold;
                  margin: 10px 0;
              }
              
          }
      }
  }
    
  .line-separator{
      padding:0px;
  }

  .card.table-cards {
    max-height: none;
  }
}

.rounded-btn .fa-plus{
    margin: 5px;
}

.page-body-wrapper .title-sy{
    font-size: 20px;
    font-weight: bold;
}

.mt-10{
  margin-top: 10px;
}

.list-btn{
  background: #b59647;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 0px 20px;
}
.edit-btn{
  background: #3978e0;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 0px 20px;
}

// @media (min-width: 768px){
  .p-md-4 {
    padding: 1.5rem 0.4rem !important;
  }
// }

.mar-top{
  margin-top: 12px;
}

.page-form-wrapper{
  padding-bottom: 10px;
}

.p-right {
  padding-right: 35px !important;
}

.p-left {
  padding-left: 25px !important;
}
