.m-0 {
  margin: 0px;
}

.p-0 {
  padding: 0px;
}

.m-1 {
  margin: 10px;
}

.p-1 {
  padding: 10px;
}

.m-2 {
  margin: 20px;
}

.p-2 {
  padding: 20px;
}

.m-3 {
  margin: 30px;
}

.p-3 {
  padding: 30px;
}

.m-4 {
  margin: 40px;
}

.p-4 {
  padding: 40px;
}

.m-5 {
  margin: 50px;
}

.p-5 {
  padding: 50px;
}

.m-6 {
  margin: 60px;
}

.p-6 {
  padding: 60px;
}

.m-7 {
  margin: 70px;
}

.p-7 {
  padding: 70px;
}

.m-8 {
  margin: 80px;
}

.p-8 {
  padding: 80px;
}

.m-9 {
  margin: 90px;
}

.p-9 {
  padding: 90px;
}

.m-10 {
  margin: 100px;
}

.p-10 {
  padding: 100px;
}

.mt-0 {
  margin-top: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.mt-1 {
  margin-top: 10px;
}

.pt-1 {
  padding-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.pt-2 {
  padding-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.pt-3 {
  padding-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.pt-4 {
  padding-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.pt-5 {
  padding-top: 50px;
}

.mt-6 {
  margin-top: 60px;
}

.pt-6 {
  padding-top: 60px;
}

.mt-7 {
  margin-top: 70px;
}

.pt-7 {
  padding-top: 70px;
}

.mt-8 {
  margin-top: 80px;
}

.pt-8 {
  padding-top: 80px;
}

.mt-9 {
  margin-top: 90px;
}

.pt-9 {
  padding-top: 90px;
}

.mt-10 {
  margin-top: 100px;
}

.pt-10 {
  padding-top: 100px;
}

.mb-0 {
  margin-bottom: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.mb-1 {
  margin-bottom: 10px;
}

.pb-1 {
  padding-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.pb-2 {
  padding-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.pb-3 {
  padding-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.pb-4 {
  padding-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.pb-5 {
  padding-bottom: 50px;
}

.mb-6 {
  margin-bottom: 60px;
}

.pb-6 {
  padding-bottom: 60px;
}

.mb-7 {
  margin-bottom: 70px;
}

.pb-7 {
  padding-bottom: 70px;
}

.mb-8 {
  margin-bottom: 80px;
}

.pb-8 {
  padding-bottom: 80px;
}

.mb-9 {
  margin-bottom: 90px;
}

.pb-9 {
  padding-bottom: 90px;
}

.mb-10 {
  margin-bottom: 100px;
}

.pb-10 {
  padding-bottom: 100px;
}

.ml-0 {
  margin-left: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.ml-1 {
  margin-left: 10px;
}

.pl-1 {
  padding-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.pl-2 {
  padding-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.pl-3 {
  padding-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.pl-4 {
  padding-left: 40px;
}

.ml-5 {
  margin-left: 50px;
}

.pl-5 {
  padding-left: 50px;
}

.ml-6 {
  margin-left: 60px;
}

.pl-6 {
  padding-left: 60px;
}

.ml-7 {
  margin-left: 70px;
}

.pl-7 {
  padding-left: 70px;
}

.ml-8 {
  margin-left: 80px;
}

.pl-8 {
  padding-left: 80px;
}

.ml-9 {
  margin-left: 90px;
}

.pl-9 {
  padding-left: 90px;
}

.ml-10 {
  margin-left: 100px;
}

.pl-10 {
  padding-left: 100px;
}

.mr-0 {
  margin-right: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.mr-1 {
  margin-right: 10px;
}

.pr-1 {
  padding-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.pr-2 {
  padding-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.pr-3 {
  padding-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.pr-4 {
  padding-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.pr-5 {
  padding-right: 50px;
}

.mr-6 {
  margin-right: 60px;
}

.pr-6 {
  padding-right: 60px;
}

.mr-7 {
  margin-right: 70px;
}

.pr-7 {
  padding-right: 70px;
}

.mr-8 {
  margin-right: 80px;
}

.pr-8 {
  padding-right: 80px;
}

.mr-9 {
  margin-right: 90px;
}

.pr-9 {
  padding-right: 90px;
}

.mr-10 {
  margin-right: 100px;
}

.pr-10 {
  padding-right: 100px;
}

@media (min-width: 576px) {
  .m-xs-0 {
    margin: 0px;
  }

  .p-xs-0 {
    padding: 0px;
  }
}

@media (min-width: 576px) {
  .m-xs-1 {
    margin: 10px;
  }

  .p-xs-1 {
    padding: 10px;
  }
}

@media (min-width: 576px) {
  .m-xs-2 {
    margin: 20px;
  }

  .p-xs-2 {
    padding: 20px;
  }
}

@media (min-width: 576px) {
  .m-xs-3 {
    margin: 30px;
  }

  .p-xs-3 {
    padding: 30px;
  }
}

@media (min-width: 576px) {
  .m-xs-4 {
    margin: 40px;
  }

  .p-xs-4 {
    padding: 40px;
  }
}

@media (min-width: 576px) {
  .m-xs-5 {
    margin: 50px;
  }

  .p-xs-5 {
    padding: 50px;
  }
}

@media (min-width: 576px) {
  .m-xs-6 {
    margin: 60px;
  }

  .p-xs-6 {
    padding: 60px;
  }
}

@media (min-width: 576px) {
  .m-xs-7 {
    margin: 70px;
  }

  .p-xs-7 {
    padding: 70px;
  }
}

@media (min-width: 576px) {
  .m-xs-8 {
    margin: 80px;
  }

  .p-xs-8 {
    padding: 80px;
  }
}

@media (min-width: 576px) {
  .m-xs-9 {
    margin: 90px;
  }

  .p-xs-9 {
    padding: 90px;
  }
}

@media (min-width: 576px) {
  .m-xs-10 {
    margin: 100px;
  }

  .p-xs-10 {
    padding: 100px;
  }
}

@media (min-width: 576px) {
  .mt-xs-0 {
    margin-top: 0px;
  }

  .pt-xs-0 {
    padding-top: 0px;
  }
}

@media (min-width: 576px) {
  .mt-xs-1 {
    margin-top: 10px;
  }

  .pt-xs-1 {
    padding-top: 10px;
  }
}

@media (min-width: 576px) {
  .mt-xs-2 {
    margin-top: 20px;
  }

  .pt-xs-2 {
    padding-top: 20px;
  }
}

@media (min-width: 576px) {
  .mt-xs-3 {
    margin-top: 30px;
  }

  .pt-xs-3 {
    padding-top: 30px;
  }
}

@media (min-width: 576px) {
  .mt-xs-4 {
    margin-top: 40px;
  }

  .pt-xs-4 {
    padding-top: 40px;
  }
}

@media (min-width: 576px) {
  .mt-xs-5 {
    margin-top: 50px;
  }

  .pt-xs-5 {
    padding-top: 50px;
  }
}

@media (min-width: 576px) {
  .mt-xs-6 {
    margin-top: 60px;
  }

  .pt-xs-6 {
    padding-top: 60px;
  }
}

@media (min-width: 576px) {
  .mt-xs-7 {
    margin-top: 70px;
  }

  .pt-xs-7 {
    padding-top: 70px;
  }
}

@media (min-width: 576px) {
  .mt-xs-8 {
    margin-top: 80px;
  }

  .pt-xs-8 {
    padding-top: 80px;
  }
}

@media (min-width: 576px) {
  .mt-xs-9 {
    margin-top: 90px;
  }

  .pt-xs-9 {
    padding-top: 90px;
  }
}

@media (min-width: 576px) {
  .mt-xs-10 {
    margin-top: 100px;
  }

  .pt-xs-10 {
    padding-top: 100px;
  }
}

@media (min-width: 576px) {
  .mb-xs-0 {
    margin-bottom: 0px;
  }

  .pb-xs-0 {
    padding-bottom: 0px;
  }
}

@media (min-width: 576px) {
  .mb-xs-1 {
    margin-bottom: 10px;
  }

  .pb-xs-1 {
    padding-bottom: 10px;
  }
}

@media (min-width: 576px) {
  .mb-xs-2 {
    margin-bottom: 20px;
  }

  .pb-xs-2 {
    padding-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .mb-xs-3 {
    margin-bottom: 30px;
  }

  .pb-xs-3 {
    padding-bottom: 30px;
  }
}

@media (min-width: 576px) {
  .mb-xs-4 {
    margin-bottom: 40px;
  }

  .pb-xs-4 {
    padding-bottom: 40px;
  }
}

@media (min-width: 576px) {
  .mb-xs-5 {
    margin-bottom: 50px;
  }

  .pb-xs-5 {
    padding-bottom: 50px;
  }
}

@media (min-width: 576px) {
  .mb-xs-6 {
    margin-bottom: 60px;
  }

  .pb-xs-6 {
    padding-bottom: 60px;
  }
}

@media (min-width: 576px) {
  .mb-xs-7 {
    margin-bottom: 70px;
  }

  .pb-xs-7 {
    padding-bottom: 70px;
  }
}

@media (min-width: 576px) {
  .mb-xs-8 {
    margin-bottom: 80px;
  }

  .pb-xs-8 {
    padding-bottom: 80px;
  }
}

@media (min-width: 576px) {
  .mb-xs-9 {
    margin-bottom: 90px;
  }

  .pb-xs-9 {
    padding-bottom: 90px;
  }
}

@media (min-width: 576px) {
  .mb-xs-10 {
    margin-bottom: 100px;
  }

  .pb-xs-10 {
    padding-bottom: 100px;
  }
}

@media (min-width: 576px) {
  .ml-xs-0 {
    margin-left: 0px;
  }

  .pl-xs-0 {
    padding-left: 0px;
  }
}

@media (min-width: 576px) {
  .ml-xs-1 {
    margin-left: 10px;
  }

  .pl-xs-1 {
    padding-left: 10px;
  }
}

@media (min-width: 576px) {
  .ml-xs-2 {
    margin-left: 20px;
  }

  .pl-xs-2 {
    padding-left: 20px;
  }
}

@media (min-width: 576px) {
  .ml-xs-3 {
    margin-left: 30px;
  }

  .pl-xs-3 {
    padding-left: 30px;
  }
}

@media (min-width: 576px) {
  .ml-xs-4 {
    margin-left: 40px;
  }

  .pl-xs-4 {
    padding-left: 40px;
  }
}

@media (min-width: 576px) {
  .ml-xs-5 {
    margin-left: 50px;
  }

  .pl-xs-5 {
    padding-left: 50px;
  }
}

@media (min-width: 576px) {
  .ml-xs-6 {
    margin-left: 60px;
  }

  .pl-xs-6 {
    padding-left: 60px;
  }
}

@media (min-width: 576px) {
  .ml-xs-7 {
    margin-left: 70px;
  }

  .pl-xs-7 {
    padding-left: 70px;
  }
}

@media (min-width: 576px) {
  .ml-xs-8 {
    margin-left: 80px;
  }

  .pl-xs-8 {
    padding-left: 80px;
  }
}

@media (min-width: 576px) {
  .ml-xs-9 {
    margin-left: 90px;
  }

  .pl-xs-9 {
    padding-left: 90px;
  }
}

@media (min-width: 576px) {
  .ml-xs-10 {
    margin-left: 100px;
  }

  .pl-xs-10 {
    padding-left: 100px;
  }
}

@media (min-width: 576px) {
  .mr-xs-0 {
    margin-right: 0px;
  }

  .pr-xs-0 {
    padding-right: 0px;
  }
}

@media (min-width: 576px) {
  .mr-xs-1 {
    margin-right: 10px;
  }

  .pr-xs-1 {
    padding-right: 10px;
  }
}

@media (min-width: 576px) {
  .mr-xs-2 {
    margin-right: 20px;
  }

  .pr-xs-2 {
    padding-right: 20px;
  }
}

@media (min-width: 576px) {
  .mr-xs-3 {
    margin-right: 30px;
  }

  .pr-xs-3 {
    padding-right: 30px;
  }
}

@media (min-width: 576px) {
  .mr-xs-4 {
    margin-right: 40px;
  }

  .pr-xs-4 {
    padding-right: 40px;
  }
}

@media (min-width: 576px) {
  .mr-xs-5 {
    margin-right: 50px;
  }

  .pr-xs-5 {
    padding-right: 50px;
  }
}

@media (min-width: 576px) {
  .mr-xs-6 {
    margin-right: 60px;
  }

  .pr-xs-6 {
    padding-right: 60px;
  }
}

@media (min-width: 576px) {
  .mr-xs-7 {
    margin-right: 70px;
  }

  .pr-xs-7 {
    padding-right: 70px;
  }
}

@media (min-width: 576px) {
  .mr-xs-8 {
    margin-right: 80px;
  }

  .pr-xs-8 {
    padding-right: 80px;
  }
}

@media (min-width: 576px) {
  .mr-xs-9 {
    margin-right: 90px;
  }

  .pr-xs-9 {
    padding-right: 90px;
  }
}

@media (min-width: 576px) {
  .mr-xs-10 {
    margin-right: 100px;
  }

  .pr-xs-10 {
    padding-right: 100px;
  }
}

@media (min-width: 768pxm) {
  .m-sm-0 {
    margin: 0px;
  }

  .p-sm-0 {
    padding: 0px;
  }
}

@media (min-width: 768pxm) {
  .m-sm-1 {
    margin: 10px;
  }

  .p-sm-1 {
    padding: 10px;
  }
}

@media (min-width: 768pxm) {
  .m-sm-2 {
    margin: 20px;
  }

  .p-sm-2 {
    padding: 20px;
  }
}

@media (min-width: 768pxm) {
  .m-sm-3 {
    margin: 30px;
  }

  .p-sm-3 {
    padding: 30px;
  }
}

@media (min-width: 768pxm) {
  .m-sm-4 {
    margin: 40px;
  }

  .p-sm-4 {
    padding: 40px;
  }
}

@media (min-width: 768pxm) {
  .m-sm-5 {
    margin: 50px;
  }

  .p-sm-5 {
    padding: 50px;
  }
}

@media (min-width: 768pxm) {
  .m-sm-6 {
    margin: 60px;
  }

  .p-sm-6 {
    padding: 60px;
  }
}

@media (min-width: 768pxm) {
  .m-sm-7 {
    margin: 70px;
  }

  .p-sm-7 {
    padding: 70px;
  }
}

@media (min-width: 768pxm) {
  .m-sm-8 {
    margin: 80px;
  }

  .p-sm-8 {
    padding: 80px;
  }
}

@media (min-width: 768pxm) {
  .m-sm-9 {
    margin: 90px;
  }

  .p-sm-9 {
    padding: 90px;
  }
}

@media (min-width: 768pxm) {
  .m-sm-10 {
    margin: 100px;
  }

  .p-sm-10 {
    padding: 100px;
  }
}

@media (min-width: 768pxm) {
  .mt-sm-0 {
    margin-top: 0px;
  }

  .pt-sm-0 {
    padding-top: 0px;
  }
}

@media (min-width: 768pxm) {
  .mt-sm-1 {
    margin-top: 10px;
  }

  .pt-sm-1 {
    padding-top: 10px;
  }
}

@media (min-width: 768pxm) {
  .mt-sm-2 {
    margin-top: 20px;
  }

  .pt-sm-2 {
    padding-top: 20px;
  }
}

@media (min-width: 768pxm) {
  .mt-sm-3 {
    margin-top: 30px;
  }

  .pt-sm-3 {
    padding-top: 30px;
  }
}

@media (min-width: 768pxm) {
  .mt-sm-4 {
    margin-top: 40px;
  }

  .pt-sm-4 {
    padding-top: 40px;
  }
}

@media (min-width: 768pxm) {
  .mt-sm-5 {
    margin-top: 50px;
  }

  .pt-sm-5 {
    padding-top: 50px;
  }
}

@media (min-width: 768pxm) {
  .mt-sm-6 {
    margin-top: 60px;
  }

  .pt-sm-6 {
    padding-top: 60px;
  }
}

@media (min-width: 768pxm) {
  .mt-sm-7 {
    margin-top: 70px;
  }

  .pt-sm-7 {
    padding-top: 70px;
  }
}

@media (min-width: 768pxm) {
  .mt-sm-8 {
    margin-top: 80px;
  }

  .pt-sm-8 {
    padding-top: 80px;
  }
}

@media (min-width: 768pxm) {
  .mt-sm-9 {
    margin-top: 90px;
  }

  .pt-sm-9 {
    padding-top: 90px;
  }
}

@media (min-width: 768pxm) {
  .mt-sm-10 {
    margin-top: 100px;
  }

  .pt-sm-10 {
    padding-top: 100px;
  }
}

@media (min-width: 768pxm) {
  .mb-sm-0 {
    margin-bottom: 0px;
  }

  .pb-sm-0 {
    padding-bottom: 0px;
  }
}

@media (min-width: 768pxm) {
  .mb-sm-1 {
    margin-bottom: 10px;
  }

  .pb-sm-1 {
    padding-bottom: 10px;
  }
}

@media (min-width: 768pxm) {
  .mb-sm-2 {
    margin-bottom: 20px;
  }

  .pb-sm-2 {
    padding-bottom: 20px;
  }
}

@media (min-width: 768pxm) {
  .mb-sm-3 {
    margin-bottom: 30px;
  }

  .pb-sm-3 {
    padding-bottom: 30px;
  }
}

@media (min-width: 768pxm) {
  .mb-sm-4 {
    margin-bottom: 40px;
  }

  .pb-sm-4 {
    padding-bottom: 40px;
  }
}

@media (min-width: 768pxm) {
  .mb-sm-5 {
    margin-bottom: 50px;
  }

  .pb-sm-5 {
    padding-bottom: 50px;
  }
}

@media (min-width: 768pxm) {
  .mb-sm-6 {
    margin-bottom: 60px;
  }

  .pb-sm-6 {
    padding-bottom: 60px;
  }
}

@media (min-width: 768pxm) {
  .mb-sm-7 {
    margin-bottom: 70px;
  }

  .pb-sm-7 {
    padding-bottom: 70px;
  }
}

@media (min-width: 768pxm) {
  .mb-sm-8 {
    margin-bottom: 80px;
  }

  .pb-sm-8 {
    padding-bottom: 80px;
  }
}

@media (min-width: 768pxm) {
  .mb-sm-9 {
    margin-bottom: 90px;
  }

  .pb-sm-9 {
    padding-bottom: 90px;
  }
}

@media (min-width: 768pxm) {
  .mb-sm-10 {
    margin-bottom: 100px;
  }

  .pb-sm-10 {
    padding-bottom: 100px;
  }
}

@media (min-width: 768pxm) {
  .ml-sm-0 {
    margin-left: 0px;
  }

  .pl-sm-0 {
    padding-left: 0px;
  }
}

@media (min-width: 768pxm) {
  .ml-sm-1 {
    margin-left: 10px;
  }

  .pl-sm-1 {
    padding-left: 10px;
  }
}

@media (min-width: 768pxm) {
  .ml-sm-2 {
    margin-left: 20px;
  }

  .pl-sm-2 {
    padding-left: 20px;
  }
}

@media (min-width: 768pxm) {
  .ml-sm-3 {
    margin-left: 30px;
  }

  .pl-sm-3 {
    padding-left: 30px;
  }
}

@media (min-width: 768pxm) {
  .ml-sm-4 {
    margin-left: 40px;
  }

  .pl-sm-4 {
    padding-left: 40px;
  }
}

@media (min-width: 768pxm) {
  .ml-sm-5 {
    margin-left: 50px;
  }

  .pl-sm-5 {
    padding-left: 50px;
  }
}

@media (min-width: 768pxm) {
  .ml-sm-6 {
    margin-left: 60px;
  }

  .pl-sm-6 {
    padding-left: 60px;
  }
}

@media (min-width: 768pxm) {
  .ml-sm-7 {
    margin-left: 70px;
  }

  .pl-sm-7 {
    padding-left: 70px;
  }
}

@media (min-width: 768pxm) {
  .ml-sm-8 {
    margin-left: 80px;
  }

  .pl-sm-8 {
    padding-left: 80px;
  }
}

@media (min-width: 768pxm) {
  .ml-sm-9 {
    margin-left: 90px;
  }

  .pl-sm-9 {
    padding-left: 90px;
  }
}

@media (min-width: 768pxm) {
  .ml-sm-10 {
    margin-left: 100px;
  }

  .pl-sm-10 {
    padding-left: 100px;
  }
}

@media (min-width: 768pxm) {
  .mr-sm-0 {
    margin-right: 0px;
  }

  .pr-sm-0 {
    padding-right: 0px;
  }
}

@media (min-width: 768pxm) {
  .mr-sm-1 {
    margin-right: 10px;
  }

  .pr-sm-1 {
    padding-right: 10px;
  }
}

@media (min-width: 768pxm) {
  .mr-sm-2 {
    margin-right: 20px;
  }

  .pr-sm-2 {
    padding-right: 20px;
  }
}

@media (min-width: 768pxm) {
  .mr-sm-3 {
    margin-right: 30px;
  }

  .pr-sm-3 {
    padding-right: 30px;
  }
}

@media (min-width: 768pxm) {
  .mr-sm-4 {
    margin-right: 40px;
  }

  .pr-sm-4 {
    padding-right: 40px;
  }
}

@media (min-width: 768pxm) {
  .mr-sm-5 {
    margin-right: 50px;
  }

  .pr-sm-5 {
    padding-right: 50px;
  }
}

@media (min-width: 768pxm) {
  .mr-sm-6 {
    margin-right: 60px;
  }

  .pr-sm-6 {
    padding-right: 60px;
  }
}

@media (min-width: 768pxm) {
  .mr-sm-7 {
    margin-right: 70px;
  }

  .pr-sm-7 {
    padding-right: 70px;
  }
}

@media (min-width: 768pxm) {
  .mr-sm-8 {
    margin-right: 80px;
  }

  .pr-sm-8 {
    padding-right: 80px;
  }
}

@media (min-width: 768pxm) {
  .mr-sm-9 {
    margin-right: 90px;
  }

  .pr-sm-9 {
    padding-right: 90px;
  }
}

@media (min-width: 768pxm) {
  .mr-sm-10 {
    margin-right: 100px;
  }

  .pr-sm-10 {
    padding-right: 100px;
  }
}

@media (min-width: 992px) {
  .m-md-0 {
    margin: 0px;
  }

  .p-md-0 {
    padding: 0px;
  }
}

@media (min-width: 992px) {
  .m-md-1 {
    margin: 10px;
  }

  .p-md-1 {
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .m-md-2 {
    margin: 20px;
  }

  .p-md-2 {
    padding: 20px;
  }
}

@media (min-width: 992px) {
  .m-md-3 {
    margin: 30px;
  }

  .p-md-3 {
    padding: 30px;
  }
}

@media (min-width: 992px) {
  .m-md-4 {
    margin: 40px;
  }

  .p-md-4 {
    padding: 40px;
  }
}

@media (min-width: 992px) {
  .m-md-5 {
    margin: 50px;
  }

  .p-md-5 {
    padding: 50px;
  }
}

@media (min-width: 992px) {
  .m-md-6 {
    margin: 60px;
  }

  .p-md-6 {
    padding: 60px;
  }
}

@media (min-width: 992px) {
  .m-md-7 {
    margin: 70px;
  }

  .p-md-7 {
    padding: 70px;
  }
}

@media (min-width: 992px) {
  .m-md-8 {
    margin: 80px;
  }

  .p-md-8 {
    padding: 80px;
  }
}

@media (min-width: 992px) {
  .m-md-9 {
    margin: 90px;
  }

  .p-md-9 {
    padding: 90px;
  }
}

@media (min-width: 992px) {
  .m-md-10 {
    margin: 100px;
  }

  .p-md-10 {
    padding: 100px;
  }
}

@media (min-width: 992px) {
  .mt-md-0 {
    margin-top: 0px;
  }

  .pt-md-0 {
    padding-top: 0px;
  }
}

@media (min-width: 992px) {
  .mt-md-1 {
    margin-top: 10px;
  }

  .pt-md-1 {
    padding-top: 10px;
  }
}

@media (min-width: 992px) {
  .mt-md-2 {
    margin-top: 20px;
  }

  .pt-md-2 {
    padding-top: 20px;
  }
}

@media (min-width: 992px) {
  .mt-md-3 {
    margin-top: 30px;
  }

  .pt-md-3 {
    padding-top: 30px;
  }
}

@media (min-width: 992px) {
  .mt-md-4 {
    margin-top: 40px;
  }

  .pt-md-4 {
    padding-top: 40px;
  }
}

@media (min-width: 992px) {
  .mt-md-5 {
    margin-top: 50px;
  }

  .pt-md-5 {
    padding-top: 50px;
  }
}

@media (min-width: 992px) {
  .mt-md-6 {
    margin-top: 60px;
  }

  .pt-md-6 {
    padding-top: 60px;
  }
}

@media (min-width: 992px) {
  .mt-md-7 {
    margin-top: 70px;
  }

  .pt-md-7 {
    padding-top: 70px;
  }
}

@media (min-width: 992px) {
  .mt-md-8 {
    margin-top: 80px;
  }

  .pt-md-8 {
    padding-top: 80px;
  }
}

@media (min-width: 992px) {
  .mt-md-9 {
    margin-top: 90px;
  }

  .pt-md-9 {
    padding-top: 90px;
  }
}

@media (min-width: 992px) {
  .mt-md-10 {
    margin-top: 100px;
  }

  .pt-md-10 {
    padding-top: 100px;
  }
}

@media (min-width: 992px) {
  .mb-md-0 {
    margin-bottom: 0px;
  }

  .pb-md-0 {
    padding-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .mb-md-1 {
    margin-bottom: 10px;
  }

  .pb-md-1 {
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .mb-md-2 {
    margin-bottom: 20px;
  }

  .pb-md-2 {
    padding-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .mb-md-3 {
    margin-bottom: 30px;
  }

  .pb-md-3 {
    padding-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .mb-md-4 {
    margin-bottom: 40px;
  }

  .pb-md-4 {
    padding-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .mb-md-5 {
    margin-bottom: 50px;
  }

  .pb-md-5 {
    padding-bottom: 50px;
  }
}

@media (min-width: 992px) {
  .mb-md-6 {
    margin-bottom: 60px;
  }

  .pb-md-6 {
    padding-bottom: 60px;
  }
}

@media (min-width: 992px) {
  .mb-md-7 {
    margin-bottom: 70px;
  }

  .pb-md-7 {
    padding-bottom: 70px;
  }
}

@media (min-width: 992px) {
  .mb-md-8 {
    margin-bottom: 80px;
  }

  .pb-md-8 {
    padding-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .mb-md-9 {
    margin-bottom: 90px;
  }

  .pb-md-9 {
    padding-bottom: 90px;
  }
}

@media (min-width: 992px) {
  .mb-md-10 {
    margin-bottom: 100px;
  }

  .pb-md-10 {
    padding-bottom: 100px;
  }
}

@media (min-width: 992px) {
  .ml-md-0 {
    margin-left: 0px;
  }

  .pl-md-0 {
    padding-left: 0px;
  }
}

@media (min-width: 992px) {
  .ml-md-1 {
    margin-left: 10px;
  }

  .pl-md-1 {
    padding-left: 10px;
  }
}

@media (min-width: 992px) {
  .ml-md-2 {
    margin-left: 20px;
  }

  .pl-md-2 {
    padding-left: 20px;
  }
}

@media (min-width: 992px) {
  .ml-md-3 {
    margin-left: 30px;
  }

  .pl-md-3 {
    padding-left: 30px;
  }
}

@media (min-width: 992px) {
  .ml-md-4 {
    margin-left: 40px;
  }

  .pl-md-4 {
    padding-left: 40px;
  }
}

@media (min-width: 992px) {
  .ml-md-5 {
    margin-left: 50px;
  }

  .pl-md-5 {
    padding-left: 50px;
  }
}

@media (min-width: 992px) {
  .ml-md-6 {
    margin-left: 60px;
  }

  .pl-md-6 {
    padding-left: 60px;
  }
}

@media (min-width: 992px) {
  .ml-md-7 {
    margin-left: 70px;
  }

  .pl-md-7 {
    padding-left: 70px;
  }
}

@media (min-width: 992px) {
  .ml-md-8 {
    margin-left: 80px;
  }

  .pl-md-8 {
    padding-left: 80px;
  }
}

@media (min-width: 992px) {
  .ml-md-9 {
    margin-left: 90px;
  }

  .pl-md-9 {
    padding-left: 90px;
  }
}

@media (min-width: 992px) {
  .ml-md-10 {
    margin-left: 100px;
  }

  .pl-md-10 {
    padding-left: 100px;
  }
}

@media (min-width: 992px) {
  .mr-md-0 {
    margin-right: 0px;
  }

  .pr-md-0 {
    padding-right: 0px;
  }
}

@media (min-width: 992px) {
  .mr-md-1 {
    margin-right: 10px;
  }

  .pr-md-1 {
    padding-right: 10px;
  }
}

@media (min-width: 992px) {
  .mr-md-2 {
    margin-right: 20px;
  }

  .pr-md-2 {
    padding-right: 20px;
  }
}

@media (min-width: 992px) {
  .mr-md-3 {
    margin-right: 30px;
  }

  .pr-md-3 {
    padding-right: 30px;
  }
}

@media (min-width: 992px) {
  .mr-md-4 {
    margin-right: 40px;
  }

  .pr-md-4 {
    padding-right: 40px;
  }
}

@media (min-width: 992px) {
  .mr-md-5 {
    margin-right: 50px;
  }

  .pr-md-5 {
    padding-right: 50px;
  }
}

@media (min-width: 992px) {
  .mr-md-6 {
    margin-right: 60px;
  }

  .pr-md-6 {
    padding-right: 60px;
  }
}

@media (min-width: 992px) {
  .mr-md-7 {
    margin-right: 70px;
  }

  .pr-md-7 {
    padding-right: 70px;
  }
}

@media (min-width: 992px) {
  .mr-md-8 {
    margin-right: 80px;
  }

  .pr-md-8 {
    padding-right: 80px;
  }
}

@media (min-width: 992px) {
  .mr-md-9 {
    margin-right: 90px;
  }

  .pr-md-9 {
    padding-right: 90px;
  }
}

@media (min-width: 992px) {
  .mr-md-10 {
    margin-right: 100px;
  }

  .pr-md-10 {
    padding-right: 100px;
  }
}

@media (min-width: 1200px) {
  .m-lg-0 {
    margin: 0px;
  }

  .p-lg-0 {
    padding: 0px;
  }
}

@media (min-width: 1200px) {
  .m-lg-1 {
    margin: 10px;
  }

  .p-lg-1 {
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .m-lg-2 {
    margin: 20px;
  }

  .p-lg-2 {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .m-lg-3 {
    margin: 30px;
  }

  .p-lg-3 {
    padding: 30px;
  }
}

@media (min-width: 1200px) {
  .m-lg-4 {
    margin: 40px;
  }

  .p-lg-4 {
    padding: 40px;
  }
}

@media (min-width: 1200px) {
  .m-lg-5 {
    margin: 50px;
  }

  .p-lg-5 {
    padding: 50px;
  }
}

@media (min-width: 1200px) {
  .m-lg-6 {
    margin: 60px;
  }

  .p-lg-6 {
    padding: 60px;
  }
}

@media (min-width: 1200px) {
  .m-lg-7 {
    margin: 70px;
  }

  .p-lg-7 {
    padding: 70px;
  }
}

@media (min-width: 1200px) {
  .m-lg-8 {
    margin: 80px;
  }

  .p-lg-8 {
    padding: 80px;
  }
}

@media (min-width: 1200px) {
  .m-lg-9 {
    margin: 90px;
  }

  .p-lg-9 {
    padding: 90px;
  }
}

@media (min-width: 1200px) {
  .m-lg-10 {
    margin: 100px;
  }

  .p-lg-10 {
    padding: 100px;
  }
}

@media (min-width: 1200px) {
  .mt-lg-0 {
    margin-top: 0px;
  }

  .pt-lg-0 {
    padding-top: 0px;
  }
}

@media (min-width: 1200px) {
  .mt-lg-1 {
    margin-top: 10px;
  }

  .pt-lg-1 {
    padding-top: 10px;
  }
}

@media (min-width: 1200px) {
  .mt-lg-2 {
    margin-top: 20px;
  }

  .pt-lg-2 {
    padding-top: 20px;
  }
}

@media (min-width: 1200px) {
  .mt-lg-3 {
    margin-top: 30px;
  }

  .pt-lg-3 {
    padding-top: 30px;
  }
}

@media (min-width: 1200px) {
  .mt-lg-4 {
    margin-top: 40px;
  }

  .pt-lg-4 {
    padding-top: 40px;
  }
}

@media (min-width: 1200px) {
  .mt-lg-5 {
    margin-top: 50px;
  }

  .pt-lg-5 {
    padding-top: 50px;
  }
}

@media (min-width: 1200px) {
  .mt-lg-6 {
    margin-top: 60px;
  }

  .pt-lg-6 {
    padding-top: 60px;
  }
}

@media (min-width: 1200px) {
  .mt-lg-7 {
    margin-top: 70px;
  }

  .pt-lg-7 {
    padding-top: 70px;
  }
}

@media (min-width: 1200px) {
  .mt-lg-8 {
    margin-top: 80px;
  }

  .pt-lg-8 {
    padding-top: 80px;
  }
}

@media (min-width: 1200px) {
  .mt-lg-9 {
    margin-top: 90px;
  }

  .pt-lg-9 {
    padding-top: 90px;
  }
}

@media (min-width: 1200px) {
  .mt-lg-10 {
    margin-top: 100px;
  }

  .pt-lg-10 {
    padding-top: 100px;
  }
}

@media (min-width: 1200px) {
  .mb-lg-0 {
    margin-bottom: 0px;
  }

  .pb-lg-0 {
    padding-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .mb-lg-1 {
    margin-bottom: 10px;
  }

  .pb-lg-1 {
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .mb-lg-2 {
    margin-bottom: 20px;
  }

  .pb-lg-2 {
    padding-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .mb-lg-3 {
    margin-bottom: 30px;
  }

  .pb-lg-3 {
    padding-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .mb-lg-4 {
    margin-bottom: 40px;
  }

  .pb-lg-4 {
    padding-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .mb-lg-5 {
    margin-bottom: 50px;
  }

  .pb-lg-5 {
    padding-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .mb-lg-6 {
    margin-bottom: 60px;
  }

  .pb-lg-6 {
    padding-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .mb-lg-7 {
    margin-bottom: 70px;
  }

  .pb-lg-7 {
    padding-bottom: 70px;
  }
}

@media (min-width: 1200px) {
  .mb-lg-8 {
    margin-bottom: 80px;
  }

  .pb-lg-8 {
    padding-bottom: 80px;
  }
}

@media (min-width: 1200px) {
  .mb-lg-9 {
    margin-bottom: 90px;
  }

  .pb-lg-9 {
    padding-bottom: 90px;
  }
}

@media (min-width: 1200px) {
  .mb-lg-10 {
    margin-bottom: 100px;
  }

  .pb-lg-10 {
    padding-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  .ml-lg-0 {
    margin-left: 0px;
  }

  .pl-lg-0 {
    padding-left: 0px;
  }
}

@media (min-width: 1200px) {
  .ml-lg-1 {
    margin-left: 10px;
  }

  .pl-lg-1 {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  .ml-lg-2 {
    margin-left: 20px;
  }

  .pl-lg-2 {
    padding-left: 20px;
  }
}

@media (min-width: 1200px) {
  .ml-lg-3 {
    margin-left: 30px;
  }

  .pl-lg-3 {
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .ml-lg-4 {
    margin-left: 40px;
  }

  .pl-lg-4 {
    padding-left: 40px;
  }
}

@media (min-width: 1200px) {
  .ml-lg-5 {
    margin-left: 50px;
  }

  .pl-lg-5 {
    padding-left: 50px;
  }
}

@media (min-width: 1200px) {
  .ml-lg-6 {
    margin-left: 60px;
  }

  .pl-lg-6 {
    padding-left: 60px;
  }
}

@media (min-width: 1200px) {
  .ml-lg-7 {
    margin-left: 70px;
  }

  .pl-lg-7 {
    padding-left: 70px;
  }
}

@media (min-width: 1200px) {
  .ml-lg-8 {
    margin-left: 80px;
  }

  .pl-lg-8 {
    padding-left: 80px;
  }
}

@media (min-width: 1200px) {
  .ml-lg-9 {
    margin-left: 90px;
  }

  .pl-lg-9 {
    padding-left: 90px;
  }
}

@media (min-width: 1200px) {
  .ml-lg-10 {
    margin-left: 100px;
  }

  .pl-lg-10 {
    padding-left: 100px;
  }
}

@media (min-width: 1200px) {
  .mr-lg-0 {
    margin-right: 0px;
  }

  .pr-lg-0 {
    padding-right: 0px;
  }
}

@media (min-width: 1200px) {
  .mr-lg-1 {
    margin-right: 10px;
  }

  .pr-lg-1 {
    padding-right: 10px;
  }
}

@media (min-width: 1200px) {
  .mr-lg-2 {
    margin-right: 20px;
  }

  .pr-lg-2 {
    padding-right: 20px;
  }
}

@media (min-width: 1200px) {
  .mr-lg-3 {
    margin-right: 30px;
  }

  .pr-lg-3 {
    padding-right: 30px;
  }
}

@media (min-width: 1200px) {
  .mr-lg-4 {
    margin-right: 40px;
  }

  .pr-lg-4 {
    padding-right: 40px;
  }
}

@media (min-width: 1200px) {
  .mr-lg-5 {
    margin-right: 50px;
  }

  .pr-lg-5 {
    padding-right: 50px;
  }
}

@media (min-width: 1200px) {
  .mr-lg-6 {
    margin-right: 60px;
  }

  .pr-lg-6 {
    padding-right: 60px;
  }
}

@media (min-width: 1200px) {
  .mr-lg-7 {
    margin-right: 70px;
  }

  .pr-lg-7 {
    padding-right: 70px;
  }
}

@media (min-width: 1200px) {
  .mr-lg-8 {
    margin-right: 80px;
  }

  .pr-lg-8 {
    padding-right: 80px;
  }
}

@media (min-width: 1200px) {
  .mr-lg-9 {
    margin-right: 90px;
  }

  .pr-lg-9 {
    padding-right: 90px;
  }
}

@media (min-width: 1200px) {
  .mr-lg-10 {
    margin-right: 100px;
  }

  .pr-lg-10 {
    padding-right: 100px;
  }
}

.login-logo {
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  background-color: #fff;
}

.logo:hover,
.logo:focus {
  background-color: #eee;
}

.logo .logo-lg {
  width: auto;
  margin: 0 auto;
  height: 50px;
}

.logo .logo-lg img {
  display: block;
  width: auto;
  height: 50px;
  margin: 0 auto;
}

.logo .logo-mini img {
  width: 70%;
  max-width: 33px;
}

.toolbar.pagetop {
  display: block;
  margin: 20px -10px;
}

.toolbar.pagetop .btn-app {
  min-width: 115px;
  height: 75px;
}

.toolbar.pagetop .btn-app>.fa,
.toolbar.pagetop .btn-app>.glyphicon,
.toolbar.pagetop .btn-app>.ion {
  margin-bottom: 5px;
}

.box-header,
.box-body,
.box-footer {
  padding: 15px 20px;
}

.btn-primary {
  background-color: #ba9a3a;
  border-color: #ba9a3a;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:active,
.btn-primary:focus {
  background-color: #a67e31;
  border-color: #a67e31;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #ba9a3a;
  border-color: #ba9a3a;
}

.checkbox.icheck label div,
.radio.icheck label div {
  margin-right: 10px;
}

.table .btn {
  margin-right: 0.5rem;
}

.table .btn:last-child {
  margin-right: 0;
}

body .ui-paginator {
  background-color: transparent !important;
  border: 0 !important;
  margin: 20px 0;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  background-color: #999 !important;
}

.row~.table-responsive {
  margin-top: 15px;
}

.ui-multiselect {
  display: block !important;
}

body .ui-dialog .ui-dialog-content {
  overflow-x: hidden;
}

.fileupload {
  position: relative;
  display: block;
  width: 100px;
  height: 35px;
  cursor: pointer;
  margin: 20px 0;
}

.fileupload [type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  opacity: 0;
  cursor: pointer;
}

.chips-container {
  position: relative;
  display: block;
  width: 100%;
  margin: 15px -5px 0;
  text-align: left;
}

.chips-container .chips-item {
  position: relative;
  display: inline-block;
  list-style-type: none;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 100px;
  padding: 8px 15px;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  color: #555;
}

.public-profile {
  position: relative;
  display: block;
}

.public-profile .info-flex {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  width: 100%;
}

.public-profile .info-flex .title {
  width: 30%;
  text-align: right;
  font-weight: bold;
}

.public-profile.public .info-flex .title {
  width: 25%;
}

.public-profile .info-flex .title,
.public-profile .info-flex .description {
  position: relative;
  padding: 20px;
}

.public-profile .info-flex .description {
  border-left: 1px solid #eee;
  width: 70%;
}

.public-profile.public .info-flex .description {
  width: 75%;

}

.public-profile .info-flex .description.first {
  min-height: 240px;
}

.public-profile .info-flex .title .profile-photo {
  position: relative;
  display: inline-block;
  width: 200px;
  height: auto;
}

.public-profile .info-flex .title .profile-photo img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.public-profile .info-flex .title h3 {
  font-size: 18px;
  font-weight: 600;
  color: #232323;
}

.public-profile .info-flex .description .table thead {
  background-color: #eee;
}

.public-profile .info-flex.languages .description .badge {
  display: block;
  width: 23px;
  height: 23px;
  margin: 0;
  padding: 0;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  text-align: center;
  line-height: 24px;
}

.landing-dashboard a {
  color: inherit !important;
}

.landing-dashboard a:focus,
.landing-dashboard a:hover {
  color: #ba9a3a !important;
}

.landing-dashboard a .info-box-number {
  font-size: 40px;
  color: #545452;
}

.table-responsive .ui-table {
  min-width: 660px;
}

.ui-toast {
  z-index: 9999 !important;
}

.user-panel>.image {
  width: 45px;
  height: 45px;
  overflow: hidden;
}

.user-panel>.image>img {
  height: 45px;
  display: block;
  margin: 0 auto;
}

body .ui-confirmdialog .ui-dialog-titlebar {
  border: 0 !important;
  color: #ffffff !important;
  background-color: #c12d1a !important;
}

body .ui-confirmdialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
  color: #fff !important;
}

body .ui-confirmdialog .ui-dialog-titlebar .ui-dialog-titlebar-icon:hover,
body .ui-confirmdialog .ui-dialog-titlebar .ui-dialog-titlebar-icon:focus {
  color: #232323 !important;
}

body .ui-confirmdialog .ui-dialog-content {
  border: 0 !important;
  background-color: #d73926 !important;
}

body .ui-confirmdialog .ui-dialog-content .ui-confirmdialog-icon,
body .ui-confirmdialog .ui-dialog-content .ui-confirmdialog-message {
  color: #fff !important;
}

body .ui-confirmdialog .ui-dialog-footer {
  border: 0 !important;
  color: #ffffff !important;
  background-color: #c12d1a !important;
}

body .ui-confirmdialog .ui-dialog-footer .ui-button:first-child {
  background-color: #343a40;
  border-color: #343a40;
  margin-right: 0;
}

body .ui-confirmdialog .ui-dialog-footer .ui-button:first-child:hover,
body .ui-confirmdialog .ui-dialog-footer .ui-button:first-child:focus {
  background-color: #23272b;
  border-color: #1d2124;
}

body .ui-confirmdialog .ui-dialog-footer .ui-button:last-child {
  color: #404040;
  background-color: #ffffff;
  border-color: #ececec;
  float: left;
  float: left;
}

body .ui-confirmdialog .ui-dialog-footer .ui-button:last-child:hover,
body .ui-confirmdialog .ui-dialog-footer .ui-button:last-child:focus {
  background-color: #ccc;
  border-color: #ddd;
}

@media (max-width: 768px) {
  .public-profile .info-flex {
    flex-direction: column;
  }

  .public-profile .info-flex .title,
  .public-profile .info-flex .description {
    width: 100%;
    text-align: left;
    padding-bottom: 0;
  }

  .public-profile .info-flex .description {
    border-left: 0;
    border-top: 1px solid #eee;
  }

  .public-profile .info-flex .title .profile-photo {
    margin-bottom: 20px;
  }

  .public-profile .info-flex .title h3 {
    font-weight: 20px;
    color: #ba9a3a;
  }

  .public-profile .info-flex .description.first {
    min-height: 0;
  }
}
body .ui-table .ui-table-thead > tr > th, body .ui-table .ui-table-thead > tr > td, body .ui-table .ui-table-tbody > tr > td, body .ui-table .ui-table-tbody > tr > th{
  word-break: break-word;
}