<div class="parent" style="text-align: center; background: #ccc;">
  <table style="text-align: center;width: 100%;height: 100vh;font-family: inherit;">
    <thead>
      <tr>
        <th scope="col"></th>
      </tr>
      </thead>
    <tbody>
    <tr class="english">
      <td style="vertical-align: middle;">
        <h1 style="font-size: 8rem;font-weight: 400;color: #333;margin: 0 0 20px"><i class=" fa fa-info-circle"
                                                                                     aria-hidden="true"></i></h1>

        <p style="margin-bottom: 10px;font-weight: 400;font-size: 1.6rem; line-height: 2; direction: rtl"
           class="arabic-font">
          إنك تستخدم متصفح غير مدعوم من قبل منصة منارة. للتمتع بأفضل تجربة، الرجاء استخدام أحد المتصفحات التالية:
          <br>Google Chrome نسخة 56+، Firefox نسخة 51+، Microsoft Edge نسخة 39+ ، Safari نسخة 10+
        </p>
        <h1 style="margin-bottom: 20px;font-weight: 400;font-size: 1.6rem;">You are currently using an unsupported/ outdated browser.</h1>
        <p style="margin-bottom: 10px;font-weight: 400;font-size: 1.6rem; line-height: 2;">Note: This website is best
          viewed on Google Chrome version 56+, Firefox version 51+, Microsoft Edge version 39+ or Safari version
          10+.</p>

        <a href="https://www.google.com/chrome/" target="_new">Google Chrome</a>
        <a href="https://www.mozilla.org/en-US/firefox/new/?redirect_source=firefox-com" target="_new">Mozila
          Firefox</a>
        <a href="https://www.apple.com/safari/" target="_new">Apple Safari</a>
        <a href="https://www.microsoft.com/en-us/windows/microsoft-edge" target="_new">Microsoft Edge</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
