<div class="modal-header modalclass" dir="auto">
  <!-- <span [ngClass]="modal-title pull-left"></span> -->
  <h4 class="modal-title pull-left">{{ lang == 'en' ? 'Report' : arabicfn('report')}}</h4>
  <button type="button" class="close pull-right" [ngClass]="{'m-0 p-0': lang == 'ar'}" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" dir="auto">
  <div class="row">
    <div class="form-group col-sm-4" [ngClass]="{'ar-rtl': lang == 'ar'}">
      <label for="name">{{lang == 'en' ? 'Reference Number' : arabicfn('referencenumber')}}</label>
      <input type="text" class="form-control" [(ngModel)]="reportFilter.ReferenceNumber" id="Subject">
    </div>
    <div class="form-group col-12 col-md-4" [ngClass]="{'ar-rtl': lang == 'ar'}">
      <label for="Date">{{lang == 'en' ? 'Event Type' : arabicfn('eventtype')}}</label>
      <div class="position-relative">
        <ng-select class="status-ddown" [items]="EventTypes" [(ngModel)]="reportFilter.EventType" [closeOnSelect]="true"
          bindLabel="label" bindValue="value" placeholder="All">
        </ng-select>
      </div>
    </div>
    <div class="form-group col-12 col-md-4" [ngClass]="{'ar-rtl': lang == 'ar'}">
      <label for="employeeCode">{{lang == 'en' ? 'Event Requestor' : arabicfn('eventrequestor')}}</label>
      <input type="text" [(ngModel)]="reportFilter.EventRequestor" class="form-control" id="eventName">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-4" [ngClass]="{'ar-rtl': lang == 'ar'}">
      <label for="Date Range From">{{lang == 'en' ? 'Start Date' : arabicfn('startdate')}}</label>
      <div class="position-relative">
        <input type="text" class="form-control" [(ngModel)]="reportFilter.DateFrom" bsDatepicker #fdp="bsDatepicker"
          [bsConfig]="bsConfig">
        <span (click)="fdp.toggle()"><i class="far fa-calendar date" [ngClass]="{'ar-rtl-icon': lang == 'ar'}"></i></span>
      </div>
    </div>
    <div class="form-group col-sm-4" [ngClass]="{'ar-rtl': lang == 'ar'}">
      <label for="Date Range From">{{lang == 'en' ? 'End Date' : arabicfn('enddate')}}</label>
      <div class="position-relative">
        <input type="text" class="form-control" [(ngModel)]="reportFilter.DateTo" bsDatepicker #tdp="bsDatepicker"
          [bsConfig]="bsConfig">
        <span (click)="tdp.toggle()"><i class="far fa-calendar date" [ngClass]="{'ar-rtl-icon': lang == 'ar'}"></i></span>
      </div>
    </div>
    <div class="form-group col-12 col-md-4" [ngClass]="{'ar-rtl': lang=='ar'}">
      <label for="status"> {{ lang == 'en' ? 'Smart Search' : arabic.words.smartsearch }} </label>
      <input type="text" class="form-control" [(ngModel)]="reportFilter.SmartSearch" id="SmartSearch">
    </div>
    <div class="col-md-12" *ngIf="dateValidation()" [ngClass]="{'ar-rtl': lang=='ar'}">
      <p class="text-danger">
        {{ lang == 'en' ? 'Please enter a valid End Date' : arabic.words.pleaseenteravalidenddate  }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12 col-md-4" [ngClass]="{'ar-rtl': lang=='ar'}">
      <label for="status">{{ lang == 'en' ? ' Status' : arabic.words.status }}</label>
      <ng-select
        class="status-ddown"
        [items]="StatusList"
        [closeOnSelect]="true"
        bindLabel="DisplayName"
        bindValue="DisplayName"
        placeholder=""
        [(ngModel)]="reportFilter.Status">
      </ng-select>
    </div>
  </div>
</div>
<div class="modal-footer" dir="auto" [ngClass]="{'ar-rtl': lang == 'ar'}">
  <button type="button"  [ngClass]="{'ar-rtl': lang == 'ar'}" class="rounded-btn" (click)="Download()">{{lang == 'en' ? 'Download Excel' : arabicfn('downloadexcel')}}</button>
</div>
