<div class="page-form-wrapper meeting-form">
  <div class="form-title" *ngIf="screenStatus === 'create'">
    CREATE MEETING
  </div>
  <div class="form-title" *ngIf="screenStatus === 'view'">
    VIEW MEETING
  </div>
  <div class="container-fluid py-2">
    <div class="row" *ngIf="screenStatus === 'view'">
      <div class="form-group col-12 col-md-4" >
        <label for="Ref ID">Meeting ID</label>
        <input type="text" class="form-control" [(ngModel)]="Meeting.ReferenceNumber" [disabled]="true" id="Meeting_ID">
      </div>
    </div>
    <hr *ngIf="screenStatus === 'view'">
    <div class="row">
      <div class="form-group col-12 col-md-4" >
        <label for="Organizer De">Organizer Office/Department</label>
        <ng-select
          class="status-ddown"
          [items]="organizerDeptList"
          [closeOnSelect]="true"
          [(ngModel)]= "Meeting.OrganizerDepartmentID"
          bindLabel="OrganizationUnits"
          bindValue="OrganizationID"
          (change)="onOrganizerSelect()"
          [disabled]="true"
          placeholder="Select Organizer Department">
        </ng-select>
      </div>
      <div class="form-group col-12 col-md-4">
        <label for="Organizer Name">Organizer Name</label>
        <ng-select
          class="status-ddown"
          [items]="organizerList"
          [closeOnSelect]="true"
          [(ngModel)]="Meeting.OrganizerUserID"
          bindLabel="EmployeeName"
          [disabled]="true"
          bindValue="UserID"
          placeholder="Select Organizer name">
        </ng-select>
        </div>
        <div class="form-group col-12 col-md-4" [ngClass]="{'required': editMode}">
          <label for="Subject">Subject</label>
          <input type="text" class="form-control" [disabled]="!editMode" placeholder="Subject" [(ngModel)]="Meeting.Subject" id="Subject">
        </div>
    </div>
    <div class="row">
      <div class="form-group col-12 col-md-4" [ngClass]="{'required': editMode}">
        <label for="location">Location</label>
        <input type="text" class="form-control" [disabled]="!editMode" placeholder="Location" [(ngModel)]="Meeting.Location" id="location">
      </div>
      <div class="form-group col-12 col-md-4" >
        <label for="type">Meeting Type</label>
        <ng-select
          class="status-ddown"
          [items]="MeetingList"
          [closeOnSelect]="true"
          [(ngModel)]="Meeting.MeetingType"
          bindLabel="MeetingTypeName"
          [disabled]="!editMode"
          bindValue="MeetingID"
          placeholder="Select Meeting Type">
        </ng-select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 col-md-4" [ngClass]="{'required': editMode}">
        <label for="Date">Start Date / Time</label>
        <div class="position-relative">
          <input
            type="text"
            class="form-control"
            [disabled]="!editMode"
            [maxDate]="maxDate(0)"
            [(ngModel)]="Meeting.StartDateTime"
            placeholder="Select Start Time"
            bsDatepicker
            #dp1="bsDatepicker"
            [bsConfig]="bsConfig">
          <span (click)="editMode ? dp1.toggle(): ''"><i class="far fa-calendar date"></i></span>
        </div>
      </div>
      <div class="form-group col-12 col-md-4">
        <label for="time"></label>
        <ng-select
          class="status-ddown time-field"
          [items]="timeList"
          [(ngModel)]="Meeting.StartTime"
          (change)="onStartTimeSelect()"
          [closeOnSelect]="true"
          [disabled]="!editMode"
          bindLabel="label"
          bindValue="value"
          placeholder="Select Time">
        </ng-select>
        <div class="row">
          <div class="col-12">
            <span class="text-danger" *ngIf="showValidTimeAlert">
              Please select valid Start Time.
            </span>
            <!-- <span class="text-danger">
              Start Date should be less than End Date and Time
            </span> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 col-md-4" [ngClass]="{'required': editMode}">
        <label for="Date">End Date / Time</label>
        <div class="position-relative">
          <input type="text" class="form-control"
          [disabled]="!editMode"
          [(ngModel)]="Meeting.EndDateTime"
          placeholder="Select End Time"
          bsDatepicker
          [minDate]="minDate(0)"
          #dp2="bsDatepicker"
          [bsConfig]="bsConfig">
          <span (click)="screenStatus!='view' ? dp2.toggle(): ''"><i class="far fa-calendar date"></i></span>
        </div>
        <div class="row" *ngIf="Meeting.EndDateTime && checkStartTime()">
          <div class="col-12">
            <span class="text-danger">
              Please select Start Date and Time.
            </span>
          </div>
        </div>
      </div>
      <div class="form-group col-12 col-md-4" >
        <label for="time"></label>
        <ng-select
          class="status-ddown time-field"
          [items]="timeList"
          [closeOnSelect]="true"
          [disabled]="!editMode"
          (change)="onEndTimeSelect()"
          [(ngModel)]="Meeting.EndTime"
          bindLabel="label"
          bindValue="value"
          placeholder="Select Time">
        </ng-select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 col-md-4" [ngClass]="{'required': editMode}">
        <label for="Source Name">Invitees</label>
        <div class="checkboxGroup">
          <div class="checkbox-box">
            <div class="form-field">
              <input type="checkbox" [disabled]="!editMode" id="c-cb" [(ngModel)]="Meeting.IsInternalInvitees" name="c-cb"/>
              <label for="c-cb" class="custom">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  viewBox="209.667 9.667 589.37 540.667">
                <rect id="" x="211.667" y="11.667" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" width="536.667" height="536.667"/>
                <polygon id="checkmark" stroke="#A39161" stroke-miterlimit="10" points="451.92,291.724 254.569,205.919 211.667,220.22
                  451.92,463.333 798,28.589 737.937,28.589 "/>
                </svg>
              </label>
              <span class="checkbox-text" >Internal</span>
            </div>
          </div>
          <div class="checkbox-box smsBox">
            <div class="form-field external-checkbox">
              <input type="checkbox" id="c-cb1" [disabled]="!editMode" [(ngModel)]="Meeting.IsExternalInvitees" name="c-cb2"/>
              <label for="c-cb1" class="custom">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  viewBox="209.667 9.667 589.37 540.667">
                <rect id="" x="211.667" y="11.667" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" width="536.667" height="536.667"/>
                <polygon id="checkmark" stroke="#A39161" stroke-miterlimit="10" points="451.92,291.724 254.569,205.919 211.667,220.22
                  451.92,463.333 798,28.589 737.937,28.589 "/>
                </svg>
              </label>
              <span class="checkbox-text" >External</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr *ngIf="Meeting.IsInternalInvitees">
    <div *ngIf="Meeting.IsInternalInvitees">
      <div  class="row" *ngFor="let internal of Meeting.InternalInvitees; let ii = index;">
        <div class="form-group col-12 col-md-4" [ngClass]="{'required': editMode && ii == 0 }">
          <label for="Organizer De">Office/Department</label>
          <ng-select
            class="status-ddown"
            [items]="departmentList"
            [closeOnSelect]="true"
            [disabled]="!editMode"
            [(ngModel)]="internal.DepartmentID"
            bindLabel="OrganizationUnits"
            bindValue="OrganizationID"
            (change)="onDepartmentSelect()"
            placeholder="Select Department">
          </ng-select>
        </div>
        <div class="form-group col-12 col-md-4" [ngClass]="{'required': editMode && ii == 0}" >
          <label for="Organizer Name">Name</label>
          <ng-select
            class="status-ddown"
            [items]="userList"
            [(ngModel)]="internal.UserID"
            [closeOnSelect]="true"
            [disabled]="!editMode"
            bindLabel="EmployeeName"
            bindValue="UserID"
            placeholder="Select Name">
          </ng-select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12 col-md-4">
          <a class="addMore" (click)="editMode ? addMore('Internal'):''">+ Add More Internal Invitees</a>
        </div>
      </div>
    </div>
    <hr>
    <div *ngIf="Meeting.IsExternalInvitees">
      <div class="row" *ngFor="let external of Meeting.ExternalInvitees; let ei = index;">
        <div class="form-group col-12 col-md-4" [ngClass]="{'required': editMode && ei == 0}">
          <label for="Organization">Organization</label>
          <input type="text" class="form-control" [disabled]="!editMode" placeholder="Organization" [(ngModel)]="external.Organization" id="Organization">
        </div>
        <div class="form-group col-12 col-md-4" [ngClass]="{'required': editMode && ei == 0}">
          <label for="Contact Person">Contact Person</label>
          <input type="text" class="form-control" [disabled]="!editMode" placeholder="Contact Person" [(ngModel)]="external.ContactPerson" id="contact">
        </div>
        <div class="form-group col-12 col-md-4">
          <label for="EMail">Email ID</label>
          <input type="text" class="form-control" (change)="checkOffMail()" [disabled]="!editMode" placeholder="Email ID" [(ngModel)]="external.EmailID" id="email_ID">
          <div class="row" *ngIf="external.validMail">
            <div class="col-12">
              <span class="text-danger">
                Please Enter a valid Email ID
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12 col-md-4">
          <a class="addMore" (click)="editMode ? addMore('External'):''">+ Add More External Invitees</a>
        </div>
      </div>
    </div>
    <hr *ngIf="Meeting.IsExternalInvitees">
    <div class="row" *ngFor="let field of Meeting.RemindMeAt; let ind = index;">
      <div class="form-group col-12 col-md-3">
        <label for="Date">Remind me at</label>
        <div class="position-relative">
          <input
          type="text"
          class="form-control"
          [maxDate]="Meeting.StartDateTime"
          placeholder="Select Remind Me at"
          [disabled]="!editMode"
          bsDatepicker
          #dp="bsDatepicker"
          [(ngModel)]="field.RemindMeDateTime"
          [bsConfig]="bsConfig">
          <span (click)="editMode ? dp.toggle(): ''"><i class="far fa-calendar date"></i></span>
        </div>
      </div>
      <div class="form-group col-12 col-md-4" >
        <label for="Date"></label>
        <div class="position-relative">
          <ng-select
            class="status-ddown time-field"
            placeholder="Select Time"
            [items]="timeList"
            [closeOnSelect]="true"
            [disabled]="!editMode"
            [(ngModel)]="field.remindTime"
            (change)="checkMeetingStart(ind)"
            bindLabel="label"
            bindValue="value">
          </ng-select>
        </div>
      </div>
      <div class="form-group col-12 col-md-12" >
        <div class="row" *ngIf="field.isValidDate">
          <div class="col-12">
            <span class="text-danger">
              Reminder should be less than Meeting Start Date and Time
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr *ngIf="Meeting.IsExternalInvitees">
    <div class="row">
      <div class="form-group col-12 col-md-4">
        <a class="addMore" (click)="editMode ? addMore('Reminder'):''">+ Add More Reminder</a>
      </div>
    </div>
  </div>
  <div *ngIf="this.screenStatus != 'create'" class="page-form-wrapper my-3 mx-3 p-4">
    <!-- <div class="row" *ngFor="let his of Meeting.MeetingCommunicationHistory"> -->
      <!-- <div class="col-auto" *ngIf="his.CreatedDateTime">
        <div class="rounded-btn">
          <img class="clock" src="assets/home/Meeting-clock.png">
        </div>
      </div>
      <div class="col p-2" *ngIf="his.Action">
        <div class="row">
          <div class="col-12">{{hisLog(his.Action)}} : {{his.CreatedBy}}</div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-12 comment">
          <app-comment-section [comments]="Meeting.MeetingCommunicationHistory" [commentType]="'Meeting'" [moduleId]="MeetingID" [moduleNameID]="'MeetingID'"></app-comment-section>
          <div class="row leave-comment-section">
            <div class="col-2 com-md-2 profile">
              <div class="comment-section-img">
                <img src="assets/home/user_male.png" class="user-ProfileImg"/>
              </div>
            </div>
            <div class="col-10 col-md-10 comment-text">
              <div class="comment-section-user-info">
                <p class="comment-section-username">{{currentUser.userName}}</p>
              </div>
              <div class="comment-section-content">
                <textarea class="form-control vertical-resize" [(ngModel)]="Meeting.Comments" id="NewCommentContent"
                placeholder="" rows="3"></textarea>
              </div>
              <div class="comment-reply-section">
                <button
                  class="rounded-btn"
                  [disabled]="canComment()"
                  [ngClass]="{'disabled-btn': canComment()}"
                  (click)="sendMessage()"><i class="fa fa-paper-plane"></i> Add Comment</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
  <div class="row px-3 justify-content-center">
    <div class="col-auto p-1" *ngIf="editMode && MOMid">
      <button
        (click)="navigateToViewMOM()"
        [disabled]="inProgress"
        [ngClass]="{'disabled-btn': inProgress}"
        class="rounded-btn">
        VIEW MOM
      </button>
    </div>
    <div class="col-auto p-1" *ngIf="screenStatus == 'view' && editMode && !MOMid">
      <button
        (click)="navigateToMOM()"
        [disabled]="inProgress || activateCreateMOM"
        [ngClass]="{'disabled-btn': inProgress || activateCreateMOM}"
        class="rounded-btn">
        CREATE MOM
      </button>
    </div>
    <div class="col-auto p-1" *ngIf="hideCancelBtn">
      <button
        (click)="cancelMeeting()"
        [disabled]="cancelProgress || canComment()"
        [ngClass]="{'disabled-btn': cancelProgress || canComment()}"
        class="rounded-btn">
        CANCEL MEETING
      </button>
    </div>
    <div class="col-auto p-1" *ngIf="screenStatus === 'create'">
      <button
        (click)="CreateMeetingRequest('Submit')"
        class="rounded-btn"
        [disabled]="validateForm() || validateExternal() || validateInternal() || validateReminder() || inProgress || isRemiderTime"
        [ngClass]="{'disabled-btn': validateForm() || validateExternal() || validateInternal() || validateReminder() || inProgress || isRemiderTime}">
        SEND TO INVITEES
      </button>
    </div>
    <div class="col-auto p-1" *ngIf="screenStatus == 'view' && editMode && hideCancelBtn">
      <button
        (click)="CreateMeetingRequest('ReSchedule')"
        class="rounded-btn"
        [disabled]="validateForm() || validateInternal() || validateExternal() || validateReminder() || inProgress || isRemiderTime || !hideCancelBtn || disableReschedule || canComment()"
        [ngClass]="{'disabled-btn': validateForm() || validateExternal() || validateInternal() || validateReminder() || inProgress || isRemiderTime || !hideCancelBtn || disableReschedule || canComment()}">
        RESCHEDULE
      </button>
    </div>
  </div>
</div>
<!-- <div class="page-form-wrapper my-3 p-4">
  <div class="row ">
  </div>
</div> -->
<ng-template #template>
  <div class="modal-header modalclass" style="background: #726236; color: white;">
    <h4 class="modal-title pull-left">Success</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closemodal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="messagebody">{{message}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="rounded-btn" (click)="closemodal()">Ok</button>
  </div>
</ng-template>
