<div class="modal fade view-establishment" id="viewEstablishmentModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label">Establishments </h5>
                <button type="button" onclick="app.page.establishment.close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table hover">
                        <tbody />
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="app.page.establishment.close()" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
