.calendar-view {
  padding-bottom: 20px;
}

.filter-btns {
  padding-top: 30px;
}
.list-btn{
  background: #b59647;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 0px 20px;
}
.edit-btn{
  background: #3978e0;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 0px 20px;
}
@media only screen and (max-width : 320px){
  .availablereport {
    margin-top: 10px;
  }
}
.modalclass{
  background: #726236;
  color : white;
}

.search-container {
  padding: 31px 0 0 10px;
}
