<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configProtectedData />
  <connectionStrings />
  <appSettings>
    <add key="SQLConnectionstring" value="Server=QtK2DEV;database=RulersCourt;User Id=rrc1;Password=Qant@12345;"/>
    <add key="TechnicianKey" value="D462CE21-3D52-45F4-AD49-FD67AF82FCCF"/>
    <add key="ManageEngineUrl" value="http://localhost:8080/api/v3/requests"/>
    <add key="EncryptionKey" value="cqQZqWEP9sUMyDhKkId75D3KX4zQFdQFepZpkdqvPIg=" />    <!-- Do not change this -->
    <add key="EncryptionIV" value="5DgP2DrvJ9xKTn6jA+Dstg==" />    <!-- Do not change this -->
  </appSettings>
</configuration>