<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SQLConnectionstring" value="Server=DESKTOP-4HNM3R8\SQLEXPRESS;database=RulersCourt;User Id=sa;Password=sqlpwd;"/>
    <add key="TASPunchUrl" value="http://10.82.91.31:8095/api/Employee/PostEmployeeTransByNo"/>
    <add key="InTimeReasonCode" value="0"/>
    <add key="OutTimeReasonCode" value="1"/>
    <add key="TASLeaveMasterUrl" value="http://10.82.91.31:8095/api/Leaves/PostLeaveMaster"/>
    <add key="TASPostLeaveUrl" value="http://10.82.91.31:8095/api/Leaves/PostEmployeeLeaveOnline"/>
    <add key="EncryptionKey" value="cqQZqWEP9sUMyDhKkId75D3KX4zQFdQFepZpkdqvPIg="/>    <!-- Do not change this -->
    <add key="EncryptionIV" value="5DgP2DrvJ9xKTn6jA+Dstg=="/>    <!-- Do not change this -->
  </appSettings>
</configuration>