<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configProtectedData />
  <connectionStrings />
  <appSettings>
    <add key="SQLConnectionstring" value="zpukIqpNGkFo57txbP+i9yXSP/GhRooL1LV61E1s17PQsnNvtyjHPUI4Maa/ZXlcKqouj/nTXQsuEYtfAKrk2reIJdL7Vt2fRkDPDNVzqH9p2bWHDkMt3bS3epcLkPlV" />
    <add key="TASPunchUrl" value="tL+EuObcMESZ4A1Rpg3o+twB2fB4fdKiZGE4qmis4A3ClxjQozU7ihpweXZIopFqhsk/kG9Mzqg7wTUqo5vQGg==" />
    <add key="InTimeReasonCode" value="Rg8K29FbG2yZOP+w+eCyiQ==" />
    <add key="OutTimeReasonCode" value="Uva7fu7JoEDEUT3WlVJUXw==" />
    <add key="TASLeaveMasterUrl" value="tL+EuObcMESZ4A1Rpg3o+jNbha41yr+OTl9J1xbxhUJcdyyopK1wg9eLX/7uRF/uQHoAYXX1BlbUnKyVo23xlg==" />
    <add key="TASPostLeaveUrl" value="tL+EuObcMESZ4A1Rpg3o+jNbha41yr+OTl9J1xbxhUIIuq/Hy9eVL5favgGR2L4en8F8n5kNV2qtqZGWo5RQWw==" />
    <add key="EncryptionKey" value="cqQZqWEP9sUMyDhKkId75D3KX4zQFdQFepZpkdqvPIg=" />
    <add key="EncryptionIV" value="5DgP2DrvJ9xKTn6jA+Dstg==" />
  </appSettings>
</configuration>