@model eHS.Portal.Model.RFA;

<div class="card widget response-attachments">
    <div class="card-body">
        <div class="wrapper">
            <h5 class="font-weight-bold mb-3">Response Attachments</h5>
            <ul class="attachments">
            </ul>
        </div>
    </div>
</div>