<div class="modal fade foc-revert" id="focRevertModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label">Revert FOC</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="remarks">Notes</label>
                    <textarea id="notes" class="form-control" rows="5" maxlength="4000" placeholder="Enter your notes here." required></textarea>
                    <label class="error mt-2 text-danger" for="firstname">Please enter your notes</label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submitBtn" type="button" class="btn btn-outline-primary">Revert</button>
                <button id="cancelBtn" type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>