<div class="modal fade reinstate-decision" id="ReinstateDecisionModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label">Reinstate Decision</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Decision</label>
                    <select id="decision-select" class="select-single select2-hidden-accessible" style="width:100%" aria-hidden="true" required>
                        <option value="2">Extend Suspension</option>
                        <option value="4">Revocation</option>
                        <option value="7">Reinstate</option>
                    </select>
                </div>
                <div class="form-group" id="suspension-months" style="display: none;">
                    <label>No. of Months</label>
                    <input class="form-control integerInput custome_input" id="months" required />
                    <label class="error mt-2 text-danger">Please enter no. of months</label>
                </div>
                <div class="form-group">
                    <label for="remarks">Notes</label>
                    <textarea class="form-control" id="note" rows="5" maxlength="4000"
                              placeholder="Enter your notes here." required></textarea>
                    <label class="error mt-2 text-danger">Please enter notes</label>
                </div>
                <div class="attachments">
                </div>
                <div class="upload form-group">
                    <button type="button" class="btn btn-info btn-fw upload-btn">
                        <i class="mdi mdi-upload"></i>Attachment
                    </button>
                    <label class="error mt-2 text-danger">Please attach attachments</label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submitBtn" type="button" class="btn btn-outline-primary">Submit</button>
            </div>
            <div class="fileuploader">
            </div>
        </div>
    </div>

    <div class="templates">
        <div class="attachment item">
            <div class="thumb">
                <i class="mdi mdi-paperclip"></i>
            </div>
            <div class="details">
                <p class="file-name">{fileName}</p>
                <div class="buttons">
                    <p class="file-size">{fileSize}</p>
                </div>
            </div>
        </div>
    </div>
</div>