.container-fluid {
    line-height: 30px; 
}
.form-title {
    background: #a39161;
    color: #fff;
    padding: 10px 25px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}