@import '../../../../styles.scss';

.dashboard {
  .card {
    background: #f8f9fa;
    border-radius: inherit;
    cursor: pointer;
    .card-body {
      box-shadow: none !important;

      .count {
        color: $medium-color;
        font-size: 40px;
        font-weight: 900;
      }

      .name {
        font-size: 14px;
        /* font-weight: 600; */
        line-height: 16px;
        display: contents;
      }
      .txt-ct{
        text-align: center;
      }

      @media screen and (max-width:1200px) and(min-width:760px) {
        .count {
          color: $medium-color;
          font-size: 30px;
          font-weight: 900;
        }

        .name {
          font-size: 9px;
          /* font-weight: 600; */
          line-height: 5px;
        }

      }

      .progress {
        height: 8px !important;
        border-radius: 0 !important;

        .progress-bar{
            background: $medium-color !important;
        }
      }
    }
  }

  .shadow {
    box-shadow: 0px 0px 2px -1px;
  }

    .dashboard-user-cards{
        margin:15px 0;
        .user-card{
            background: #f8f9fa;
            border-radius: inherit;
            .user-card-content{
                box-shadow: none !important;
                margin: 0 auto;
                .user-card-icon{
                    display: block;
                    width: 60%;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 0;
                }
                .user-card-icon.profile{
                    width: 40%;
                }
                .user-card-title{
                    font-size: 16px;
                    font-weight: bold;
                    margin: 10px 0;
                }
            }
        }
    }


    .line-separator{
        padding:0px;
    }
}

.rounded-btn .fa-plus{
    margin: 5px;
}

.page-body-wrapper .title-sy{
    font-size: 20px;
    font-weight: bold;
}

.request-modal-body{
    .request-modal-icon{
        width:35%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        display: block;
    }
    .request-modal-content{
        font-size: 18px;
        margin: auto;
        cursor: pointer;
    }

    .line-separator{
        padding:0px;
    }
}

.create-request-modal.modal-header{
    padding: 0.5rem 1rem;
    background: #726236;
    color: white;
    border-bottom: 1px solid #726236;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    font-size: 12px;
    .modal-title{
        font-size: 1rem;
    }
    .close{
        color: #fff;
        opacity: 1;
    }
}

.attachment-delete-icon{
    border: none;
    border-radius: 10%;
    background: transparent;
    // color:red;
}

.search-btn {
  margin-top: 9px;
}
