
<div class="page-body-wrapper h-50" id="trigger-scroll">
  <div class="row p-3" >
    <div class="col p-4 shadow">
      <div class="row">
        <div class="col title-sy">Documents</div>
        <div class="col-auto">
          <button class="rounded-btn" (click)="uploadNewFile()" *ngIf="isHRDepartmentHeadUserID || isHRDepartmentTeamUserID"><i class="fa fa-plus"></i>Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-form-wrapper mb-3">
  <div class="form-title">
    FILTER BY
  </div>
  <div class="container-fluid page-form-body py-2">
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="name">Created By</label>
        <input type="text" class="form-control" [(ngModel)]="filterBy.Creator" id="creator">
      </div>
      <!-- <div class="form-group col-sm-4">
        <label for="Date Range From">Uploaded Date From</label>
        <div class="position-relative">
          <input type="text" class="form-control" [(ngModel)]="filterBy.ReqDateFrom" [value]="filterBy.ReqDateFrom | date:'dd-MM-yyyy'" bsDatepicker #fdp="bsDatepicker" [bsConfig]="bsConfig">
          <span (click)="fdp.toggle()"><i class="far fa-calendar date" ></i></span>
        </div>
      </div>
      <div class="form-group col-sm-4">
        <label for="Date Range From">Uploaded Date To</label>
        <div class="position-relative">
          <input type="text" class="form-control" [(ngModel)]="filterBy.ReqDateTo" bsDatepicker #tdp="bsDatepicker" [value]="filterBy.ReqDateTo | date:'dd-MM-yyyy'" [bsConfig]="bsConfig">
          <span (click)="tdp.toggle()"><i class="far fa-calendar date" ></i></span>
        </div>
      </div> -->
      <div class="form-group col-sm-4">
        <label for="power">Smart Search</label>
        <input type="text" name="smartSearch" class="form-control inputwidth" id="smart_search" placeholder="" [(ngModel)]="filterBy.SmartSearch">
      </div>
      <div class="form-group col-sm-2 p-md-4 pl-3">
        <button class="rounded-btn search-btn" (click)="onSearch()">Search</button>
      </div>
    </div>
  </div>
</div>
<div class="page-form-wrapper mb-3 d-md-block d-none">
  <ngx-datatable style="width: 100%" class="bootstrap" [rows]="rows" [columns]="columns" [headerHeight]="50"
    [columnMode]="'force'" [rowHeight]="'auto'">
  </ngx-datatable>
  <ng-template #creationDateTemplate let-row="row" let-value="value" let-i="index">
    {{row.CreatedDateTime | date:'dd/MM/yyyy'}}
  </ng-template>
  <ng-template #actionTemplate let-row="row" let-value="value" let-i="index">
    <div class="table-action-btn">
      <button class="table-view" (click)="downloadFile(row)"><i class="fas fa-download" style="cursor: pointer;"></i></button>
      <button *ngIf="isHRDepartmentHeadUserID || isHRDepartmentTeamUserID" (click)="openDeleteDocumentDialog(row)" class="attachment-delete-icon" name="Delete" ><i
          class="fas fa-trash-alt" style="cursor: pointer;"></i></button>
    </div>
  </ng-template>
  <ngb-pagination *ngIf="config.totalItems > 0" class="d-flex justify-content-center page-top" [(page)]="config.page"
      [maxSize]="config.maxSize" [pageSize]="config.itemsPerPage" [boundaryLinks]="true" [collectionSize]="config.totalItems" [rotate]="false"
      (pageChange)="onChangePage(config, $event)" (numPages)="numPages = $event"></ngb-pagination>
</div>
<div class="d-block d-md-none">
  <div class="card shadow page-form-wrapper my-3 d-block d-md-none" *ngFor="let hrDocsrow of rows">
    <div class="card-header">
      <div class="row">
        <div class="col-12"><span><b>Filename : </b></span><span>{{hrDocsrow.AttachmentsName}}</span></div>
        <div class="col-12"><span><b>Created By : </b></span><span>{{hrDocsrow.CreatedBy}}</span></div>
      </div>
    </div>
    <div class="card-body">
      <!-- <div class="row">
        <div class="col"><span><b>Request Type : </b></span><span> {{hrReqrow.RequestType}}</span></div>
        <div class="col"><span><b>Status : </b></span><span> {{hrReqrow.Status}}</span></div>
      </div>   -->
      <div class="row mar-top">
        <div class = "col">
            <span><b>Uploaded Date : </b></span><span> {{hrDocsrow.CreatedDateTime | date:'dd/MM/yyyy'}}</span>
        </div>
        <div class = "col-auto">
          <button class="table-view" (click)="downloadFile(hrDocsrow)"><i class="fas fa-download" style="cursor: pointer;"></i></button>
          <button *ngIf="isHRDepartmentHeadUserID || isHRDepartmentTeamUserID" (click)="openDeleteDocumentDialog(hrDocsrow)" class="attachment-delete-icon" name="Delete" ><i
              class="fas fa-trash-alt" style="cursor: pointer;"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #fileDeletetemplate>
    <div class="create-request-modal modal-header modalclass">
      <h4 class="modal-title pull-left">Delete File</h4>
      <button type="button" class="close pull-right" (click)="closeDialog()" aria-label="Close">
        <span aria-hidden="true" >&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p class="messagebody">Do you really want to delete this file?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="rounded-btn" (click)="deleteHrDocument()">Yes</button>
      <button type="button" class="rounded-btn" (click)="closeDialog()">No</button>
    </div>
</ng-template>
