<!-- <div class="page-wrapper">
    <div class="page-header">
      <app-page-header></app-page-header>
    </div>
    <div class="page-header-top">
      <app-page-header-top></app-page-header-top>
    </div>
    <div class="page-body">
      <ng-container *ngIf="router.url != '/home'">
        <div class="page-body-wrapper h-50">
        </div>
        <div class="row px-3">
          <div class="col-md-4 col-lg-3 p-0 p-md-3">
          </div>
          <div class="col-md-8 col-lg-9 p-0 p-md-3">
            <div class=""> -->
                <router-outlet></router-outlet>
            <!-- </div>
        </div>
      </div>        
      <div class="side-toolbar mt-5">
        <div class="side-tool light">
          <i class="fa fa-home"></i>
        </div>
        <div class="side-tool medium">
          <i class="fa fa-address-book"></i>
        </div>
        <div class="side-tool dark">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="page-footer">
    <app-page-footer></app-page-footer>
  </div>
</div> -->